<head>
    <title>Set new password</title>
</head>
<main>
    <div class="box">
        <div class="inner-box">
            <div class="form-wrap">    
                <form name="form" (ngSubmit)="submitPass()" #changpassForm="ngForm" [formGroup]="chpassForm" *ngIf="isDisplayed" @slideright>
                    <div class="wah-logo">
                        <img src="assets/image/coop-logo.png" alt="WAH Logo">
                        <p>WAHIE <br> Cooperative</p>
                    </div>

                    <div class="heading">
                        <h1>Set up your profile</h1>
                        <p>Password must be at least 8 characters.</p>
                    </div>
                
                    <div class="txt-field">
                     
                            <input type="hidden" name="id" id="id" value='{{ id }}'>
                         
          
                        
                        <div class="txt-wrap">

                            <label class="enter_pass" for="pass">Username</label>
                         
                            <input [type]="changetype?'':'text'" class="input-field" id="name" placeholder="Enter your username"  formControlName="name"
                            [(ngModel)]="chform.name"> 
                           
                        </div>
                        
                        <div class="txt-wrap">

                            <label class="enter_pass" for="pass">Password</label>
                            <input type="hidden" name="id" id="id" value='{{ id }}'>
                            <input [type]="changetype?'password':'text'" class="input-field" id="admin-pass" placeholder="Enter your new password"  formControlName="password"
                            [(ngModel)]="chform.password">
                            <div class="eye" (click)="viewpass()"><i [ngClass]="visible?'ti ti-eye-closed':'ti ti-eye'"></i></div> 
                           
                        </div>
                        <div class="meter">
                            <strength-meter [value]="chpassForm.value.password" (measure)="onStrengthChange($event)"></strength-meter>
                        </div>
                            
                        <div class="txt-wrap">
                            <label for="pass2">Confirm Password</label>
                            <input [type]="cchangetype?'password':'text'" class="input-field" id="admin-confirm-pass" placeholder="Confirm your new password"  formControlName="confirm_pass"
                            [(ngModel)]="chform.confirm_pass">
                            <div class="eye2" (click)="cviewpass()"><i [ngClass]="cvisible?'ti ti-eye-closed':'ti ti-eye'"></i></div>
                        </div>
                        <div class="notMatch" *ngIf="chpassForm.get('confirm_pass')!.touched && chpassForm.get('confirm_pass')!.invalid && chpassForm.controls['confirm_pass'].errors!['passwordMatch']">
                            <small>Password not match</small>
                        </div>
                        
                        <button type="submit" class="save">Save profile</button> 
                        <button [routerLink]="['/login']" type="submit" class="logout">Logout</button>

                    </div>
                </form>        
            </div>
            <!-- VECTOR BACKGROUND -->
            <div class="login-vector ">
                <img src="assets/image/Reset password-amico.png" class="login" *ngIf="isDisplayed" @slider>
            </div>
        </div>
    </div>
</main>