<main>
    <div class="box">
        <div class="inner-box">
            <div class="form-wrap">    
                <form  *ngIf="isDisplayed" @slideright>
                    <div class="wah-logo">
                        <img src="assets/image/coop-logo.png" alt="WAH Logo">
                        <p>WAHIE <br> Cooperative</p>
                    </div>

                    <div class="heading">
                        <h1>Your Account is not verified yet.</h1>
                        <p>Please input OTP first.  </p>
                    </div>
                
                    <a [routerLink]="['/login']" class="back">
                        <i class="ti ti-arrow-left"></i>Logout
                    </a>
                </form>   
            </div>

            <!-- VECTOR BACKGROUND -->
            <div class="Nverified-vector">
                <img src="assets/image/notverified.png" class="login" *ngIf="isDisplayed" @slider>
            </div>
        </div>
    </div>
</main>
