* {
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  animation: transitionIn 0.75s;

  .header {
    display: grid;
    margin-bottom: 1rem;

    .left-cont {
      grid-column: 1;

      .title {
        color: var(--primary-color);
      }
    }
    
    /* Add Button */
    .right-cont {
      text-align: right;
      margin-top: 1px;
      grid-column: 2;

      .btn-add {
        cursor: pointer;
        border: none;
        border-radius: 0.5rem;
        background: var(--primary-color);
        color: var(--panel-color);
        padding: 12px 20px 12px 14px;
      }
      .ti-plus {
        margin-right: 5px;
        font-size: 14px;
      }

      .btn-add:hover {
        background-color: var(--primary-alt);
      }
    }
  }
}


/* Payables */
.payables {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: .2rem;
  margin: 10px 0px;

  .unpaid-container {    
    width: 100%;

    .card-merge {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: .2rem;
      margin-top: .5rem;
      
  
      .overdue {
        border-radius: 0.645rem;
        background: #ff8000;
        width: 350px;
      }

      .open-inv {
        border-radius: 0.645rem;
        background: #0077c5;
        width: 350px;
      }

      .card-amount {
        font-weight: 500;
        font-size: 36px;
      }
    }
  }

  .paid-container {
    .paid {
      margin-top: .5rem;
      border-radius: 0.645rem;
      background: var(--green);
      width: 670px;
    }

    .card-amount {
      font-weight: 500;
      font-size: 36px;
    }
  }

  label {
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-grey);
  }

  .card {
    padding: 2rem 1rem;
    background: var(--grey);
    color: var(--panel-color);
  }

  .card-subtext {
    font-size: 18px;
  }
}

.payables > * {
  padding: .75rem 1.5rem .75rem 0;
}

@media (min-width: 768px) {
  .payables {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}


/* Search box */
.input-box {
  position: relative;
  height: 46px;
  max-width: 300px;
  width: 100%;
  margin-top: 1rem;

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .ti-search {
    left: 16px;
    font-size: 22px;
    color: var(--dark-grey-2);
  }

  input {
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    padding: 0 20px 0 50px;
    border-radius: 0.625rem;
    border: 1.6px solid var(--border-color);
    outline-color: var(--dark-grey-2);
    background-color: transparent;
  }

  input::placeholder {
    color: var(--dark-grey-2);
  }
}

/* Table */
.table-container {
  margin: auto;
  width: 100%;

  .table-content {
    width: 100%;
    margin: 20px 0;
    font-size: 0.9rem;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 0.625rem;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--border-color);

    thead {
      th {
        position: sticky;
        background-color: var(--grey);
        color: var(--primary-color);
        text-align: left;
        font-weight: bold;
        padding: 12px 16px;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--border-color);
        background-color: var(--panel-color);
        td {
          text-align: left;
          font-weight: 500;
          padding: 12px 16px;
          border-right: 1px solid var(--border-color);
        }
        .action-td {
          a {
            color: var(--primary-color);
            font-weight: 600;
          }
        }
      }

      tr:hover {
        td {
          cursor: pointer;
          color: var(--primary-color);
          background-color: var(--panel-color);
        }
      }
    }
  }
}


/* Pagination */
.pagination-controls {
  text-align: end;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 10px 20px;
}


