<main>
  <h1 class="title">Accounting</h1>
  
  <div class="new-transac">
    <button class="btn-add" [routerLink]="['../journal-entry']">
      <i class="ti ti-plus"></i>
      New journal entry
    </button>
  </div>
  
  <section class="payables">
    <div class="unpaid-container">
      <label>Unpaid Last 365 Days</label>
      <div class="card-merge">
        <div class="card overdue">
          <h3 class="card-amount">PHP0</h3>
          <span class="card-subtext">0 OVERDUE</span>
        </div>
        <div class="card open-inv">
          <h3 class="card-amount">PHP1,000</h3>
          <span class="card-subtext">5 OPEN INVOICES</span>
        </div>
      </div>
    </div>

    <div class="paid-container">
      <label>Paid</label>
      <div class="card paid">
        <h3 class="card-amount">PHP2,000</h3>
        <span class="card-subtext">7 PAID LAST 30 DAYS</span>
      </div>
    </div>
  </section>

  <section class="members-table">
    <div class="input-box">
      <i class="ti ti-search"></i>
      <input class="form-control" type="text" placeholder="Search Member" [(ngModel)]="term"/>
    </div>

    <div class="table-container">
      <table class="table-content">
        <thead>
          <th>MEMBERS</th>
          <th>EMAIL ADDRESS</th>
          <th>OPEN BALANCE</th>
          <th>ACTION</th>
        </thead>
        <tbody>
          <tr *ngFor="let member of memberList | filterMemName: term | paginate : { itemsPerPage: 5, currentPage: p }" >
           <td (click) = 'memberInfo( member.id )'>{{member.id}} {{member.first_name}}</td>
           <td (click) = 'memberInfo( member.id )'>{{member.email}}</td>
           <td (click) = 'memberInfo( member.id )'>{{member.id}}</td>
           <td class="action-td"><a [routerLink]="['../accounting/add-payment']">Receive payment</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <div class="pagination-controls">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</main>

