<main>
  <h1 class="title" [routerLink]="['../journal-entry']">Accounting</h1>
  <section class="recent-transaction">
    <div>
      <button class="Add" [routerLink]="['../accounting/journal-entry']">
        <span class="btnText"> New Journal Entry </span>
      </button>
    </div>
    <div class="section-div">
      <h2 class="section-title">Recent Transactions</h2>
    </div>

    <div class="table-filter">
      <div class="filter-field1">
        <label for="search-member" placeholder="Search Member">Member</label>

        <input
          class="form-control"
          type="text"
          placeholder="Search Member"
          [(ngModel)]="term"
        />
      </div>

      <div class="filter-field2">
        <label> Start Date</label>
        <input class="form-control" type="date" [(ngModel)]="startDate" name="sDate">
      </div>

      <div class="filter-field3">
        <label>End Date</label>
        <input class="form-control" type="date" [(ngModel)]="endDate" name="eDate">
      </div>

      <div class="filter-field4">
        <label>Type</label>
        <select [(ngModel)]="type" name="journal-type">
          <option [ngValue]="undefined" selected>All</option>
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="filter-field5">
        <label>Status</label>
        <select [(ngModel)]="stat" name="status">
          <option [ngValue]="undefined" selected>All</option>
          <option *ngFor="let stat of stats" [value]="stat">{{ stat }}</option>
        </select>
      </div>
    </div>

    <div class="table-container">
      <table class="table-content">
        <thead>
          <th>Date</th>
          <th>Type</th>
          <th>No.</th>
          <th>Member</th>
          <th>Due Date</th>
          <th>Balance</th>
          <th>Status</th>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let acc of account
                | filterName : term
                | filter : type
                | filter : stat
                | filterDate : transaction_date: endDate
                | paginate : { itemsPerPage: 5, currentPage: p }
            "
          >
            <td >{{ acc.transac.transaction_date }}</td>
            <td >{{ acc.entries.entry_name }}</td>
            <td >{{ acc.transaction_number }}</td>
            <td>{{ acc.transac.member.first_name +" "+ acc.transac.member.last_name }}</td>
            <td>{{ acc.DueDate }}</td>
            <td>{{ acc.Balance }}</td>
            <td>{{ acc.Status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div class="pagination-controls">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</main>

