<main>
  <div class="header">
    <div class="left-cont">
      <h1 class="title">Accounting</h1>
    </div>

    <div class="right-cont">
      <button class="btn-add" [routerLink]="['../accounting/journal-entry']">
        <i class="ti ti-plus"></i>
        New journal entry
      </button>
    </div>
  </div>

  <section class="payables">
  
    <div class="card-cont due-cont">
      <div class="card overdue" *ngIf="overdue.total_overdue; else noDue">
        <h3 class="card-amount">{{ overdue.total_overdue | currency:'PHP':'symbol-narrow':'1.2-2'}}</h3>
        <span class="card-subtext">{{ overdue.overdue_count }} OVERDUE</span>
      </div>

      <ng-template #noDue>
        <div class="card overdue">
          <h3 class="card-amount">{{ 0 | currency:'PHP':'symbol-narrow':'1.2-2'}}</h3>
          <span class="card-subtext">{{ overdue.overdue_count }} OVERDUE</span>
        </div>
      </ng-template>
    </div>
    
    <div class="card-cont open-cont">
      <div class="card open-inv" *ngIf="opentransac.total_open_balance; else noBal">
        <h3 class="card-amount">{{ opentransac.total_open_balance | currency:'PHP':'symbol-narrow':'1.2-2'}} </h3>
        <span class="card-subtext">{{ opentransac.open_balance_count }} OPEN TRANSACTIONS</span>
      </div>

      <ng-template #noBal>
        <div class="card open-inv">
          <h3 class="card-amount">{{ 0 | currency:'PHP':'symbol-narrow':'1.2-2'}} </h3>
          <span class="card-subtext">0 OPEN TRANSACTIONS</span>
        </div>
      </ng-template>
    </div>
    
    <div class="card-cont paid-cont">
      <div class="card paid" *ngIf="paidmem.total_payment; else noPaid">
        <h3 class="card-amount">{{paidmem.total_payment | currency:'PHP':'symbol-narrow':'1.2-2'}}</h3>
        <span class="card-subtext">{{paidmem.paid_count }} PAID LAST 30 DAYS</span>
      </div>

      <ng-template #noPaid>
        <div class="card paid">
          <h3 class="card-amount">{{0 | currency:'PHP':'symbol-narrow':'1.2-2'}}</h3>
          <span class="card-subtext">0 PAID LAST 30 DAYS</span>
        </div>
      </ng-template>
    </div>
    
  </section>

  <section class="members-table">
    <div class="input-box">
      <i class="ti ti-search"></i>
      <input class="form-control" type="text" placeholder="Search Member" [(ngModel)]="term"/>
    </div>

    <div class="table-container">
      <table class="table-content">
        <thead>
          <th>MEMBERS</th>
          <th>EMAIL ADDRESS</th>
          <th class="th-bal">OPEN BALANCE</th>
          <th class="th-act">ACTION</th>
        </thead>
        <tbody *ngFor="let member of memberList | filter: term | paginate : { itemsPerPage: 5, currentPage: p }; let i = index">
          <ng-container *ngFor="let bal of membalance">
            <tr *ngIf="member.id == bal.id">
              <td (click)="memberInfo(member.id)">{{ member.id }} {{ member.first_name }}</td>
              <td (click)="memberInfo(member.id)">{{ member.email }}</td>
              <td class="td-bal">{{ bal.total_open_balance | currency:'PHP':'symbol-narrow':'1.2-2' }}</td>
              <td class="td-action" (click)="memberAccounting(member.id)"><a>Receive payment</a></td>
            </tr>
          </ng-container>
        </tbody>

      </table>
    </div>
  </section>

  <div class="pagination-controls">
    <pagination-controls 
        [responsive]=true
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="p = $event">
      </pagination-controls>
  </div>
</main>

