*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  main{
    cursor: context-menu;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #3F0F88;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
  }
  
  .box{
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 600px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.50);
  }
  
  .inner-box{
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-wrap{
    position: absolute;
    height: 95%;
    width: 45%;
    top: 0;
    left: 0;
  }
  
  .login-vector{
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background-color: #0099FF;
    border-radius: 25px;
  }
  
  .login-vector img{
    width: 100%;
    height: 100%;
  }
  
  form{
    max-width: 310px;
    width: 100%;
    margin: 0 auto;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .wah-logo{
    display: flex;
    align-items: center;
    margin-top: 5px;
    transform: translate(-2.5%, -10%);
  }
  
  .wah-logo p{

    color: #3F0F88;
    font-size: .9rem;
    line-height: 100%;
    letter-spacing: 0.2px;
    font-weight: 700;
  }
  
  .wah-logo img{
    width: 50px;
    margin: -0.1rem;
  }
  

  
  .heading h1{
    font-size: 2rem;
    font-weight: 1000;
    color: #151111;
    letter-spacing: -0.5px;
  }
  
  .heading p{
    color: #707070;
    font-size: .80rem;
  }
  
  .txt-wrap{
    position: relative;
    height: 10px;
    margin-bottom: 10.5rem;
    text-align: center;
  }
  
  
  .reset{

    text-align: center;
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #3F0F88;
    color: #fff;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.1rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
    text-decoration: none;
  }
  
  .reset:hover{
    opacity: 80%;
  }
  
  .account{

    color: #707070;
    font-size: 0.9rem;
    text-align: center;
  
  }
  
  span{
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    padding-top: .2rem;
    transform: translate(50%, 50%);
  }
  
    .dot1 {
      margin-right: 5%;
    }
    .dot2 {
      margin-right: 5%;
    }
    .dot3 {
      margin-right: 5%;
    }
    .dot4 {
      margin-right: 5%;
      background-color: #3F0F88;
      color: #fff;
      border: #3F0F88;
    }
  
  span:hover{
    text-decoration: none;
    cursor:context-menu;
  }
    
  @media (max-width: 850px) {
    .box {
      height: auto;
      max-width: 550px;
      overflow: hidden;
    }
  
    h1, p{
      text-align: center;
    }
  
    .inner-box {
      position: static;
      transform: none;
      width: revert;
      height: revert;
      padding: 2rem;
    }
  
    .form-wrap {
      position: revert;
      width: 100%;
      height: auto;
    }
  
    .reg-wrap {
      position: revert;
      width: 100%;
      height: auto;
    }
  
    form {
      max-width: revert;
      padding: 1.5rem 2.5rem 2rem;
      transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    }
  
    .heading {
      margin: 2rem 0;
    }
  
    form.sign-up-form {
        transform: translateX(100%);
      }
    
      main.sign-up-mode form.sign-in-form {
        transform: translateX(-100%);
      }
    
      main.sign-up-mode form.sign-up-form {
        transform: translateX(0%);
      }
    
    .login-vector {
      position: revert;
      height: auto;
      width: 0%;
      padding: .5rem .5rem;
      display: flex;
    }
  
    .images-wrapper {
      display: none;
    }
  
    .text-slider {
      width: 100%;
    }
  }
    
  @media (max-width: 530px) {
    main {
      padding: 1rem;
    }
  
    .box {
      border-radius: 2rem;
    }
  
    .inner-box {
      padding: 1rem;
    }
  
    .login-vector {
      padding: 1rem 1rem;
      border-radius: 1.6rem;
      visibility:hidden;
    }
  
    .txt-wrap {
      margin-bottom: 3rem;
    }
  
    .text-group h2 {
      font-size: 1.2rem;
    }
  
    form {
      padding: 1rem 2rem 1.5rem;
    }
  }
    