<main>
    <div class="box">
        <div class="inner-box">
            <div class="form-wrap">    
                <form  *ngIf="isDisplayed" @slideright>
                    <div class="wah-logo">
                        <img src="assets/image/coop-logo.png" alt="WAH Logo">
                        <p>WAHIE <br> Cooperative</p>
                    </div>

                    <div class="heading">
                        <h1>All done!</h1>
                        <p>Your password has been reset. Click continue to log in. </p>
                    </div>
                
                    <div class="txt-field">
                        <div class="txt-wrap">
                            <button [routerLink]="['/login']" class="reset">Continue</button>
                        </div>     
                    </div>
                </form> 

                    <div class="account">
                        <div style="text-align:center"></div>
                            <span class="dot1">1</span>
                            <span class="dot2">2</span>
                            <span class="dot3">3</span>
                            <span class="dot4">4</span>
                    </div>   
            </div>
            <!-- VECTOR BACKGROUND -->
                <div class="done-vector">
                    <img src="assets/image/Completed-amico.png" class="login" *ngIf="isDisplayed" @slider>
                </div>
        </div>
    </div>
</main>
