<main>
  <h1 class="title">Members</h1>

  <div class="add-member">
    <button class="btn-add">
      <i class="ti ti-plus"></i>
      New member
    </button>
  </div>

  <section class="payables">
    <div class="unpaid-container">
      <label>Unpaid Last 365 Days</label>
      <div class="card overdue">
        <h3 class="card-amount">PHP0</h3>
        <span class="card-subtext">0 OVERDUE</span>
      </div>
      <div class="card open-inv">
        <h3 class="card-amount">PHP153,000</h3>
        <span class="card-subtext">5 OPEN INVOICES</span>
      </div>
    </div>

    <div class="paid-container">
      <label>Paid</label>
      <div class="card paid">
        <h3 class="card-amount">PHP280,000</h3>
        <span class="card-subtext">7 PAID LAST 30 DAYS</span>
      </div>
    </div>
  </section>

  <section class="members-table">
    <div class="input-box">
      <i class="ti ti-search"></i>
      <input type="text" placeholder="Search member" />
    </div>

    <div class="table-container">
      <table class="table-content">
        <thead>
          <th>MEMBERS</th>
          <th>EMAIL ADDRESS</th>
          <th>OPEN BALANCE</th>
        </thead>
        <tbody  *ngIf="members.length">
          <tr *ngFor="let member of members">
            <td>{{ member.predef }}-{{ member.account_id }}  {{ member.first_name }} {{ member.middle_name }} {{ member.last_name }} {{ member.suffix }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.address }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
