main {
  width: 100%;
  animation: transitionIn 0.75s;

  .title {
    color: var(--primary-color);
  }
}

.add-member {
  text-align: right;

  .btn-add {
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: var(--primary-color);
    color: var(--panel-color);
    padding: 12px 20px 12px 14px;

    .ti-plus {
      margin-right: 4px;
      font-size: 14px;
    }
  }
}

.input-box {
  position: relative;
  height: 46px;
  max-width: 300px;
  width: 100%;
  background: var(--panel-color);
  margin-top: 1rem;
  border-radius: 0.625rem;
  border: 1.6px solid var(--border-color);

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .ti-search {
    left: 16px;
    font-size: 22px;
    color: var(--dark-grey-2);
  }

  input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 0 20px 0 50px;
    background-color: transparent;
  }

  input::placeholder {
    color: var(--dark-grey-2);
  }
}

/* Table */
.table-container {
  margin: auto;
  width: 100%;

  .table-content {
    width: 100%;
    margin: 20px 0;
    font-size: 0.9rem;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 0.625rem;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--border-color);

    thead {
      th {
        position: sticky;
        background-color: var(--grey);
        color: var(--primary-color);
        text-align: left;
        font-weight: bold;
        padding: 12px 16px;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--border-color);
        background-color: var(--panel-color);
        td {
          text-align: left;
          font-weight: 500;
          padding: 12px 16px;
          border-right: 1px solid var(--border-color);
        }
      }

      tr:hover {
        td {
          cursor: pointer;
          color: var(--primary-color);
          background-color: var(--panel-color);
        }
      }
    }
  }
}
