<head><title>Set new password</title></head>
<main>
    <div class="box">
        <div class="inner-box">
            <div class="form-wrap">    
                <form *ngIf="isDisplayed" @slideright>
                    <div class="wah-logo">
                        <img src="assets/image/coop-logo.png" alt="WAH Logo">
                        <p>WAHIE <br> Cooperative</p>
                    </div>

                    <div class="heading">
                        <h1>Set new password</h1>
                        <p>Must be at least 8 characters.</p>
                    </div>
                
                    <div class="txt-field">
                        
                        <div class="txt-wrap">
                           
                            
                            <label class="enter_pass" for="pass"> Enter Password</label>
                            <form [formGroup]="form" name="form">
                               
                                <input [type]="changetype?'password':'text'" minlength="8" maxlength="32" class="input-field" id="pass" matInput placeholder="Input password"  formControlName="password" required>
                                <div class="eye" (click)="viewpass()"><i [ngClass]="visible?'ti ti-eye-closed':'ti ti-eye'"></i></div> 
                            </form>     
                            <div class="meter"> <strength-meter [value]="form.value.password" (measure)="onStrengthChange($event)"></strength-meter>
                            </div>
                        </div>
                            
                        <div class="txt-wrap">
                            <label for="pass2"> Confirm Password</label>
                            <input [type]="cchangetype?'password':'text'"  minlength="8" maxlength="32"  class="input-field" id="pass2" placeholder="Confirm your new password" required>
                            <div class="eye2" (click)="cviewpass()"><i [ngClass]="cvisible?'ti ti-eye-closed':'ti ti-eye'"></i></div>
                        </div>
                        
                            <a [routerLink]="['/pass-done']" class="save">Save new password</a>

                            <a [routerLink]="['/login']" class="back">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" 
                                width="25" height="25" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" 
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 12l14 0"></path>
                                <path d="M5 12l6 6"></path>
                                <path d="M5 12l6 -6"></path>
                            </svg>Back to log in</a>
                    </div>
                </form>
                        <div class="account">
                            <div style="text-align:center"></div>
                            <span class="dot1">1</span>
                            <span class="dot2">2</span>
                            <span class="dot3">3</span>
                            <span class="dot4">4</span>
                        </div> 
            </div>
            <!-- VECTOR BACKGROUND -->
            <div class="login-vector ">
                <img src="assets/image/Reset password-amico.png" class="login" *ngIf="isDisplayed" @slider>
            </div>
        </div>
    </div>
</main>