<head><title>Set new password</title></head>
<main>
    <div class="box">
        <div class="inner-box">
            <div class="form-wrap">  
                <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()" name="form" *ngIf="isDisplayed" @slideright>
                    <div class="wah-logo">
                        <img src="assets/image/coop-logo.png" alt="WAH Logo">
                        <p>WAHIE <br> Cooperative</p>
                    </div>

                    <div class="heading">
                        <h1>Set new password</h1>
                        <p>Must be at least 8 characters.</p>
                    </div>
                
                    <div  class="txt-field">
                        <div class="txt-wrap">
                            <label class="enter_pass" for="pass"> Enter Password</label>
                            <input formControlName="password" [type]="changetype?'password':'text'" name="password" id="pass" placeholder="Input password">
                            <div class="eye" (click)="viewpass()"><i [ngClass]="visible?'ti ti-eye-closed':'ti ti-eye'"></i></div> 
                        </div>

                        <div class="meter">
                            <strength-meter [value]="changePassForm.value.password" (measure)="onStrengthChange($event)"></strength-meter>
                        </div>

                        <div class="txt-wrap">
                            <label for="pass2"> Confirm Password</label>
                            <input formControlName="confirm_pass" [type]="cchangetype?'password':'text'" name="confirm_pass" id="pass2" placeholder="Confirm your new password">
                            <div class="eye2" (click)="cviewpass()"><i [ngClass]="cvisible?'ti ti-eye-closed':'ti ti-eye'"></i></div>
                        </div>
                        <div class="text-danger1" *ngIf="changePassForm.get('confirm_pass')!.touched && changePassForm.get('confirm_pass')!.invalid && changePassForm.controls['confirm_pass'].errors!['passwordMatch']">
                            <small>Password not match</small>
                        </div>

                        <button [routerLink]="['/pass-done']" type="submit" class="save">Save new password</button>

                        <a [routerLink]="['/login']" class="back">
                            <i class="ti ti-arrow-left"></i>Back to log in
                        </a>
                    </div>
                </form>
                
                <div class="account">
                    <div style="text-align:center"></div>
                    <span class="dot1">1</span>
                    <span class="dot2">2</span>
                    <span class="dot3">3</span>
                    <span class="dot4">4</span>
                </div> 
            </div>
            
            <!-- VECTOR BACKGROUND -->
            <div class="login-vector ">
                <img src="assets/image/Reset password-amico.png" class="login" *ngIf="isDisplayed" @slider>
            </div>
        </div>
    </div>
</main>