main {
  width: 100%;
  animation: transitionIn 0.75s;

  .title {
    color: var(--primary-color);
  }
}

.settings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.7rem;
}

.container {
  margin: 14px 14px;
  text-align: left;
  border-radius: 8px;

  .logo-label {
    margin-bottom: 1rem;
    font-weight: 500;
  }

  @mixin object-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  $circleSize: 216px;
  $radius: 216px;
  $shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  $fontColor: rgb(250, 250, 250);
  
  .logo {
    margin-right: auto;
    color: transparent;
    transition: all 0.3s ease;
    @include object-center;
    transition: all 0.3s ease;
    width: fit-content;
  
    input {
      display: none;
    }
  
    img {
      position: absolute;
      object-fit: cover;
      width: $circleSize;
      height: $circleSize;
      box-shadow: $shadow;
      border-radius: $radius;
      z-index: 0;
    }
  
    .-label {
      cursor: pointer;
      height: $circleSize;
      width: $circleSize;
    }
  
    &:hover {
      .-label {
        @include object-center;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 10000;
        color: $fontColor;
        transition: background-color 0.2s ease-in-out;
        border-radius: $radius;
        margin-bottom: 0;
      }
    }
  
    span {
      display: inline-flex;
      padding: 0.2em;
      height: 2em;
    }
  }
}

.coopname {
  display: flex;
  flex-direction: column;
  margin: 8px 0;

  label {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-grey);
  }

  input {
    display: block;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    border-radius: 0.5rem;
    border: 1.6px solid #d1cccc;
    padding: 0 10px;
    height: 40px;
    margin: 8px 0 0;

    font-size: 16px;
    font-weight: 500;
    color: #333;
    border-radius: 0.5rem;
    border: 1px solid #aaa;
    padding: 15px;
    height: 36px;
    width: 400px;
    margin: 8px 0 0;
  }
}

.remove-logo {
  .btn-rmv {
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--grey-alt);
    color:  black;
    padding: 12px 20px 12px 14px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 40px;
  }

  .btn-rmv:hover {
    background-color: var(--dark-grey-2);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(20px, auto);
  margin-top: 1rem;

  .box {
    height: 45px;
    width: 45px;
    border-radius: 5px;
    text-align: left;
  }

  .violet {
    background-color: #3f0f88;
    cursor: pointer;
  }
  
  .darkpink {
    background-color: #b400ff;
    cursor: pointer;
  }
  
  .darkviolet {
    background-color: #49005a;
    cursor: pointer;
  }
  
  .navyblue {
    background-color: #003077;
    cursor: pointer;
  }
  .blue {
    background-color: #0037ee;
    cursor: pointer;
  }
  .skyblue {
    background-color: #0099ff;
    cursor: pointer;
  }
  .gray {
    background-color: #5e6b9f;
    cursor: pointer;
  }
  .green {
    background-color: #317824;
    cursor: pointer;
  }
  
  .yellow {
    background-color: #ffbc04;
    cursor: pointer;
  }
  .pink {
    background-color: #ff45f3;
    cursor: pointer;
  }
  .red {
    background-color: #e4313a;
    cursor: pointer;
  }
  
  .lightgreen {
    background-color: #35ce8d;
    cursor: pointer;
  }
}


/*add button */
.save {
  text-align: right;
  margin-top: 2rem;

  .saveset {
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: var(--primary-color);
    color: var(--panel-color);
    padding: 12px 20px 12px 14px;
  }

  .saveset:hover {
    background-color: var(--primary-color-light);
  }
}