<main>


  
  <h1>Cooperative Profile</h1>



  <h3>Accents Color</h3>

  <div class='box violet'></div>
<div class='box darkpink'></div>
<div class='box darkviolet'></div>
<div class='box navyblue'></div>
<div class='box blue'></div>
<div class='box skyblue'></div>
<div class='box gray'></div>
<div class='box green'></div>
<div class='box yellow'></div>
<div class='box pink'></div>
<div class='box red'></div>
<div class='box lightgreen'></div>
<div class='box brown '></div>
<div class='box pastel'></div>

  <div class="container">
    <h2>Logo</h2>
<div class="logo">
  <label class="-label" for="file">
    <span class="glyphicon glyphicon-camera"></span>
    <span>Change Image</span>
  </label>

  <input id="file" type="file" onchange="loadFile(event)"/>
  <img src="https://cdn.pixabay.com/photo/2017/08/06/21/01/louvre-2596278_960_720.jpg" id="output" width="200" />
</div>

<div class="add-account">
  <button class="btn-add">
  <span>Remove Logo</span> 
  </button>

</div>

<div class="coopname">
    <label for="coopname">Cooperative Name</label>
    <input id="name" type="name" placeholder="WAH COOPERATIVE">

</div>

<div class="save">
  <button class="saveset">
  <span>Save Profile</span> 
  </button>

</div>






              



 