<main>
  <h1 class="title">Admin Settings</h1>

  <div class="right-cont">
    <button class="btn-add" (click)="showdept(1)">
      <i class="ti ti-plus"></i>New Department
    </button>
  </div>
  
  <section>
    <div>
      <form (ngSubmit)="addDept()" #deparmentAdd="ngForm" [formGroup]="addDepartment" class="register-form">
        <div class="dept-modal" *ngIf="deptModal === 1">
          <div class="dept-content">
            <div class="dept-header">Add Department</div>
            <div class="dept-body">
              <label for="admin_username">Department</label>
              <input class="modalinput" type="text" [(ngModel)]="depform.department" formControlName="department"/>
              <br/>
            </div>
            <div class="dept-footer">
              <button class="closebtn" (click)="showdept(2)">Close</button>
              <button class="savebtn">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- <section class="settings">
    <div class="container">
      <h3 class="logo-label">Company Logo</h3>
  
      <div class="logo">
        <label class="-label" for="file">
          <i class="ti ti-camera"></i>
          <span>Change Image</span>
        </label>
  
        <input id="file" type="file" onchange="loadFile(event)" />
        <img src="https://img.freepik.com/premium-vector/gallery-icon-picture-landscape-vector-sign-symbol_660702-224.jpg" id="output" width="200"/>
      </div>
  
      <div class="remove-logo">
        <button class="btn-rmv">
          Remove Logo
        </button>
      </div>
  
      <div class="coopname">
        <label>Company Name</label>
        <input id="name" type="name" placeholder="WAH COOPERATIVE" />
      </div> 
    </div>
  
    <div class="color-selector">
      <h3>Accents Color</h3>
  
      <div class="grid-container">
        <div class="box violet"></div>
        <div class="box darkpink"></div>
        <div class="box darkviolet"></div>
        <div class="box navyblue"></div>
        <div class="box blue"></div>
        <div class="box skyblue"></div>
        <div class="box gray"></div>
        <div class="box green"></div>
        <div class="box yellow"></div>
        <div class="box pink"></div>
        <div class="box red"></div>
        <div class="box lightgreen"></div>
      </div>
      
    </div>
  </section>
  

  <div class="save">
    <button class="saveset">
      Save Changes
    </button>
  </div> -->
</main>
