<main>
  <h1 class="title">Home</h1>

  <section class="recent-transaction">
    <h2 class="section-title">Recent Transactions</h2>

    <div class="table-filter">
      <!-- DATE Start -->
      <div class="filter-field2">
        <label>Start Date</label>
        <input
          class="form-control"
          type="date"
          [(ngModel)]="startDate"
          name="sDate"
        />
      </div>
      <!-- DATE End -->
      <div class="filter-field3">
        <label>End Date</label>
        <input
          class="form-control"
          type="date"
          [(ngModel)]="endDate"
          name="eDate"
        />
      </div>
      <!-- Type -->
      <div class="filter-field4">
        <label>Type</label>
        <select [(ngModel)]="type" name="journal-type">
          <option [ngValue]="undefined" selected>All</option>
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </div>
      <!-- Status -->
      <div class="filter-field5">
        <label>Status</label>
        <select [(ngModel)]="stat" name="status">
          <option [ngValue]="undefined" selected>All</option>
          <option *ngFor="let stat of stats" [value]="stat">{{ stat }}</option>
        </select>
      </div>
    </div>

    <div class="table-container">
      <table class="table-content">
        <thead>
            <th>Date</th>
            <th>Type</th>
            <th>No.</th>
            <th>Due Date</th>
            <th class="th-bal">Balance</th>
            <th class="th-pay">Payment</th>
            <th>Status</th>
        </thead>
        <tbody *ngFor="
        let acc of (account.reverse()
          | filter : type
          | filter : stat
          | filterMhDate : startDate : endDate)
          | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <tr >
          <td >{{ acc.debit.cred.transac.transaction_date | date:'mediumDate' }}</td>
          <td >{{ acc.debit.cred.entries.entry_name }}</td>
          <td >{{ acc.debit.cred.transac.transaction_number }}</td>
          <td >{{ acc.debit.cred.due_date }}</td>
          <td class="td-bal">{{ acc.open_balance | currency:'PHP':'symbol-narrow':'1.2-2'}}</td>
          <td class="td-pay">{{ acc.payment | currency:'PHP':'symbol-narrow':'1.2-2'}}</td>
          <td class="status">
            <span [ngClass]="{'pending': acc.status == 'Pending',
                              'overdue': acc.status == 'Overdue',
                              'paid': acc.status == 'Paid',
                              'closed': acc.status == 'Closed'}">
            {{ acc.status }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div class="pagination-controls">
    <pagination-controls 
        [responsive]=true
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="p = $event">
      </pagination-controls>
  </div>
</main>
