main {
  width: 100%;
  animation: transitionIn 0.75s;

  .title {
    color: var(--title-color);
  }
}

/* Filtering */
.recent-transaction {
  margin-top: 1.5rem;

  .section-title {
    color: var(--title-color);
    margin-top: 2.5rem;
    font-size: 28px;
  }

  .table-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 0.625rem;
    background-color: var(--panel-color);
    padding: 0.5rem 1rem;
    margin-top: 0.7rem;
    border: 1.5px solid var(--border-color);

    .filter-field1 {
      display: flex;
      width: calc(25% - 10px);
      flex-direction: column;
      margin: 8px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-color-3);
      }

      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color-3);
        border-radius: 0.5rem;
        border: 1.6px solid var(--border-color);
        background-color: var(--panel-color);
        padding: 0 10px;
        height: 36px;
        margin: 8px 0 0;
      }

      input:focus {
        border: 1.6px solid var(--text-color-3);
      }
    }

    .filter-field2 {
      display: flex;
      width: calc(25% - 10px);
      flex-direction: column;
      margin: 8px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-color-3);
      }

      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color-3);
        border-radius: 0.5rem;
        border: 1.6px solid var(--border-color);
        background-color: var(--panel-color);
        padding: 0 10px;
        height: 36px;
        margin: 8px 0 0;
      }

      input:focus {
        border: 1.6px solid var(--text-color-3);
      }
    }

    .filter-field3 {
      display: flex;
      width: calc(25% - 10px);
      flex-direction: column;
      margin: 8px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-color-3);
      }

      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color-3);
        border-radius: 0.5rem;
        border: 1.6px solid var(--border-color);
        background-color: var(--panel-color);
        padding: 0 10px;
        height: 36px;
        margin: 8px 0 0;
      }

      select:focus {
        border: 1.6px solid var(--text-color-3);
      }
    }

    .filter-field4 {
      display: flex;
      width: calc(25% - 10px);
      flex-direction: column;
      margin: 8px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-color-3);
      }

      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color-3);
        border-radius: 0.5rem;
        border: 1.6px solid var(--border-color);
        background-color: var(--panel-color);
        padding: 0 10px;
        height: 36px;
        margin: 8px 0 0;
      }

      select:focus {
        border: 1.6px solid var(--text-color-3);
      }
    }
  }
}

/* Table */
.table-container {
  margin: auto;
  width: 100%;

  .table-content {
    width: 100%;
    margin: 20px 0;
    font-size: 0.9rem;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 0.625rem;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--border-color);

    thead {
      th {
        position: sticky;
        background-color: var(--primary-color);
        color: var(--white);
        text-align: left;
        font-weight: bold;
        padding: 12px 16px;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
      }

      .th-bal,
      .th-pay {
        text-align: right;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--border-color);
        background-color: var(--panel-color);
        color: var(--text-color-2);

        td {
          text-align: left;
          font-weight: 500;
          padding: 16px 16px;
          border-right: 1px solid var(--border-color);
        }

        .td-bal,
        .td-pay {
          text-align: right;
        }

        .status {
          width: 1rem;
          font-weight: 600;

          .overdue {
            padding: 0.5rem 1.25rem;
            background: var(--overdue-bg);
            color: var(--overdue-font);
            border-radius: 0.5rem;
            text-align: center;
          }
  
          .pending {
            padding: 0.5rem 1.25rem;
            background: var(--pending-bg);
            color: var(--pending-font);
            border-radius: 0.5rem;
            text-align: center;
          }
  
          .paid {
            padding: .5rem 2.05rem;
            background: var(--paid-bg);
            color: var(--paid-font);
            border-radius: 0.5rem;
            text-align: center;
          }
          .closed {
            padding: 0.5rem 1.5rem;
            background: var(--paid-bg);
            color: var(--paid-font);
            border-radius: 0.5rem;
            text-align: center;
          }
        }
      }

      tr:hover {
        td {
          cursor: pointer;
          color: var(--text-color-2);
          background-color: var(--grey-2);
        }
      }
    }
  }
}

.pagination-controls {
  text-align: end;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 10px 20px;
  padding: 4px 0px;
}
