main {
  width: 100%;
  animation: transitionIn 0.75s;

  .title {
    color: var(--primary-color);
  }
}

/* Info Cards */
.info-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
  margin: 24px 0px;

  .card {
    padding: 1.5rem;
    background: var(--panel-color);
    border-radius: 0.625rem;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    grid-gap: 24px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--border-color);
    height: 9rem;
    cursor: pointer;

    .card-icon {
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      padding: 1rem;
      color: var(--secondary-color);
      background: var(--secondary-alt);
    }

    .text {
      margin-top: .5rem;
      margin-left: -.5rem;
      h2 {
        font-size: 35px;
        font-weight: 600;
        margin-top: -1px;
        color: var(--primary-color);
      }

      .card-topic {
        font-size: 18px;
        font-weight: 500;
        color: var(--dark-grey);
      }
    }
  }
}

/* Filtering */
.recent-transaction {
  .section-title {
    color: var(--primary-color);
    margin-top: 2.5rem;
    font-size: 28px;
  }

  .table-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .filter-field1 {
      display: flex;
      width: calc(30% - 10px);
      flex-direction: column;
      margin: 8px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--dark-grey);
      }

      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        border-radius: 0.45rem;
        border: 1px solid #aaa;
        padding: 0 10px;
        height: 36px;
        margin: 8px 0 0;
      }
    }

    .filter-field2 {
      display: flex;
      width: calc(18% - 10px);
      flex-direction: column;
      margin: 8px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--dark-grey);
      }

      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        border-radius: 0.45rem;
        border: 1px solid #aaa;
        padding: 0 10px;
        height: 36px;
        margin: 8px 0 0;
      }
    }
    .filter-field3 {
      display: flex;
      width: calc(18% - 10px);
      flex-direction: column;
      margin: 8px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--dark-grey);
      }

      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        border-radius: 0.45rem;
        border: 1px solid #aaa;
        padding: 0 10px;
        height: 36px;
        margin: 8px 0 0;
      }
    }
    .filter-field4 {
      display: flex;
      width: calc(18% - 10px);
      flex-direction: column;
      margin: 8px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--dark-grey);
      }

      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        border-radius: 0.45rem;
        border: 1px solid #aaa;
        padding: 0 10px;
        height: 36px;
        margin: 8px 0 0;
      }
    }
    .filter-field5 {
      display: flex;
      width: calc(18% - 10px);
      flex-direction: column;
      margin: 8px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--dark-grey);
      }

      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        border-radius: 0.45rem;
        border: 1px solid #aaa;
        padding: 0 10px;
        height: 36px;
        margin: 8px 0 0;
      }
    }
  }
}

/* Table */
.table-container {
  margin: auto;
  width: 100%;

  .table-content {
    width: 100%;
    margin: 20px 0;
    font-size: 0.9rem;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 0.625rem;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--border-color);

    thead {
      th {
        position: sticky;
        background-color: var(--primary-color);
        color: var(--panel-color);
        text-align: left;
        font-weight: bold;
        padding: 12px 16px;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
      }

      .th-bal, .th-pay {
        text-align: right;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--border-color);
        background-color: var(--panel-color);

        td {
          text-align: left;
          font-weight: 500;
          padding: 16px 16px;
          border-right: 1px solid var(--border-color);
        }

        .td-bal, .td-pay {
          text-align: right;
        }

        .status {
          width: 1rem;
          font-weight: 600;

          .overdue {
            padding: .5rem 1.25rem;
            background: var(--overdue-bg);
            color: var(--overdue-font);
            border-radius: 0.45rem;
            width: fit-content;
          }

          .pending {
            padding: .5rem 1.25rem;
            background: var(--pending-bg);
            color: var(--pending-font);
            border-radius: 0.45rem;
          }

          .paid {
            padding: .5rem 1.50rem;
            background: var(--paid-bg);
            color: var(--paid-font);
            border-radius: 0.45rem;
            text-align: center;
          }
          .closed {
            padding: .5rem 1.50rem;
            background: var(--paid-bg);
            color: var(--paid-font);
            border-radius: 0.45rem;
            text-align: center;
          }
        }
      }

      tr:hover {
        td {
          cursor: pointer;
          color: var(--primary-color);
          background-color: var(--panel-color);
        }
      }
    }
  }
}

.pagination-controls {
  text-align: end;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 10px 20px;
  padding: 4px 0px;
}
