<main>
  <h1 class="title">Dashboard</h1>

  <section class="info-cards">
    <ul class="info-data">
      <li class="card">
        <div class="text">
          <div class="card-topic">Profits</div>
          <h2>PHP543,939</h2>
        </div>
        <div>
          <i class="ti ti-report-money card-icon"></i>
        </div>
      </li>

      <li class="card">
        <div class="text">
          <span class="card-topic">Expenses</span>
          <h2>PHP50,000</h2>
        </div>
        <div>
          <i class="ti ti-receipt-tax card-icon"></i>
        </div>
      </li>

      <li class="card">
        <div class="text">
          <span class="card-topic">Revenue</span>
          <h2>PHP493,939</h2>
        </div>
        <div>
          <i class="ti ti-chart-pie card-icon"></i>
        </div>
      </li>
    </ul>
  </section>

  <section class="recent-transaction">
    <h2 class="section-title">Recent Transactions</h2>

    <div class="table-filter">
      <div class="filter-field">
        <label for="search-member" placeholder="Search Member">Member</label>

        <input
          class="form-control"
          type="text"
          placeholder="Search Member"
          [(ngModel)]="term"
        />
      </div>

      <div class="filter-field">
        <label>Date</label>
        <input class="form-control" type="date" [(ngModel)]="startDate" name="sDate">
        <input class="form-control" type="date" [(ngModel)]="endDate" name="eDate">
      </div>

      <div class="filter-field">
        <label>Type</label>
        <select [(ngModel)]="type" name="journal-type">
          <option [ngValue]="undefined" selected>All</option>
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="filter-field">
        <label>Status</label>
        <select [(ngModel)]="stat" name="status">
          <option [ngValue]="undefined" selected>All</option>
          <option *ngFor="let stat of stats" [value]="stat">{{ stat }}</option>
        </select>
      </div>
    </div>

    <div class="table-container">
      <table class="table-content">
        <thead>
          <th>Date</th>
          <th>Type</th>
          <th>No.</th>
          <th>Member</th>
          <th>Due Date</th>
          <th>Balance</th>
          <th>Status</th>
        </thead>
        <tbody>
          <tr *ngFor="let e of item | filterHome: term| filter : type | filter : stat | filterHDate: startDate: endDate| paginate : { itemsPerPage: 5, currentPage: p }">
            <td>{{ e.date }}</td>
            <td>{{ e.type }}</td>
            <td>{{ e.No }}</td>
            <td>{{ e.Member }}</td>
            <td>{{ e.DueDate }}</td>
            <td>{{ e.Balance }}</td>
            <td>{{ e.Status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div class="pagination-controls">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</main>
