<main>
  <h1 class="title">Dashboard</h1>

  <section class="info-cards">
    <ul class="info-data">
      <li class="card" *ngIf="calculateTotalBalance; else noBal">
        <div>
          <i class="ti ti-report-money card-icon"></i>
        </div>
        <div class="text">
          <div class="card-topic">Net Surplus</div>
          <h2>{{ calculateTotalBalance() | currency:'PHP':'symbol-narrow':'1.2-2' | minusSignToParens}}</h2>
        </div>
      </li>

      <ng-template #noBal>
        <li class="card"> 
          <div>
            <i class="ti ti-report-money card-icon"></i>
          </div>
          <div class="text">
            <div class="card-topic">Net Surplus</div>
            <h2>{{ 0 | currency:'PHP':'symbol-narrow':'1.2-2'}}</h2>
          </div>
        </li>
      </ng-template>

      <li class="card" *ngIf="expense.length > 0 ; else noExp"> 
          <i class="ti ti-receipt-tax card-icon"></i>
        <div class="text">
          <span class="card-topic">Expenses</span>
          <h2 *ngIf="expense.length > 0">{{ (expense.length > 0 ? expense[expense.length - 1].total_expenses : 0) | currency:'PHP':'symbol-narrow':'1.2-2' | minusSignToParens}}</h2>
        </div>
      </li>
      
      <ng-template #noExp>
        <li class="card"> 
          <div>
            <i class="ti ti-receipt-tax card-icon"></i>
          </div>
          <div class="text">
            <span class="card-topic">Expenses</span>
            <h2> {{ 0 | currency:'PHP':'symbol-narrow':'1.2-2' }}</h2>
          </div>
        </li>
      </ng-template>

      <li class="card" *ngIf="revenue.length > 0 ; else noRev">
        <div>
          <i class="ti ti-chart-pie card-icon"></i>
        </div>
        <div class="text">
          <span class="card-topic">Revenue</span>
          <h2 *ngIf="revenue.length > 0">{{ (revenue.length > 0 ? revenue[revenue.length - 1].total_revenue : 0) | currency:'PHP':'symbol-narrow':'1.2-2' | minusSignToParens}}</h2>
        </div>
      </li>
    
      <ng-template #noRev>
        <li class="card"> 
          <div>
            <i class="ti ti-chart-pie card-icon"></i>
          </div>
          <div class="text">
            <span class="card-topic">Revenue</span>
            <h2> {{ 0 | currency:'PHP':'symbol-narrow':'1.2-2' }}</h2>
          </div>
        </li>
      </ng-template>
    </ul>
  </section>

  <section class="recent-transaction">
    <h2 class="section-title">Recent Transactions</h2>

    <div class="table-filter">
      <div class="filter-field1">
        <!-- MEMBER -->
        <label for="search-member" placeholder="Search Member">Member</label>

        <input
          class="form-control"
          type="text"
          placeholder="Search Member"
          [(ngModel)]="term"
        />
      </div>
      <!-- DATE Start -->
      <div class="filter-field2">
        <label>Start Date</label>
        <input class="form-control" type="date" [(ngModel)]="startDate" name="sDate">
      </div>
      <!-- DATE End -->
      <div class="filter-field3">
        <label>End Date</label>
        <input class="form-control" type="date" [(ngModel)]="endDate" name="eDate">
      </div>
      <!-- Type -->
      <div class="filter-field4">
        <label>Type</label>
        <select [(ngModel)]="type" name="journal-type">
          <option [ngValue]="undefined" selected>All</option>
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </div>
      <!-- Status -->
      <div class="filter-field5">
        <label>Status</label>
        <select [(ngModel)]="stat" name="status">
          <option [ngValue]="undefined" selected>All</option>
          <option *ngFor="let stat of stats" [value]="stat">{{ stat }}</option>
        </select>
      </div>
    </div>

    <div class="table-container">
      <table class="table-content">
        <thead>
          <th>Date</th>
          <th>Type</th>
          <th>No.</th>
          <th>Member</th>
          <th>Due Date</th>
          <th class="th-bal">Balance</th>
          <th class="th-pay">Payment</th>
          <th>Status</th>
        </thead>
        <tbody>
          <tr *ngFor="let e of account.reverse() | filterHome: term| filter : type | filter : stat | filterHDate: startDate: endDate| paginate : { itemsPerPage: 10, currentPage: p }"
          (click)="memberJournal(e.debit.cred.transac.transaction_number)" 
          >
            <td>{{ e.debit.cred.transac.transaction_date | date:'mediumDate' }}</td>
            <td>{{ e.debit.cred.entries.entry_name }}</td>
            <td>{{ e.debit.cred.transac.transaction_number }}</td>
            <td>{{ e.debit.cred.transac.member.first_name }} {{ e.debit.cred.transac.member.last_name }}</td>
            <td>{{ e.debit.due_date | date:'mediumDate' }}</td>
            <td class="td-bal">
              <span [ngClass]="{'bal-overdue': e.status == 'Overdue'}">
                {{ e.open_balance | currency:'PHP':'symbol-narrow':'1.2-2' }}
              </span>
            </td>
            <td class="td-pay">{{ e.payment | currency:'PHP':'symbol-narrow':'1.2-2' }}</td>
            <td class="status">
              <span [ngClass]="{'pending': e.status == 'Pending',
                                'overdue': e.status == 'Overdue',
                                'paid': e.status == 'Paid',
                                'closed': e.status == 'Closed'}">
              {{ e.status }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination-controls">
      <pagination-controls 
        [responsive]=true
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="p = $event">
      </pagination-controls>
    </div>
  </section>
</main>
