* {
    font-family: "Poppins", sans-serif;
  }
  
  .main {
    width: 100%;
    animation: transitionIn 0.75s;
    size: letter;
  }
  
  .report-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--title-color);
   
  }
  

  .sticky-div{

    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color:var(--table-header);
    height: 70px;
    width: auto;
    flex-wrap: wrap;
    color:#fff9f9;
    padding-left: 2rem;
    margin:-20px -35px 0px -35px ;
   
}

.head{
  text-align: left;
} 
  .print{
    background-color: var(--panel-color);
    color: var(--text-color-3);
    margin: auto;
    width: 70%;
    border: 1px solid var(--text-color-2);
    border-bottom: none;
    display: flex;
    flex-direction: row;

    .save{
      width: 70%;
      height: 5vh;
      padding-left: 1rem;
      padding-top: .5rem;
      color: var(--text-color-2);
    }
      
    .PDF{
      display: flex;
      padding-left: 55%;
      margin-top: .1rem;
      width: 70%;
    }

    .PDF-icon{
      padding-top: .2rem;
      font-size: 28px;
      background: none;
      padding-right: .4rem;
      color: var(--secondary-color);
    }
    .excel-icon{
      padding-top: .2rem;
      font-size: 28px;
      background: none; 
      color: var(--secondary-color);
    }
  }

  .main-section{
    padding-top: 2rem;
    margin: auto;
    width: 70%;
    border: 1px solid var(--text-color-2);
    border-top: none;
    border-bottom:  2px solid var(--text-color-2) ;
    border-top:1px solid var(--text-color-2) ;
    margin-bottom: 10rem ;
    background-color: var(--panel-color);
    
  }
  header {
    text-align: center;
    color: var(--title-color);
    
  
    .coop-name {
      font-size: 26px;
      font-weight: 200;
      margin-bottom: 1rem;
      color: var(--title-color);
     
    }
  }
  .stat{
    text-align: left;
      font-weight: 400;
      padding: 12px 20px;
      border-bottom: 1px solid var(--black);
  }
  /* Table */
  .table-container {
    margin: auto;
    width: 95%;
  
    .table-content {
      width: 100%;
      margin: 20px 0;
      font-size: 0.9rem;
      overflow: hidden;
      border-collapse: collapse;
      

      thead {
        th {
          text-align: left;
          font-weight: 400;
          padding: 12px 16px;
          border-top: 1px solid var(--text-color-2);
          border-bottom: 1px solid var(--text-color-2);
          color: var(--text-color-2);
        }
        
        .th-cred, .th-deb {
          border-left: 1px dotted var(--border-color);
          text-align: center;
          padding-left: 5rem;
        }
      }
  

      
      tbody {
        tr {
          //border-bottom: 1px solid var(--border-color);
          border-bottom: 1px solid var(--border-color);
          color: var(--text-color-2);
          background-color: var(--panel-color);
  
          td {
            padding: 16px 46px;
            
          }
  
          .td-deb, .td-cred {
            text-align: right;
            
            
          }
        }
  
        .tr-total {
          border-style: double;
          border-left: none;
          border-right: none;
          border-top: none;
          border-color: var(--text-color-2);
          border-top: 1px double var(--border-color);
          //border-bottom: 2px double var(--black);
  
          .td-debtot, .td-credtot {
            text-align: right;
          }
        }
  
        tr:hover {
          td {
            cursor: pointer;
            background-color: var(--grey);
            // color: var(--primary-color);
          }
        }
      }
    }
  }
  
  @page {
    size: letter;
  }
  