* {
  font-family: "Poppins", sans-serif;
  
}

main {
  width: 100%;
  animation: transitionIn 0.75s;

  .title {
    color: var(--title-color);
  }

  .header {
    display: grid;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .left-cont {
      grid-column: 1;
    }

    /* Add Button */
    .right-cont {
      text-align: right;
      margin-top: 1.8rem;
      grid-column: 2;

      .btn-add {
        cursor: pointer;
        border: none;
        border-radius: 0.525rem;
        background: var(--primary-color);
        color: var(--white);
        padding: 12px 20px 12px 14px;
        margin: 0 0.5rem;
      }
      .ti-plus {
        margin-right: 5px;
        font-size: 14px;
      }

      .btn-add:hover {
        background: var(--primary-color-light);
      }
    }
  }
}

/* Filter Fields */
.filter-field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  // Search box
  .filter-search {
    margin-right: 10px;

    label {
      font-size: 14px;
      font-weight: 500;
      color: var(--text-color-3);
    }

    .input-box {
      position: relative;
      height: 40px;
      max-width: 300px;
      width: 100%;
      text-align: right;
      margin-top: 0.5rem;

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .ti-search {
        left: 16px;
        font-size: 22px;
        color: var(--text-color-3);
      }

      input {
        height: 100%;
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        padding: 0 20px 0 50px;
        border-radius: 0.625rem;
        border: 1.6px solid var(--border-color);
        outline-color: var(--grey-4);
        background-color: var(--panel-color);
        color: var(--text-color-3);
      }

      input::placeholder {
        color: var(--text-color-3);
      }
    }
  }

  // Filter Role
  .filter-role {
    label {
      font-size: 14px;
      font-weight: 500;
      color: var(--text-color-3);
    }

    select {
      outline: none;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 500;
      height: 40px;
      max-width: 300px;
      width: 100%;
      color: var(--text-color-3);
      background: var(--panel-color);
      margin-top: 0.5rem;
      border-radius: 0.625rem;
      border: 1.6px solid var(--border-color);
      padding: 0 15px 0 15px;
    }

    select:focus {
      border: 1.6px solid var(--text-color-3);
    }
  }
}

/* Table */
.table-container {
  margin: auto;
  width: 100%;

  .table-content {
    width: 100%;
    margin: 20px 0;
    font-size: 0.9rem;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 0.625rem;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--border-color);

    thead {
      th {
        position: sticky;
        background-color: var(--primary-color);
        color: var(--white);
        text-align: left;
        font-weight: bold;
        padding: 12px 16px;
        //border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--border-color);
        background-color: var(--panel-color);

        td {
          text-align: left;
          font-weight: 500;
          padding: 16px 16px;
          border-right: 1px solid var(--border-color);
          width: 22%;
          color: var(--text-color-2);
        }

        td:first-child {
          width: 8%;
        }

        td:last-child {
          width: 8%;
        }

        .td-date {
          width: 12%;
        }
      }

      tr:hover {
        td {
          color: var(--text-color-2);
          background-color: var(--table-hover);
        }
      }
    }
  }
}

.pagination-controls {
  text-align: right;
  margin-right: 0px;
}

/* Switch */
.switch {
  cursor: pointer;
  margin: 1px;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 25px;
  outline: none;
  background-color: var(--border-color);
  -webkit-appearance: none;
}

input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--panel-color);
  transition: left 0.3s;
}

input:checked {
  background-color: var(--title-color);
}

input:checked::after {
  left: 70%;
}

.btn-success {
  width: 100px;
  height: 42px;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-success:hover {
  background-color: var(--primary-color-light);
}

/* Modal */
.modal-bg {
  position: fixed;
  background: var(--modal-overlay);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;

  .modal-wrapper {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s, top 0.4s;
    background: var(--modal-bg);
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;

    .modal-header {
      padding: 30px 25px;
      height: 60px;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-title {
        font-weight: 600;
        font-size: 20px;
        color: var(--text-color-2);
        margin-top: 0.15rem;
      }

      .ti-x {
        font-size: 20px;
        color: var(--text-color-3);
        cursor: pointer;
        transition: all 0.2s ease;
        padding: 4px;
      }

      .ti-x:hover {
        background-color: var(--grey-2);
        border-radius: 100%;
      }
    }

    .modal-body {
      padding: 20px 25px 15px;

      .input-box {
        margin-bottom: 15px;

        .input-label {
          display: block;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0.35rem;
          color: var(--text-color-3);
          text-align: left;
        }

        .input-field {
          height: 45px;
          width: 100%;
          outline: none;
          border: 1.8px solid var(--border-color);
          background-color: var(--panel-color);
          color: var(--text-color-2);
          font-size: 14px;
          border-radius: 0.625rem;
          padding-left: 1rem;
          font-family: "Poppins", sans-serif;
        }

        .input-field:focus {
          border: 1.8px solid var(--primary-color);
        }
      }
    }

    .modal-footer {
      padding: 18px 25px;
      border-top: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn {
        width: 100px;
        height: 42px;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
      }

      .btn-save {
        background-color: var(--primary-color);
        color: var(--white);
        margin-left: 1rem;
      }

      .btn-save:hover {
        background-color: var(--primary-color-light);
      }

      .btn-close {
        background-color: transparent;
        box-shadow: 0 0 0 1px var(--border-color);
        color: var(--text-color-2);
      }

      .btn-close:hover {
        background-color: var(--grey-2);
      }
    }
  }
}