<main>
  <h1 class="title">User Accounts</h1>

  <div class="header">
    <div class="left-cont">
      <div class="filter-field">
        <div class="filter-search">
          <label>Search User</label>
          <div class="input-box" >
            <i class="ti ti-search"></i>
            <input type="text" placeholder="Search" [(ngModel)]="searchText" />
          </div>
        </div>
    
        <div class="filter-role">
          <label>User Role</label>
          <select [(ngModel)]="type" name="journal-type">
            <option [ngValue]="undefined" selected>All</option>
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="right-cont">
      <button class="btn-add" (click)="showdept(1)">
        <i class="ti ti-plus"></i>New Department
      </button>

      <button class="btn-add" (click)="show(1)">
        <i class="ti ti-plus"></i>New Admin
      </button>
    </div>
  </div>

  <div class="table-container">
    <table class="table-content">
      <thead>
        <th>Role</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Date Created</th>
        <th>Status</th>
      </thead>

      <tbody
        *ngFor="
          let user of userAccounts
            | search : searchText
            | filter : type
            | paginate : { itemsPerPage: 10, currentPage: p }
        "
      >
        <tr *ngIf="user.userrole.id != 2 || user.userrole.user_type == type">
          <td>{{ user.userrole.user_type }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.department }}</td>
          <td class="td-date">{{ user.created_at | date:'mediumDate' }}</td>

          <td>
            <div *ngIf="user.status == 0">
              <label class="switch-toggle">
                <input class="switch" input type="checkbox" (click)="deactivateTOactivate(user)"/>
                <div class="slider"></div>
              </label>
            </div>
            <div *ngIf="user.status == 1">
              <label class="switch-toggle">
                <input class="switch" input type="checkbox" [(ngModel)]="isChecked" (click)="activateUser(user)" (change)="changeSelection($event, index)"/>
                <div class="slider"></div>
              </label>
            </div>

            <div *ngIf="user.status == 2">
              <button type="submit" (click)="activateUser2(user)" class="btn btn-success">
                <span>Activate</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-controls" >
    <pagination-controls 
        [responsive]=true
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="p = $event">
    </pagination-controls>
  </div>
</main>

<!-- Add Admin Modal -->
<section >
  <div>
    <form (ngSubmit)="autoAdmin()" #memberRegistration="ngForm" [formGroup]="autoAdminForm" class="register-form">
      <div class="modal-bg admin-modal" *ngIf="showModal === 1">
        <div class="modal-wrapper">

          <div class="modal-header">
            <span class="header-title">Add Admin Account</span>
            <i class="ti ti-x" (click)="show(2)"></i>
          </div>

          <div class="modal-body">
            <div class="input-box">
              <span class="input-label">Username</span>
              <input class="input-field" type="text" [(ngModel)]="form.username" formControlName="username"/>
            </div>

            <div class="input-box">
              <span class="input-label">Email Address</span>
              <input class="input-field" type="text" [(ngModel)]="form.email" formControlName="email"/>
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-close" type="button" (click)="show(2)">Close</button>
            <button class="btn btn-save" >Create</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</section>

<!-- Add Department Modal -->
<section>
  <div>
    <form (ngSubmit)="addDept()" #deparmentAdd="ngForm" [formGroup]="addDepartment" class="register-form">
      <div class="modal-bg dept-modal"  *ngIf="deptModal === 1">
        <div class="modal-wrapper">

          <div class="modal-header">
            <span class="header-title">Add Department</span>
            <i class="ti ti-x" (click)="showdept(2)"></i>
          </div>

          <div class="modal-body">
            <div class="input-box">
              <label class="input-label">Department</label>
              <input class="input-field" type="text" [(ngModel)]="depform.department" formControlName="department"/>
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-close" type="button" (click)="showdept(2)">Close</button>
            <button class="btn btn-save">Add</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</section>