<main>
  <h1 class="title">Accounts</h1>
</main>

<!-- <section>
  <router-outlet></router-outlet>
  <div>
    <div class="otp-modal">
      <div class="otp-content">
        <div class="otp-header">Add admin account</div>
        <div class="otp-body">
          <label for="admin_username">Username</label>
          <input class="modalinput" type="number" #admin_username />
          <br />
          <label for="admin_email">Email Address</label>
          <input class="modalinput" type="text" #admin_email />
          <br />
          <label for="admin_password">Password</label>
          <input class="modalinput" type="text" #admin_password />
        </div>
        <div class="otp-footer">
          <button class="backbtn">Create</button>
          <button class="closebtn">Close</button>
        </div>
      </div>
    </div>
  </div>
</section> -->


<div class="add-account">
  <button class="btn-add">
    <i class="ti ti-plus"></i>
    New Account
  </button>
</div>

<div class="input-box">
  <i class="ti ti-search"></i>
  <input type="text" placeholder="Search" [(ngModel)]="searchText"/>
</div>

<div class="table-container">
  <table class="table-content">
    <thead>
      <th>User</th>
      <th>Email</th>
      <th>Department</th>
      <th>Date Created</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of userAccounts | search: searchText | paginate: { itemsPerPage: 10, currentPage: p }" >
        <div *ngIf="user.role_id == 1">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.coop }}</td>
          <td>{{ user.status }}</td>
          <!-- <td>{{ user.datecreated }}</td> -->

            <td>
              <div *ngIf="user.status == 0">
                <label class="switch-toggle">
                
                <input  class="switch" input type="checkbox"  (click)="deactivateTOactivate(user)" />
                <div class="slider"></div>
              </label>
            </div>
            <div *ngIf="user.status == 1">
              <label class="switch-toggle">
                
              <input id={{user.role_id}} class="switch" input type="checkbox"  [(ngModel)]="isChecked" (click)="activateUser(user)" (change)="changeSelection ($event,index)" />
              <div class="slider"></div>
            </label>
          </div>
              

            <div *ngIf="user.status == 2">
              <button type="submit" (click)="activateUser2(user)" class="btn btn-success">
                <span>Activate</span>
              </button> 
           </div>
          </td>
        </div>
      </tr>
    </tbody>
  </table>

  <div class="pagination-controls">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>