.report-name {
  font-size: 30px;
  font-weight: 600;
  color: var(--title-color);
  padding-top: 50rem;
}

.sticky-div {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(243, 241, 241);
  height: 150px;
  background-color: var(--panel-color);
  width: auto;
  flex-wrap: wrap;
  color: #fff9f9;
  padding-left: 2rem;
  margin: -20px -35px 0px -35px;

  .table-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .filter-field1 {
      display: flex;
      width: calc(20% - 10px);
      flex-direction: column;
      margin: 4px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-color-3);
      }

      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color-3);
        border-radius: 0.5rem;
        border: 1px solid var(--border-color);
        background-color: var(--panel-color);
        padding: 0 10px;
        height: 36px;
        margin: 8px 0 0;
      }
    }

    .filter-field2 {
      display: flex;
      width: calc(18% - 10px);
      flex-direction: column;
      margin: 4px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-color-3);
      }

      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color-3);
        border-radius: 0.5rem;
        border: 1px solid var(--border-color);
        background-color: var(--panel-color);
        padding: 0 10px;
        height: 36px;
        //margin: 8px 0 0;
      }
    }
    .filter-field3 {
      display: flex;
      width: calc(15% - 10px);
      flex-direction: column;
      margin: 4px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-color-3);
      }

      .btn-generate {
        width: 130px;
        height: 42px;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
        background-color: var(--primary-color);
        color: var(--white);
        align-self: end;
        margin-right: 2rem;
        margin-top: 1rem;
      }

      .btn-generate:hover {
        background-color: var(--primary-color-light);
      }
    }
  }
}
