* {
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;
  animation: transitionIn 0.75s;
  size: letter;
}
.report-name{
  font-size: 30px;
  font-weight: 600;
}

.container {
  padding-left: 2rem;
  margin: 4px 4px;
  text-align: left;
  border-radius: 8px;

  .logo-label {
    margin-bottom: 1rem;
    font-weight: 500;
  }

  $circleSize: 55px;
  $fontColor: rgb(250, 250, 250);
  
  .ti-camera{
    font-size: 55px;
    cursor: pointer;
    border-radius: 100%;
    color: var(--title-color);
    
  }
  .ti-camera:hover{
    background-color: var(--grey-2);
    
  }
  .logo {
    margin-right: auto;
    color: transparent;
    transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: fit-content;
  
  
    img {
      position: absolute;
      width: $circleSize;
      height: $circleSize;
      z-index: 0;
    }
  
    .-label {
      cursor: pointer;
      height: $circleSize;
      width: $circleSize;
    }
  
    &:hover {
      .-label {
       
        background-color: rgba(174, 170, 170, 0.8);
        z-index: 1000000;
      }
    }
  

  }
}

.print{
  background-color: var(--panel-color);
  color: var(--text-color-3);
  margin: auto;
  width: 800px;
  border: 1px solid var(--text-color-2);
  border-bottom: none;
  display: flex;
  flex-direction: row;

  .save{
    width: 70%;
    height: 5vh;
    padding-left: 1rem;
    padding-top: .5rem;
    color: var(--text-color-2);
  }
    
  .PDF{
    display: flex;
    padding-left: 55%;
    margin-top: .1rem;
    width: 70%;
  }

  .PDF-icon{
    padding-top: .2rem;
    font-size: 28px;
    background: none;
    padding-right: .4rem;
    color: var(--secondary-color);
  }
  .excel-icon{
    padding-top: .2rem;
    font-size: 28px;
    background: none; 
    color: var(--secondary-color);
  }
}

.main-section{
  padding-top: 2rem;
  margin: auto;
  margin-bottom: 3rem;
  width: 800px;
  border: 1px solid var(--text-color-2);
  border-top:1px solid var(--text-color-2) ;
  border-bottom:  2px solid var(--text-color-2) ;
  background-color: var(--panel-color);
  
  
}

header {
  text-align: center;
  

  .coop-name {
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 1rem;
    
  }
}

/* Table */
.table-container {
  margin: auto;
  width: 95%;

  .table-content {
    width: 100%;
    margin: 20px 0;
    font-size: 0.9rem;
    overflow: hidden;
    border-collapse: collapse;

    thead {
      th {
        
        font-weight: 400;
        padding: 12px 16px;
        border-top: 1px solid var(--text-color-2);
        border-bottom: 1px solid var(--text-color-2);
        color: var(--text-color-2);
      }

      .th-bal {
        border-left: 1px dotted var(--text-color-2);
        text-align: right;
      }.th-bal2 {
        border-left: 1px dotted var(--text-color-2);
        text-align: right;
        padding-left: 4rem;
      }
    }

    tbody {
      tr {
        //border-bottom: 1px solid var(--border-color);
        border-bottom: 1px solid var(--text-color-2);
        color: var(--text-color-2);
        background-color: var(--panel-color);

        td {
          text-align: left;
          font-weight: 500;
          padding: 16px 26px;
        }

        .td-bal {
          text-align: right;
        }
      }

      .tr-total {
        border-style: double;
        border-left: none;
        border-right: none;
        border-color: var(--text-color-2);
        border-bottom: 2px double var(--text-color-2);
        font-size: 1.1rem;
         
        
        //border-bottom: 2px double var(--black);

        .td-total {
          text-align: right;
        }
      }

      tr:hover {
        td {
          cursor: pointer;
          // color: var(--primary-color);
          border-top: 1px double var(--border-color);
          background-color: var(--grey);
        }
      }
    }
  }
}

@page {
  size: letter;
}
