* {
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;
  animation: transitionIn 0.75s;
  size: letter;
}

header {
  text-align: center;

  .coop-name {
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 1rem;
  }
}

/* Table */
.table-container {
  margin: auto;
  width: 100%;

  .table-content {
    width: 100%;
    margin: 20px 0;
    font-size: 0.9rem;
    overflow: hidden;
    border-collapse: collapse;

    thead {
      th {
        position: sticky;
        text-align: left;
        font-weight: 400;
        padding: 12px 16px;
        border-top: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
      }

      .th-bal {
        border-left: 1px dotted var(--border-color);
        text-align: right;
      }
    }

    tbody {
      tr {
        //border-bottom: 1px solid var(--border-color);
        background-color: var(--panel-color);

        td {
          text-align: left;
          font-weight: 500;
          padding: 16px 16px;
        }

        .td-bal {
          text-align: right;
        }
      }

      .tr-total {
        border-style: double;
        border-left: none;
        border-right: none;
        border-top: none;
        border-color: var(--black);

        border-top: 1px double var(--border-color);
        //border-bottom: 2px double var(--black);

        .td-total {
          text-align: right;
        }
      }

      tr:hover {
        td {
          cursor: pointer;
          // color: var(--primary-color);
          background-color: var(--grey);
        }
      }
    }
  }
}

@page {
  size: letter;
}
