* {
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;
  animation: transitionIn 0.75s;
  size: letter;
}

.report-name {
  font-size: 30px;
  font-weight: 600;
  color: var(--title-color);
}
.report_name {
  font-size: 30px;
  font-weight: 600;
}

.sticky-div {
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--panel-color);
  height: 70px;
  width: auto;
  flex-wrap: wrap;
  color: #fff9f9;
  padding-left: 2rem;
  margin: -20px -25px 0px -35px;
  z-index: 1000000;
}

.container {
  padding-left: 2rem;
  margin: 4px 4px;
  text-align: left;
  border-radius: 8px;

  .logo-label {
    margin-bottom: 1rem;
    font-weight: 500;
  }

  $circleSize: 55px;
  $fontColor: rgb(250, 250, 250);

  .ti-camera {
    font-size: 55px;
    cursor: pointer;
    border-radius: 100%;
    color: var(--title-color);
  }
  .ti-camera:hover {
    background-color: var(--grey-2);
  }
  .logo {
    margin-right: auto;
    color: transparent;
    transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: fit-content;

    img {
      position: absolute;
      width: $circleSize;
      height: $circleSize;
      z-index: 0;
    }

    .-label {
      cursor: pointer;
      height: $circleSize;
      width: $circleSize;
    }

    &:hover {
      .-label {
        background-color: rgba(174, 170, 170, 0.8);
        z-index: 1000000;
      }
    }
  }
}

.head {
  text-align: left;
}

.print {
  background-color: var(--panel-color);
  color: var(--text-color-3);
  margin: auto;
  width: 800px;
  border: 1px solid var(--black);
  border-bottom: none;
  display: flex;
  flex-direction: row;

  .save {
    width: 70%;
    height: 5vh;
    padding-left: 1rem;
    padding-top: 0.5rem;
    color: var(--text-color-2);
  }

  .PDF {
    display: flex;
    padding-left: 55%;
    margin-top: 0.1rem;
    width: 70%;
  }

  .PDF-icon {
    padding-top: 0.2rem;
    font-size: 28px;
    background: none;
    padding-right: 0.4rem;
    color: var(--secondary-color);
  }
  .excel-icon {
    padding-top: 0.2rem;
    font-size: 28px;
    background: none;
    color: var(--secondary-color);
  }
}

.main-section {
  padding-top: 2rem;
  margin: auto;
  margin-bottom: 3rem;
  width: 800px;
  border: 1px solid var(--text-color-2);
  border-top: 1px solid var(--text-color-2);
  border-bottom: 2px solid var(--text-color-2);
  background-color: var(--panel-color);
}

header {
  text-align: center;

  .coop-name {
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 1rem;
  }
}

/* Table */
.table-container {
  margin: auto;
  width: 95%;

  .table-content {
    width: 50%;
    margin: 20px 0;
    font-size: 0.8rem;
    overflow: hidden;
    border-collapse: collapse;

    thead {
      th {
        text-align: left;
        font-weight: 400;
        padding: 12px 16px;
        border-top: 1px solid var(--text-color-2);
        border-bottom: 1px solid var(--text-color-2);
        color: var(--text-color-2);
      }

      .th-cred,
      .th-deb,
      .th-note {
        border-left: 1px dotted var(--text-color-2);
        text-align: right;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--text-color-2);
        color: var(--text-color-2);
        background-color: var(--panel-color);

        .titles {
          padding: 16px 16px;
        }

        td {
          font-weight: 500;
          padding: 16px 16px 16px 30px;

          input {
            border: 1px solid var(--border-color);
            font-family: "Poppins", sans-serif;
            text-align: right;
            align-items: end;
            background-color: var(--panel-color);
            color: var(--text-color-2);
          }
        }

        .td-note {
          text-align: end;
          padding: 16px 15px;

          input {
            width: 2rem;
            text-align: right;
            border-radius: 0.35rem;
            border: 1px solid var(--eye-color);
            outline-color: var(--title-color);
            height: 1.5rem;
            padding: 5px;
          }
        }

        .td-deb,
        .td-cred {
          text-align: right;
        }
        .total-cred,
        .total-deb {
          text-align: right;
          border-bottom: 3px double var(--text-color-2);
        }
        .total-cred,
        .total-deb,
        .totass {
          border-style: double;
          border-left: none;
          border-right: none;
          border-bottom: 3px double var(--text-color-2);
          border-color: var(--text-color-2);
          background-color: var(--grey-2);
        }
      }

      .tr-total {
        border-style: double;
        border-left: none;
        border-right: none;
        border-color: var(--text-color-2);

        border-bottom: 3px double var(--text-color-2);

        .td-debtot,
        .td-credtot {
          text-align: right;
        }
      }

      tr:hover {
        td {
          cursor: pointer;
          background-color: var(--table-hover);
          //padding-left: -20px;
        }
      }
    }
  }

  .table-content {
    width: 100%;
    margin: 20px 0;
    font-size: 0.8rem;
    overflow: hidden;
    border-collapse: collapse;

    tbody {
      tr {
        .titles {
          padding: 16px 16px;
        }

        .titles2 {
          border-left: none;
          border-right: none;
          border-color: var(--text-color-2);
          border-top: 2px solid var(--text-color-2);
          padding: 16px 16px;
          font-size: 0.9rem;
        }

        .total-deb2 {
          border-left: none;
          border-right: none;
          border-color: var(--text-color-2);
          border-top: 2px solid var(--text-color-2);
          text-align: right;
          font-weight: 500;
          font-size: 0.8rem;
        }

        .total-cred2 {
          border-left: none;
          border-right: none;
          border-color: var(--text-color-2);
          border-top: 2px solid var(--text-color-2);
          text-align: right;
          font-weight: 500;
          font-size: 0.8rem;
        }

        td {
          font-weight: 500;
          padding: 16px 16px 16px 30px;
        }

        .td-deb2,
        .td-cred2 {
          text-align: right;
        }
      }

      .tr-total2 {
        border-style: double;
        border-left: none;
        border-right: none;
        border-color: var(--subtext-color);
        border-bottom: 3px double var(--subtext-color);

        .td-debtot2,
        .td-credtot2 {
          text-align: right;
        }
      }

      tr:hover {
        td {
          cursor: pointer;
          background-color: var(--grey);
        }
      }
    }
  }

  .table-content {
    width: 100%;
    margin: 20px 0;
    font-size: 0.8rem;
    overflow: hidden;
    border-collapse: collapse;

    tbody {
      tr {
        .titles {
          padding: 16px 16px;
        }
        td {
          font-weight: 500;
          padding: 16px 16px 16px 30px;
        }

        .td-deb3,
        .td-cred3 {
          text-align: right;
        }
      }

      .tr-total3 {
        border-style: double;
        border-left: none;
        border-right: none;
        border-color: var(--subtext-color);

        border-bottom: 3px double var(--subtext-color);

        .td-debtot3,
        .td-credtot3 {
          text-align: right;
        }
      }
      .tr-total5 {
        border-style: double;
        border-left: none;
        border-right: none;
        border-top: none;
        border-color: var(--subtext-color);
        padding: 16px 16px;

        border-bottom: 3px double var(--subtext-color);
      }
      tr:hover {
        td {
          cursor: pointer;
          background-color: var(--table-hover);
          // color: var(--primary-color);
        }
      }
    }
  }
}

/* Modal */
.modal-bg {
  position: fixed;
  background: var(--modal-overlay);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .modal-wrapper {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s, top 0.4s;
    background: var(--panel-color);
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;

    .modal-header {
      padding: 30px 25px;
      height: 60px;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-title {
        font-weight: 600;
        font-size: 20px;
        color: var(--text-color-2);
        margin-top: 0.15rem;
      }

      .ti-x {
        font-size: 20px;
        color: var(--text-color-3);
        cursor: pointer;
        transition: all 0.2s ease;
        padding: 4px;
        margin-top: -3px;
        margin-right: -6px;
      }

      .ti-x:hover {
        background-color: var(--grey-2);
        border-radius: 100%;
      }
    }

    .modal-body {
      padding: 20px 25px 20px;

      .text-bold {
        font-size: 15px;
        font-weight: 500;
        color: var(--text-color-2);
      }

      .text-muted {
        opacity: 55%;
        color: var(--text-color-2);
      }
    }

    .modal-footer {
      padding: 18px 25px;
      border-top: 1px solid var(--border-color);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .btn {
        width: 100px;
        height: 42px;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
      }

      .btn-save {
        background-color: var(--primary-color);
        color: var(--white);
        margin-left: 1rem;
      }

      .btn-save:hover {
        background-color: var(--primary-color-light);
      }

      .btn-close {
        background-color: transparent;
        box-shadow: 0 0 0 1px var(--border-color);
        color: var(--text-color-2);
      }

      .btn-close:hover {
        background-color: var(--grey-2);
      }
    }
  }
}

@page {
  size: letter;
}
