* {
    font-family: "Poppins", sans-serif;
  }
  
  .main {
    width: 100%;
    animation: transitionIn 0.75s;
    size: letter;
  }

  .report-name{
    font-size: 30px;
    font-weight: 600;
  }
  
  .report-name{
    color: var(--primary-color);
  }

  .sticky-div{

    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color:rgb(243, 241, 241);
    height: 120px;
    width: auto;
    flex-wrap: wrap;
    color:#fff9f9;
    padding-left: 2rem;
    margin:-20px -35px 0px -35px ;
   
.dates{
  display: flex;

    .to{
      color: #000000;
      padding: 1rem 1rem;
      
    }
      .saves{
        padding: 1px;
        
      }
      
    .filter-field2 {
      display: flex;
      width: calc(18% - 10px);
      flex-direction: column;
      margin: 8px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--dark-grey);
      }

      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        border-radius: 0.45rem;
        border: 1px solid #aaa;
        padding: 0 10px;
        height: 30px;
        margin: 8px 0 0;
      }
    }
    .filter-field3 {
      display: flex;
      width: calc(18% - 10px);
      flex-direction: column;
      margin: 8px 0;

      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--dark-grey);
      }

      input,
      select {
        padding-right: 2rem;
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        border-radius: 0.45rem;
        border: 1px solid #aaa;
        padding: 0 10px;
        height: 30px;
        margin: 8px 0 0;
      }
    }
  }
}



  .head{
    text-align: left;
  }

  .print{
    margin: auto;
    width: 70%;
    border: 1px solid var(--black);
    display: flex;
    flex-direction: row;

    .save{
      width: 70%;
      height: 5vh;
      padding-left: 1rem;
      padding-top: .5rem
    }
      
    .PDF{
      display: flex;
      padding-left: 55%;
      margin-top: .1rem;
      width: 70%;
    }

    .PDF-icon{
      padding-top: .2rem;
      font-size: 28px;
      background: none;
      padding-right: .4rem;
    }
    .excel-icon{
      padding-top: .2rem;
      font-size: 28px;
      background: none; 
    }
  }


  // .container{
  //   display: flex;
  //   flex-direction: row;

  //   .left-cont{
  //       width: 70%;
  //       height: 80vh;
  //       text-align: center;
  //   }
  //   .right-cont{
  //       margin-right: -1.9rem;
  //       margin-top: -3.6rem;
  //       width: 40%;
  //       padding: 30px;
  //       height: 87vh;
  //       border-radius: 5px;
  //       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);  
  //   }
  // }




  .main-section{
    padding-top: 2rem;
    margin: auto;
    width: 70%;
    border: 1px solid var(--black);
    border-top: none;
    
  }

  header {
    text-align: center;
    
  
    .coop-name {
      font-size: 26px;
      font-weight: 200;
      margin-bottom: 1rem;
    }
  }
  
  /* Table */
  .table-container {
    margin: auto;
    width: 95%;
    
           
  
    .table-content {
      width: 50%;
      margin: 20px 0;
      font-size: 0.9rem;
      overflow: hidden;
      border-collapse: collapse;
  
      thead {
        th {
          text-align: left;
          font-weight: 400;
          padding: 12px 16px;
          border-top: 1px solid var(--black);
          border-bottom: 1px solid var(--black);
        }
  
        .th-cred, .th-deb {
          border-left: 1px dotted var(--border-color);
          text-align: right;
        }
      }
  
      tbody {
        tr {
          //border-bottom: 1px solid var(--border-color);
        
          .titles{
            padding: 16px 16px;
          }
          td {
           
            font-weight: 500;
            padding: 16px 55px;
          }
  
          .td-deb, .td-cred {
            text-align: right;
            

          }
          .total-cred, .total-deb{
            text-align: right;
          }
          .total-cred, .total-deb, .totass{
            border-style: double;
            border-left: none;
            border-right: none;
            border-top: 2px double var(--grey);
            border-bottom: 2px double var(--grey);
            border-color: var(--grey);
            background-color:rgb(243, 241, 241);
          
          }
        }
  
        .tr-total {
          border-style: double;
          border-left: none;
          border-right: none;
          border-color: var(--black);
          
          border-bottom: 2px double var(--black);
          
  
          .td-debtot, .td-credtot {
            text-align: right;
          }
        }

        

        tr:hover {
          td {
            cursor: pointer;
            background-color: var(--grey);
            padding-left: -20px;
            // color: var(--primary-color);
          }
        }

      }
    }
    

    .table-content {
      width: 100%;
      margin: 20px 0;
      font-size: 0.9rem;
      overflow: hidden;
      border-collapse: collapse;
  
      thead {
        th {
        
          text-align: left;
          font-weight: 400;
          padding: 12px 16px;
          border-top: 1px solid var(--black);
          border-bottom: 1px solid var(--black);
        }
  
        .th-cred, .th-deb {
          border-left: 1px dotted var(--border-color);
          text-align: right;
        }
      }
  
      tbody {
        tr {
          //border-bottom: 1px solid var(--border-color);
          
          .titles{
            padding: 16px 16px;
          }
          .titles2{
            border-style: double;
            border-left: none;
            border-right: none;
            border-bottom: none;
            border-color: var(--black);
            border-top: 1px solid var(--black);
            padding: 16px 16px;
            font-size: medium;

          }

          .total-deb2 {
            border-style: double;
            border-left: none;
            border-right: none;
            border-bottom: none;
            border-color: var(--black);
            border-top: 1px solid var(--black);
            border-top: 1px double var(--black);
            text-align: right;
            font-weight: 500;
            font-size: medium;
            

          }

          td {
           
            font-weight: 500;
            padding: 16px 55px;
          }
  
          .td-deb2, .td-cred2 {
            text-align: right;
          }
        }
  
        .tr-total2 {
          border-style: double;
          border-left: none;
          border-right: none;
          border-color: var(--black);
        
          border-bottom: 2px double var(--black);
         
          
  
          //border-bottom: 2px double var(--black);
  
          .td-debtot2, .td-credtot2 {
            text-align: right;
          }
        }
  
        tr:hover {
          td {
            cursor: pointer;
            background-color: var(--grey);
            // color: var(--primary-color);
          }
        }
      }
    }


    .table-content {
      width: 100%;
      margin: 20px 0;
      font-size: 0.9rem;
      overflow: hidden;
      border-collapse: collapse;
  
      thead {
        th {
          
          text-align: left;
          font-weight: 400;
          padding: 12px 16px;
          border-top: 1px solid var(--black);
          border-bottom: 1px solid var(--black);
        }
  
        .th-cred, .th-deb {
          border-left: 1px dotted var(--border-color);
          text-align: right;
        }
      }
  
      tbody {
        tr {
          //border-bottom: 1px solid var(--border-color);
       
          .titles{
            padding: 16px 16px;
          }
          td {
           
            font-weight: 500;
            padding: 16px 55px;
          }
          
          .td-deb3, .td-cred3 {
            text-align: right;
          }
        }
  
        .tr-total3 {
          border-style: double;
          border-left: none;
          border-right: none;
          border-color: var(--black);
         
          border-bottom: 2px double var(--black);
          
         
          
  
          //border-bottom: 2px double var(--black);
  
          .td-debtot3, .td-credtot3 {
            text-align: right;
          }
        }
        .tr-total5{                                                    
          border-style: double;
          border-left: none;
          border-right: none;
          border-top: none;
          border-color: var(--black);
          padding: 16px 16px;

          border-bottom: 2px double var(--black);
        }
        tr:hover {
          td {
            cursor: pointer;
            background-color: var(--grey);
            // color: var(--primary-color);
          }
        }
      }
    }
  }
  
  @page {
    size: letter;
  }
  