<main>
  <h1 class="title">Inventory</h1>

  <div class="add-member">
    <button class="btn-add">
      <i class="ti ti-plus"></i>
      Add item
    </button>
  </div>

  <div class="table-filter">
    <!-- Search -->
    <div class="filter-field1"> 
      <label for="search-member" placeholder="Search item">Items</label>

      <input class="form-control" type="text" placeholder="Search item" [(ngModel)]="term"/>
    </div>
    <!-- Type -->
    <div class="filter-field2">
      <label>Category</label>
      <select class="Category"[(ngModel)]="category" name="category"> 
        <option [ngValue]="undefined" selected>All</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>  
      </select>
    </div>
    <!-- Status -->
    <div class="filter-field3">
      <label>Price</label>
      <select class="price" [(ngModel)]="pricing" (change)="change($event)">
        <option [ngValue]="undefined" selected >All</option>
        <option value="low">Low-High</option>
        <option value="high">High-Low</option>
      </select>
    </div>
  </div>
  
  <div class="table-container">
    <table class="table-content">
      <thead>
        <tr>
          <th>Item</th>
          <th>Unit</th>
          <th>Stock</th>
          <th>Price</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inv of invItem | filterInvName: term | filter: category | paginate: { itemsPerPage: 5, currentPage: p }">
          <td>{{inv.name}}</td>
          <td>{{inv.unit}}</td>
          <td>{{inv.stock}}</td>
          <td>{{inv.price}}</td>
          <td>{{inv.category}}</td>  
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-controls">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</main>