* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
  border-radius: 0.625rem;
  background-color: var(--panel-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
  // margin-left: -1rem;

  .title {
    color: var(--title-color);
    margin-bottom: 10px;
  }
}

.main-cont {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 45px;
}

.container {
  display: flex;
  flex-direction: row;

  .left-cont {
    margin-right: 1.5rem;
    width: 70%;
    height: 80vh;
    text-align: center;
  }
  .right-cont {
    margin-right: -2.7rem;
    margin-top: -3rem;
    width: 40%;
    padding: 0;
    height: 97vh;
    // border-radius: 5px;
    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    // margin-left: -14rem;
    // margin-right: -10rem;
    // margin-top: -4rem;
    // border-color: #aaaaaaef;
    // border-width: 5px;
    // border-style: groove;
    // border-radius: 1rem;
    // background-color: #e6e1e1;
    // height: ;
  }

  .recent {
    color: var(--title-color);
    margin-bottom: 1rem;
  }
}

div.dotted {
  border: 1px;
  border-style: none solid none none;
  margin-top: -1rem;
  height: 100%;
  right: 37%;
  position: absolute;
  color: var(--text-color-3);
}

.amount label,
input {
  display: flex;
  flex-wrap: wrap;
  float: right;
}

.ng-select.trial ::ng-deep .ng-select-container {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
  height: 36px;
  width: 100%;
  min-width: 21vw;
  max-width: 21vw;

  .ng-input {
    > input {
      font-family: "Poppins", sans-serif;
      color: var(--text-color-2);
      padding: 2px 0px;
      font-size: 14px;
    }
  }
}

.ng-select.trial ::ng-deep .ng-control {
  min-height: 0px;
  border-radius: 0.5rem;
}

.ng-select.trial ::ng-deep .ng-dropdown-panel {
  width: 100%;
  text-align: left;
  margin-top: 0.36rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  font-size: 14px;
}

.ng-select.payMethod ::ng-deep .ng-control,
.ng-select.depositCash ::ng-deep .ng-control,
.ng-select.transactionNum ::ng-deep .ng-control {
  min-height: 0px;
  border-radius: 0.5rem;
}

.ng-select.payMethod ::ng-deep .ng-dropdown-panel,
.ng-select.depositCash ::ng-deep .ng-dropdown-panel,
.ng-select.transactionNum ::ng-deep .ng-dropdown-panel {
  width: 100%;
  position: absolute;
  margin-top: 0.36rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  font-size: 14px;
}

.ng-select.payMethod ::ng-deep .ng-select-container,
.ng-select.depositCash ::ng-deep .ng-select-container,
.ng-select.transactionNum ::ng-deep .ng-select-container {
  height: 36px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);

  .ng-input {
    > input {
      font-family: "Poppins", sans-serif;
      color: var(--text-color-2);
      padding: 3px 0px;
      font-size: 14px;
    }
  }
}

.ng-select.payMethod ::ng-deep .ng-dropdown-panel .ng-option,
.ng-select.depositCash ::ng-deep .ng-dropdown-panel .ng-option,
.ng-select.transactionNum ::ng-deep .ng-dropdown-panel .ng-option,
.ng-select.trial ::ng-deep .ng-dropdown-panel .ng-option {
  background-color: transparent;
  font-size: 14px;
}

.ng-select.payMethod ::ng-deep .ng-dropdown-panel .ng-option:hover,
.ng-select.depositCash ::ng-deep .ng-dropdown-panel .ng-option:hover,
.ng-select.transactionNum ::ng-deep .ng-dropdown-panel .ng-option:hover,
.ng-select.trial ::ng-deep .ng-dropdown-panel .ng-option:hover {
  background-color: var(--select-hover);
}

.ng-select.payMethod ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
.ng-select.depositCash ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
.ng-select.transactionNum ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
.ng-select.trial ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  color: var(--text-color-2);
  font-size: 14px;
}

.sub_header {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 111%;
  color: var(--text-color-3);

  .customerPayment {
    margin: 0 15px 20px 1px;
    width: calc(70% / 2.3 - 20px);

    select,
    select,
    input[type="date"],
    input[type="email"],
    input[type="text"] {
      height: 36px;
      width: 100%;
      outline: none;
      font-size: 14px;
      font-weight: 400;
      color: var(--text-color-3);
      background-color: var(--panel-color);
      border-radius: 0.5rem;
      border: 1px solid var(--border-color);
      padding: 0 10px;
    }

    input[type="date"] {
      color: var(--text-color-2);
    }
  }
}

.journals {
  width: 100%;
  // height: 70%;
  // position: sticky;
  min-height: 60%;
  max-height: 60%;
  overflow-y: scroll;
  margin-bottom: 0.7rem;
}

.right-table {
  width: 98.4%;
  height: 85vh;
  overflow-y: scroll;

  table {
    tbody {
      tr {
        .td-debit,
        .td-credit {
          text-align: right;
        }
      }
    }
  }
}

table {
  width: 99%;
  font-size: 14px;
  border-collapse: collapse;
  border-radius: 0.425rem;
  border-style: hidden;
  box-shadow: 0 0 0 1px var(--border-color);
  margin-left: 1px;
  margin-top: 2px;

  tbody {
    td {
      border-bottom-left-radius: 0.425rem;
      border-bottom-right-radius: 0.425rem;
    }
  }
}

.th-left {
  border-top-left-radius: 0.425rem;
}

.radius {
  border-top-right-radius: 0.425rem;
}

table th {
  background-color: var(--table-header);
  color: var(--title-color);
  text-align: left;
  font-weight: bold;
  padding: 1px 16px;
}

.td-center {
  text-align: center;
  color: var(--text-color-2);
}

.tablePayment1 input {
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  height: 36px;
  margin: 2px 0;
  display: flex;
  width: 100%;
  padding: 10px 10px;
}

.tablePayment input {
  padding: 0px 8px;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
  height: 36px;
  margin: 2px 0;
  display: flex;
  width: 100%;
  min-width: 200px;
}

table .th-right {
  text-align: right;
}

.td-right input {
  padding-right: 2px;
  text-align: right;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  height: 36px;
  margin: 2px 0;
  display: flex;
  width: 100%;
  padding: 10px 10px;
  text-align: right;
}

.right-cont tbody {
  tr {
    border-bottom: 1px solid var(--border-color);
    // /background-color: var(--panel-color);

    td {
      text-align: left;
      font-weight: 500;
      padding: 1px 16px;
      border-right: 1px solid var(--border-color);
      width: 28%;
      border-radius: 0.425rem;
    }

    td:first-child {
      width: 5%;
      border-left: 5px solid var(--border-color);
    }
  }
}

.add-row {
  text-align: left;

  .add {
    height: 40px;
    width: 80px;
    background-color: var(--primary-color);
    //color: #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 6px 13px;
    margin-top: 1rem;
    span {
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      margin-top: 10px;
    }
  }
}

.addbut {
  border: none;
  font-size: 24px;
  background: none;
  background-color: none;
  color: var(--green);
  border-radius: 0.5rem;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}

.delbut {
  height: auto;
  width: 22px;
  border: none;
  font-size: 24px;
  background: none;
  background-color: none;
  color: var(--red);
  border-radius: 0.5rem;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}

.total {
  color: var(--text-color-2);
  text-align: right;

  .td-total,
  .td-totdeb,
  .td-totcred {
    padding-right: 10px;
  }
}

.footer {
  height: 7%;
  width: 65%;
  margin-top: -5.5rem;
  margin-bottom: -5rem;
  // position: sticky;

  .cancel {
    height: 40px;
    width: 90px;
    background-color: transparent;
    box-shadow: 0 0 0 1px var(--border-color);
    color: var(--text-color-2);
    border-radius: .5rem;
    font-weight: 500;
    font-size: 14px;
  }

  .cancel:hover {
    background-color: var(--grey-2);
  }

  .save {
    margin-right: 2%;
    height: 40px;
    width: 90px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: .5rem;
    outline: none;
    font-weight: 500;
    float: right;
    font-size: 14px;
    cursor: pointer;
  }

  .save:hover {
    background-color: var(--primary-color-light);
  }
}

.conbox {
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--border-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 0 10px;
}

/* Delete Modal */
.del-modal {
  position: fixed;
  background: var(--modal-overlay);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .modal-wrapper {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s, top 0.4s;
    background: var(--panel-color);
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;

    .modal-header {
      padding: 30px 25px;
      height: 60px;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-title {
        font-weight: 600;
        font-size: 20px;
        color: var(--text-color-2);
        margin-top: 0.15rem;
      }

      .ti-x {
        font-size: 20px;
        color: var(--dark-grey);
        cursor: pointer;
        transition: all 0.2s ease;
        padding: 4px;
        margin-top: -3px;
        margin-right: -6px;
      }

      .ti-x:hover {
        background-color: var(--grey-alt);
        border-radius: 100%;
      }
    }

    .modal-body {
      padding: 20px 25px 20px;
      text-align: left;

      .text-bold {
        font-size: 15px;
        font-weight: 500;
      }

      .text-muted {
        opacity: 55%;
      }
    }

    .modal-footer {
      padding: 18px 25px;
      border-top: 1px solid var(--border-color);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .btn {
        width: 100px;
        height: 42px;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
      }

      .btn-save {
        background-color: var(--primary-color);
        color: var(--white);
        margin-left: 1rem;
      }

      .btn-save:hover {
        background-color: var(--primary-color-light);
      }

      .btn-close {
        background-color: transparent;
        box-shadow: 0 0 0 1px var(--border-color);
        color: var(--text-color-2);
      }

      .btn-close:hover {
        background-color: var(--grey-2);
      }
    }
  }
}
