* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

main {
    width: 100%;
    height: 100%;
    margin-left: -1rem;

    .title {
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  }

.container{
    display: flex;
    flex-direction: row;

    .left-cont{
        margin-right: 1.5rem;
        width: 70%;
        height: 80vh;
        text-align: center;
    }
    .right-cont{
        margin-right: -2.7rem;
        margin-top: -4rem;
        width: 40%;
        padding: 0;
        height: 97vh;
        // border-radius: 5px;
        // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);  

        // margin-left: -14rem;
        // margin-right: -10rem;
        // margin-top: -4rem;
        // border-color: #aaaaaaef;
        // border-width: 5px;
        // border-style: groove;
        // border-radius: 1rem;
        // background-color: #e6e1e1;
        // height: ;
        }

        .recent{
            color: var(--primary-color);
            margin-bottom: 1rem;
        }
    }

    div.dotted{
        border: 1px;
        border-style: none solid none none;
        margin-top: -1rem;
        padding: 25.2%;
        right: 37%;
        position:absolute;
        color: #aaa;
    }


.sticky-div{
    display: flex;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color:#3F0F88;
    height: 60px;
    width: auto;
    flex-wrap: wrap;
    color:#fff9f9;
    padding-left: 2rem;
    margin:-20px -35px 0px -35px ;
}

.invo-number{
display: flex;
font-size: 26px;
font-weight: 500;
flex-wrap: wrap;
color:#fff9f9;
}

.exit{
align-self: end;

}
.close{
cursor: pointer;
font-size: 1.8rem;
padding: auto;
}

.amount label, input{
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.received input{
    display: flex;
    flex-wrap: wrap;
    float: right;
    height: 36px;
    width: 150px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}

.amounts{
    color: #aaa;
}

.amounts2{
    font-size: 30px;
    color: #3F0F88;
}

//ngselect

// .trial ::ng-deep .ng-select-container{
//     width: 200px;
// }

// .trial ::ng-deep .ng-select-container .ng-value{
//     text-align: left;
//   }

  .ng-select.trial ::ng-deep .ng-select-container {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    height: 36px;
    width: 100%;
    min-width: 300px;
  }
  
  .ng-select.trial ::ng-deep .ng-control {
    min-height: 0px;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  
  .ng-select.trial ::ng-deep .ng-dropdown-panel {
    width: 100%;
    position: absolute;
    //max-width: 300px;
    //margin-left: 10px;
  }


.payMethod ::ng-deep .ng-select-container,
.depositCash ::ng-deep .ng-select-container,
.transactionNum ::ng-deep .ng-select-container,
.referenceNum ::ng-deep .ng-select-container{
    height: 36px;
    outline: none;
    font-size: 12.3px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 0px;
  }
  
  .payMethod ::ng-deep .ng-select-container .ng-placeholder,
  .depositCash ::ng-deep .ng-select-container .ng-placeholder,
  .payMethod ::ng-deep .ng-select-container .ng-value,
  .depositCash ::ng-deep .ng-select-container .ng-value,
  .transactionNum ::ng-deep .ng-select-container .ng-value,
  .transactionNum ::ng-deep .ng-select-container .ng-placeholder,
  .referenceNum ::ng-deep .ng-select-container .ng-value,
  .referenceNum ::ng-deep .ng-select-container .ng-placeholder{
  color: #333;
  }
  
  .payMethod ::ng-deep .ng-dropdown-panel,
  .depositCash ::ng-deep .ng-dropdown-panel,
  .transactionNum ::ng-deep .ng-dropdown-panel,
  .referenceNum ::ng-deep .ng-dropdown-panel{
    width: 100%;
  }

.sub_header {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 111%;
    color: #3F0F88;
    

    .customerPayment{
        margin: 0 15px 20px 1px;
        width: calc(70% / 2.3 - 20px);

        select, select, input[type=date], input[type=email], input[type=text]{
            height: 36px;
            width: 100%;
            outline: none;
            font-size: 12.3px;
            font-weight: 400;
            color: #333;
            border-radius: 5px;
            border: 1px solid #aaa;
            padding: 0 10px;
            
        }
    }

}

.sub_header2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #3F0F88;
    width: 100%;

    .customerPayment2{
        margin: 0 0 90px 0;
        width: calc(56% / 2.3 - 20px);

        select, input[type=date], input[type=number]{
            height: 36px;
            width: 100%;
            outline: none;
            font-size: 16px;
            font-weight: 400;
            color: #333;
            border-radius: 5px;
            border: 1px solid #aaa;
            padding: 0 10px;
        }

        select{
            margin: 0;
        }
    }

}

.outsTransac{
    font-size: 30px;
    font-weight: 500;
    color: #3F0F88;
}

.sub_header3 {
    display: flex;
    flex-wrap: wrap;
    color: #3F0F88;
    width: 100%;

    .customerPayment3{
        margin: 0 40px 20px 0;
        width: calc(56% / 2.3 - 20px);

        input, input[type=date]{
            height: 36px;
            width: 100%;
            outline: none;
            font-size: 16px;
            font-weight: 400;
            color: #333;
            border-radius: 5px;
            border: 1px solid #aaa;
            padding: 0 10px;
        }
    }

}

.journals{
    width: 98.4%;
    // height: 70%;
    // position: sticky;

    height: 52vh;
    overflow-y: scroll;
    margin-bottom: .7rem;
}

.right-table{
    width: 98.4%;
    height: 90vh;
    overflow-y: scroll;
}

table{
    // width: 111.5%;
    // font-size: 16px;
    // text-align: center;
    // margin: 0 auto;
    // border-style: hidden;
    // border-color: #aaa;
    width: 100%;
    font-size: 0.9rem;
    border-collapse: collapse;
    border-radius: 0.625rem;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--border-color);
}

table th{
    position: sticky;
    background-color: var(--grey-alt);
    color: var(--primary-color);
    text-align: left;
    font-weight: bold;
    padding: 1px 16px;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.td-center{
    text-align: center;
}

.tablePayment1 input{
    outline: none;
    border-radius: 5px;
    border: 1px solid #aaa;
    height: 36px;
    margin: 2px 0;
    display: flex;
    width: 100%;
    padding: 10px 10px;
    
}

.tablePayment input{
    padding-left: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #aaa;
    height: 36px;
    margin: 2px 0;
    display: flex;
    width: 100%;
}

table .th-right{
    text-align: right;
}

.td-right input{
    padding-right: 2px;
    text-align: right;
    outline: none;
    border-radius: 5px;
    border: 1px solid #aaa;
    height: 36px;
    margin: 2px 0;
    display: flex;
    width: 100%;
    padding: 10px 10px;
    text-align: right;
}

.right-cont tbody {
    tr {
      border-bottom: 1px solid var(--border-color);
      background-color: var(--panel-color);

      td {
        text-align: left;
        font-weight: 500;
        padding: 1px 16px;
        border-right: 1px solid var(--border-color);
        width: 28%;
      }

      td:first-child {
        width: 5%;
        border-left: 5px solid var(--border-color);
      }
    }
  }

//pagination
.pagination-controls{
  text-align: right;
}

.add-row{

    text-align: left;

.add {
  height: 40px;
  width: 80px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 13px;
  margin-top: 1rem;
    span{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    }
}
}

.addbut {
    border: none;
    font-size: 24px;
    background: none;
    background-color: none;
    color: #00ff0d;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    cursor: pointer;
  }

.delbut {
    height: auto;
    width: 22px;
    border: none;
    font-size: 24px;
    background: none;
    background-color: none;
    color: #ff0000;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    cursor: pointer;
  }

.total{
   
    float: right;
    margin-top: 2rem;
}

.totals{
    color: var(--primary-color);
    margin-right: 5rem;
    font-weight: 1000;
}



.totals2{
    margin-left: .17rem;
}

.total a{
    border: 1px solid #aaa;
    border-radius: 25px;
    padding: 10px 25px 10px;
    margin: 1rem 0 0rem 10rem;
    font-size: 15px;
}

.total a:hover{
    background-color: #3F0F88;
    color: #fff9f9;
}

    .footer{
        float: inline-end;
        height: 7%;
        width: 100%;
        margin-top: 0;
        position: sticky;
    }
    .cancel{
    margin-left: -75%;
    height: 40px;
    width:80px;
    border: none;
    background-color: #ede9f2;
    color: #7f7a7a;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    }
    .cancel:hover{
    opacity: 80%;
    }

    .save{
    margin-right: 2%;
    height: 40px;
    width:80px;
    border: none;
    background-color: #500ea1;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    float: right;
    font-size: 15px;
    }

    .save:hover{
    opacity: 80%;
    }

.conbox{
    height: 30px;
    width:100%;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 10px;
}