* {
  font-family: inherit;
}

.heading {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--text-color-2);
}

.content {
  display: flex;
  // align-items: center;
  justify-content: space-between;
}

.text-content{
  // background-color: var(--grey-alt);
  // border-radius: 8px;
  // padding:20px;
  // margin-bottom: -1rem;

  // border-radius: 5px;
  // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
  // margin-top: 8.5rem;
}


.first-tab{
  background-color: var(--grey-alt);
  border-radius: 8px;
  padding:20px;
  margin-bottom: -1rem;

  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
  margin-top: 8.5rem;
  margin-left: -1rem;

  span{
    color: var(--text-color-2);
  }
}

.second-tab, .third-tab{
  background-color: var(--grey-alt);
  border-radius: 8px;
  padding:20px;
  margin-bottom: -1rem;

  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
  // margin-top: 8.5rem;
  margin-left: -1rem;

  span{
    color: var(--text-color-2);
  }
}

.top-content{
  background-color: var(--grey-alt);
  border-radius: 8px;
  padding:20px;

  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin-left: -1rem;
  margin-top: -8.5rem;
  width: 147.1vh;
  position: absolute;
}

.content .list {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  position: relative;
}

.content .list label {
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: var(--text-color-2);
  z-index: 12;
  white-space: nowrap;
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  background-color: #3f0f88;
  transition: all 0.4s ease;
}

#home:checked ~ .list .slider {
  top: 0;
}

#blog:checked ~ .list .slider {
  top: 60px;
}

#help:checked ~ .list .slider {
  top: 120px;
}


#home:checked ~ .list label.home,
#blog:checked ~ .list label.blog,
#help:checked ~ .list label.help{
  color: #fff;
}

.content .text-content {
  width: 80%;
  height: 100%;
}

.content .text-content .title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.content .text-content p {
  text-align: justify;
}

.content .text-content .text {
  display: none;
}


input#home{
  display: none;
}
input#blog{
  display: none;
}
input#help{
  display: none;
}

#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help {
  display: block;
}

#chat:checked ~ .text-content .home,
#blog:checked ~ .text-content .home,
#help:checked ~ .text-content .home
 {
  display: none;
}

input#home{
  display: none;
  
}
input#blog{
  display: none;
}
input#help{
  display: none;
}


// .fields {
//   display: flex;
//   width: calc(100%);
//   flex-direction: column;
//   text-align: left;
//   margin: 8px 0px;
//   padding: 0px 20px;

//   th {
//     font-size: 16px;
//     font-weight: 600;
//   }

//   .fields {
//     padding: 6px 10px;
//     border-bottom: 1px solid var(--border-color);
//     margin: 1px 8px;
//     color: var(--primary-color);
//   }
//   .fieldsdata {
//     border-bottom: 1px solid var(--border-color);
//     font-weight: 600;
//     font-size: 14px;
//   }
// }

.list span{
  margin-left: .5rem;
}

.fields{
  margin-top: -.4rem;
}

.fields table{
    margin-top: .5rem;
}

span{
  font-size: 20px;
  font-weight: 600;
}

.input-field {
  width: 40%;

 label {
   font-size: 14px;
   font-weight: 600;
   color: var(--primary-color); 
 }

 input {
   width: 100%;
   padding: 7px 15px;
   margin: 8px 0;
   background-color: var(--panel-color);

   height: 1%;
   outline-color: #3f0f88;
   border: 2px solid var(--border-color);
   color: var(--text-color-2);
   border-radius: 0.6rem;
 }
}



.save {
  text-align: right;
  margin-top: 2rem;

  .saveset {
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: var(--primary-color);
    color: var(--panel-color);
    padding: 12px 20px 12px 14px;
  }

  .saveset:hover {
    background-color: var(--primary-alt);
  }
}

.row{
  display:inline-flex;

  #fieldsdataRow{
    width: 30rem;
  }
}

.row2{
  margin-top: 1rem;
  margin-right: 1rem;
  display:inline-flex;

  #fieldsdataRow2{
    width: 19rem;
  }
}

.fields .fieldsdata2 {
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  padding: 7px 15px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
}

.fields .fieldsdata1 {
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  padding: 7px 15px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
}

.top-content .fieldsdata1 {
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  padding: 7px 15px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
}


.fields .fieldsdata {
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  margin: 2px 0;
  display: flex;
  width: 100%;
  padding: 7px 15px;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  text-align: left;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
}


.text-danger1 {
  color: red;
  font-size: 14px;
}

.change{
  margin-top: 1rem;

  label{
    color: var(--title-color);
  }
}

.btn-add{
  height: 40px;
  width: 120px;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 5px;
  outline: none;
  margin-top: 7px;
  margin-right: 8px;
  cursor: pointer;
}