* {
  font-family: inherit;
}



.heading {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.content {
  display: flex;
  // align-items: center;
  justify-content: space-between;
}

.text-content{
  background-color: var(--grey-alt);
  border-radius: 8px;
  padding:20px;
  margin:20px;
}


.content .list {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  position: relative;
}

.content .list label {
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: #333;
  z-index: 12;
  white-space: nowrap;
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  background-color: #3f0f88;
  transition: all 0.4s ease;
}

#home:checked ~ .list .slider {
  top: 0;
}

#blog:checked ~ .list .slider {
  top: 60px;
}

#help:checked ~ .list .slider {
  top: 120px;
}


#home:checked ~ .list label.home,
#blog:checked ~ .list label.blog,
#help:checked ~ .list label.help{
  color: #fff;
}

.content .text-content {
  width: 80%;
  height: 100%;
}

.content .text-content .title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.content .text-content p {
  text-align: justify;
}

.content .text-content .text {
  display: none;
}


input#home{
  display: none;
}
input#blog{
  display: none;
}
input#help{
  display: none;
}

#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help {
  display: block;
}

#chat:checked ~ .text-content .home,
#blog:checked ~ .text-content .home,
#help:checked ~ .text-content .home
 {
  display: none;
}

input#home{
  display: none;
  
}
input#blog{
  display: none;
}
input#help{
  display: none;
}


// .fields {
//   display: flex;
//   width: calc(100%);
//   flex-direction: column;
//   text-align: left;
//   margin: 8px 0px;
//   padding: 0px 20px;

//   th {
//     font-size: 16px;
//     font-weight: 600;
//   }

//   .fields {
//     padding: 6px 10px;
//     border-bottom: 1px solid var(--border-color);
//     margin: 1px 8px;
//     color: var(--primary-color);
//   }
//   .fieldsdata {
//     border-bottom: 1px solid var(--border-color);
//     font-weight: 600;
//     font-size: 14px;
//   }
// }


.input-field {
  width: 50%;

 margin: 8px 0;
 
 

 label {
  font-size: 14px;
   font-weight: 600;
   color: var(--primary-color);
   
 }
 input {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   
   border-radius: 8px;
 }
}



.save {
  text-align: right;
  margin-top: 2rem;

  .saveset {
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: var(--primary-color);
    color: var(--panel-color);
    padding: 12px 20px 12px 14px;
  }

  .saveset:hover {
    background-color: var(--primary-alt);
  }
}


.fields .fieldsdata {
  outline-color: #3f0f88;
  border: 1px solid #959494;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  padding: 0 15px;
  height: 36px;
  margin: 2px 0;
  display: flex;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  text-align: left;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}


.text-danger1 {
  color: red;
  font-size: 14px;
}
