* {
  font-family: inherit;
}

.heading {
  margin-bottom: 20px;
  color: var(--title-color);
}

.content {
  display: flex;
  justify-content: space-between;

  .text-content {
    // background-color: var(--grey-alt);
    // border-radius: .5rem;
    // padding:20px;
    // margin-bottom: -1rem;
  }
}

.first-tab {
  background-color: var(--panel-color);
  border-radius: 0.75rem;
  padding: 20px;
  margin-bottom: -1rem;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
  margin-top: 8.5rem;
  margin-left: -1rem;

  span {
    color: var(--text-color-2);
  }
}

.second-tab,
.third-tab {
  background-color: var(--panel-color);
  border-radius: 0.75rem;
  padding: 20px;
  margin-bottom: -1rem;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
  margin-left: -1rem;

  span {
    color: var(--text-color-2);
  }
}

.top-content {
  background-color: var(--panel-color);
  border-radius: 0.75rem;
  padding: 20px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
  margin-left: -1rem;
  margin-top: -8.5rem;
  width: 75.2%;
  // /width: 147.1vh;
  position: absolute;
}

.content .list {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  position: relative;
}

.content .list label {
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: var(--text-color-2);
  z-index: 12;
  white-space: nowrap;
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  background-color: #3f0f88;
  transition: all 0.4s ease;
}

#home:checked ~ .list .slider {
  top: 0;
}

#blog:checked ~ .list .slider {
  top: 60px;
}

#help:checked ~ .list .slider {
  top: 120px;
}

#home:checked ~ .list label.home,
#blog:checked ~ .list label.blog,
#help:checked ~ .list label.help {
  color: #fff;
}

.content .text-content {
  width: 80%;
  height: 100%;
}

.content .text-content .title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.content .text-content p {
  text-align: justify;
}

.content .text-content .text {
  display: none;
}

input#home {
  display: none;
}
input#blog {
  display: none;
}
input#help {
  display: none;
}

#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help {
  display: block;
}

#chat:checked ~ .text-content .home,
#blog:checked ~ .text-content .home,
#help:checked ~ .text-content .home {
  display: none;
}

input#home {
  display: none;
}
input#blog {
  display: none;
}
input#help {
  display: none;
}

.list span {
  margin-left: 0.5rem;
}

.fields {
  margin-top: -0.4rem;
}

.fields table {
  margin-top: 0.5rem;
}

span {
  font-size: 20px;
  font-weight: 600;
}

.input-field {
  width: 40%;

  label {
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
  }

  input {
    width: 100%;
    padding: 7px 15px;
    margin: 8px 0;
    background-color: var(--panel-color);

    height: 1%;
    outline-color: #3f0f88;
    border: 2px solid var(--border-color);
    color: var(--text-color-2);
    border-radius: 0.6rem;
  }


  .eyecurrent {
    content: "\ea9a";
    position: absolute;
    left: 36%;
    top: 16%;
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--eye-color);
  }
  
  .eye {
    content: "\ea9a";
    position: absolute;
    left: 36%;
    top: 50%;
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--eye-color);
  }
  
  .eye2 {
    content: "\ea9a";
    position: absolute;
    left: 36%;
    top: 84%;
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--eye-color);
  }
}

.row {
  display: inline-flex;

  #fieldsdataRow {
    width: 30rem;
  }
}

.row2 {
  margin-top: 1rem;
  margin-right: 1rem;
  display: inline-flex;

  #fieldsdataRow2 {
    width: 19rem;
  }
}

.fields .fieldsdata2 {
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  padding: 7px 15px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
}

.fields .fieldsdata1 {
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  padding: 7px 15px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
}

.top-content .fieldsdata1 {
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  padding: 7px 15px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
}

.fields .fieldsdata {
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  margin: 2px 0;
  display: flex;
  width: 100%;
  padding: 7px 15px;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  text-align: left;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
}


.text-danger1 {
  color: var(--red);
  font-size: 14px;
}

.change {
  margin-top: 1rem;
  position: relative;

  label {
    color: var(--text-color-3);
  }
}

.btn-add {
  height: 40px;
  width: 140px;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 0.6rem;
  margin-top: 7px;
  cursor: pointer;
}

.btn-add:hover {
  background-color: var(--primary-color-light);
}
