<main>
  <h1 class="title">Members Profile</h1>

  <div class="container">
    <h3>Name and Email</h3>
    <div class="fields">
      <table >
        <tr>
          <th class="fields">Name</th>
          <td class="fieldsdata">{{ first_name }} {{ middle_name }} {{ last_name }} {{ suffix }}</td>
        </tr>
        <tr>
          <th class="fields">Email</th>
          <td class="fieldsdata">{{ email }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
    <h3>Additional Information</h3>
    <div class="fields">
      <table>
        <tr>
          <th class="fields">Mobile Number</th>
          <td class="fieldsdata">{{ mobile_number }}</td>
        </tr>
        <tr>
          <th class="fields">Gender</th>
          <td class="fieldsdata">{{ gender }}</td>
        </tr>
        <tr>
          <th class="fields">Birthday</th>
          <td class="fieldsdata">{{ birthdate }}</td>
        </tr>
        <tr>
          <th class="fields">Civil Status</th>
          <td class="fieldsdata">{{ civil_status }}</td>
        </tr>
        <tr>
          <th class="fields">Spouse</th>
          <td class="fieldsdata">{{ spouse }}</td>
        </tr>
        <tr>
          <th class="fields">Current Address</th>
          <td class="fieldsdata">{{ address }}</td>
        </tr>
        <tr>
          <th class="fields">Employement Status</th>
          <td class="fieldsdata">{{ employment_status }}</td>
        </tr>
        <tr>
          <th class="fields">TIN Number</th>
          <td class="fieldsdata">{{ tin_number }}</td>
        </tr>
        <tr>
          <th class="fields">Occupation</th>
          <td class="fieldsdata">{{ occupation }}</td>
        </tr>
        <tr>
          <th class="fields">Department</th>
          <td class="fieldsdata">{{ department }}</td>
        </tr>
        <tr>
          <th class="fields">Company</th>
          <td class="fieldsdata">{{ company_name }}</td>
        </tr>
        <tr>
          <th class="fields">Company Address</th>
          <td class="fieldsdata">{{ company_address }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
    <h3>Beneficiary</h3>
    <div class="fields">
      <table  *ngFor="let b of ben">
        <tr *ngIf="memId==b.benificiary_id">
            <td class="fieldsdata" width="30%">{{b.benificiary_name}} </td>
            <td class="fieldsdata" width="30%">{{b.benificiary_birthdate}} </td>
            <td class="fieldsdata" width="30%">{{b.benificiary_relation}} </td>
          <br>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
  <div class="tabs">
    <div class="tab">
      <input type="checkbox" id="chck1">
      <label class="tab-label" for="chck1">Password</label>
      <div class="tab-content">
    <div class="fields">
      <div class="passhead">
        <h4>Change Password</h4>
      </div>
      <div class="change">
        <div class="input-field">
          <label for="Current">Current</label>
          <input type="text" />
        </div>
        <div class="input-field">
          <label for="New">New</label>
          <input type="text"/>
        </div>
        <div class="input-field">
          <label for="Retype New">Retype New</label>
          <input type="text" />
        </div>
      </div>
      <div class="fields"></div>
      <h5>Forgot Password</h5>
      <div class="fields"></div>
      <div class="add-account">
      <button class="btn-add">
        Save Changes
      </button>
    </div>
    </div>
      </div>
    </div>
    </div>
   