<main>
  <h1 class="title">Members Profile</h1>

  <div class="container">
    <h3>Name and Email</h3>
    <div class="fields">
      <table>
        <tr>
          <th class="fields">Name</th>
          <td class="fieldsdata"></td>
        </tr>
        <tr>
          <th class="fields">Email</th>
          <td class="fieldsdata"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
    <h3>Additional Information</h3>
    <div class="fields">
      <table>
        <tr>
          <th class="fields">Mobile Number</th>
          <td class="fieldsdata"></td>
        </tr>
        <tr>
          <th class="fields">Gender</th>
          <td class="fieldsdata"></td>
        </tr>
        <tr>
          <th class="fields">Spouse</th>
          <td class="fieldsdata"></td>
        </tr>
        <tr>
          <th class="fields">Current Address</th>
          <td class="fieldsdata"></td>
        </tr>
        <tr>
          <th class="fields">Employement Status</th>
          <td class="fieldsdata"></td>
        </tr>
        <tr>
          <th class="fields">Occupation</th>
          <td class="fieldsdata"></td>
        </tr>
        <tr>
          <th class="fields">Department</th>
          <td class="fieldsdata"></td>
        </tr>
        <tr>
          <th class="fields">Company</th>
          <td class="fieldsdata"></td>
        </tr>
        <tr>
          <th class="fields">Company Address</th>
          <td class="fieldsdata"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
    <h3>Beneficiary</h3>
    <div class="fields">
      <table>
        <tr>
          <th class="fields"></th>
          <td class="fieldsdata"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
  <div class="tabs">
      <input type="checkbox" id="chck1">
      <label class="tab-label" for="chck1">Password</label>
      <div class="tab-content">
      <div class="passhead">
        <h4>Change Password</h4>
        <div class="fields"></div>
      </div>
      <div class="change">
        <div class="input-field">
          <label for="Current">Current</label>
          <input type="text" />
        <div class="fields"></div>
        </div>
        <div class="input-field">
          <label for="New">New</label>
          <input type="text" />
          <div class="fields"></div>
        </div>
        <div class="input-field">
          <label for="Retype New">Retype New</label>
          <input type="text" />
          <div class="fields"></div>
        </div>
      </div>
      <h5>Forgot Password</h5>
      <div class="fields"></div>
      <div class="add-account">
      <button class="btn-add">
        Save Changes
      </button>
    </div>
    </div>
      </div>
    </div>