<main>
  <div class="layout">
    <div class="wrapper">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
    </div>
    <div class="inner-box">
      <div class="reg-wrap">
        <form
          [formGroup]="registerForm"
          ngNativeValidate
          (ngSubmit)="regMember()"
          #memberRegistration="ngForm"
          *ngIf="isDisplayed"
          @slideright2
        >
          <div class="fullNamePage">
            <div class="info1" [@formState2]="info1State">
              <div class="whlogo">
                <img src="assets/image/coop-logo.png" />
                <p>
                  WAH <br />
                  Cooperative
                </p>
              </div>
              <div class="heading">
                <h1>Get Started</h1>
                <p>Create an account to login</p>
                <br />
                <p>
                  Already have an account?
                  <a [routerLink]="['/login']" class="login">Login</a>
                </p>
              </div>

              <div class="text_field1">
                <div class="text-wrap">
                  <input
                    type="email"
                    name="email"
                    formControlName="email"
                    id="reg-email"
                    placeholder="Email"
                    required
                    [(ngModel)]="form.email"
                    [(ngModel)]="emails"
                  />
                  <br />
                </div>
                <div class="text-wrap">
                  <input
                    (input)="checkPasswordValidity()"
                    [(ngModel)]="passwords"
                    formControlName="pass"
                    [type]="changetype ? 'password' : 'text'"
                    name="pass"
                    id="reg-pass"
                    placeholder="Password"
                    required
                    minlength="8"
                    maxlength="16"
                    pattern="(?=.*[0-9])(?=.*[!@#$%^&*()_])[a-zA-Z0-9!@#$%^&*()_]{8,16}$" 
                    title="Password must be at least 8 characters, one letter, one number and one special character:"
                    [(ngModel)]="form.password"
                    [(ngModel)]="passwords"
                  />
                  <span class="eye" (click)="viewpass()"
                    ><i
                      [ngClass]="visible ? 'ti ti-eye-closed' : 'ti ti-eye'"
                    ></i></span
                  ><br />
                </div>

                <div>
                  <strength-meter
                    [value]="registerForm.value.pass"
                    (measure)="onStrengthChange($event)"
                  ></strength-meter>
                </div>

                <div class="text-wrap">
                  <input
                    formControlName="cpass"
                    [type]="cchangetype ? 'password' : 'text'"
                    name="cpass"
                    id="con-pass"
                    placeholder="Confirm Password"
                    required
                    [(ngModel)]="form.confirm_pass"
                    [(ngModel)]="cpasswords"
                  />
                  <span class="eye2" (click)="cviewpass()"
                    ><i
                      [ngClass]="cvisible ? 'ti ti-eye-closed' : 'ti ti-eye'"
                    ></i
                  ></span>
                </div>
                <div
                  class="notMatch"
                  *ngIf="
                    registerForm.get('cpass')!.touched &&
                    registerForm.get('cpass')!.invalid &&
                    registerForm.controls['cpass'].errors!['passwordMatch']
                  "
                >
                  <small> Password not match </small>
                </div>
              </div>
              
              <div
                *ngIf="
                  emails !== '' &&
                  passwords !== '' &&
                  passwords !== '(?=.*[0-9])(?=.*[!@#$%^&*()_)[a-zA-Z0-9!@#$%^&*()_]{8,16}$' &&
                  cpasswords !== '' &&
                  
                  chkEnable.checked
                "
              >
                <button
                  class="submit"
                  (click)="toggle()"
                  [disabled]="cpasswords !== passwords" 
                  [disabled]="!isPasswordValid"
                >
                  Next
                </button>
              </div>

              <div
                *ngIf="
                  emails === '' ||
                  passwords === '' ||
                  passwords === '(?=.*[0-9])(?=.*[!@#$%^&*()_])[a-zA-Z0-9!@#$%^&*()_]{8,16}$' ||
                  cpasswords === '' ||
                  !chkEnable.checked 
                  
                "
              >
                <button class="submit">Next</button>
              </div>
              <div class="terms">
                <!-- <span class="check" (click)="checkBox()"><i [ngClass]="checkvisible?'ti ti-square':'ti ti-square-check-filled'"></i></span>   -->
                <input
                  formControlName="chckbox"
                  name="chckbox"
                  class="check"
                  id="cb1"
                  type="checkbox"
                  required
                  [ngClass]="{
                    'is-invalid': submitted && frm['chckbox'].errors
                  }"
                  #chkEnable
                  [(ngModel)]="isChecked"
                  (change)="(submitted)"
                />
                <label for="cb1"></label>
                <p for="acceptTerms">
                  I agree to the
                  <a class="condition" (click)="showTerms(1)"
                    >Privacy Policy.</a
                  >
                </p>
              </div>
            </div>

            <div class="info2" [@formState2]="info2State">
              <div class="header">
                <p>Personal Information</p>
              </div>
              <div class="back">
                <button (click)="toggle2()">
                  <i class="ti ti-arrow-left"></i>
                </button>
              </div>

              <div class="text_field2">
                <div class="text-wrap">
                  <input
                    type="text"
                    name="first_name"
                    formControlName="first_name"
                    id="reg-first-name"
                    placeholder="First Name"
                    required
                    [(ngModel)]="form.first_name"
                  />
                  <br />
                </div>

                <div class="text-wrap">
                  <input
                    type="text"
                    name="middle_name"
                    formControlName="middle_name"
                    id="reg-middle_name"
                    [(ngModel)]="form.middle_name"
                    placeholder="Middle Name"
                  />
                </div>

                <div class="text-wrap" class="text-wrap2">
                  <input
                    class="mName"
                    type="text"
                    name="last_name"
                    formControlName="last_name"
                    id="reg_last_name"
                    placeholder="Last Name"
                    required
                    [(ngModel)]="form.last_name"
                  />
                  <br />
                  <input
                    class="nSuffix"
                    type="text"
                    name="suffix"
                    id="reg-suffix"
                    [(ngModel)]="form.suffix"
                    placeholder="Suffix"
                  /><br />
                </div>

                <div class="text-wrap">
                  <ng-select
                    [searchable]="false"
                    [clearable]="false"
                    class="selectGender"
                    [(ngModel)]="form.gender"
                    id="gender"
                    name="gender"
                    formControlName="gender"
                    placeholder="Gender"
                  >
                    <ng-option *ngFor="let gender of genders" [value]="gender">
                      {{ gender }}
                    </ng-option>
                  </ng-select>
                  <input
                    class="dateOfBirth"
                    type="text"
                    max="{{ maxDate }}"
                    name="birthdate"
                    formControlName="birthdate"
                    id="birthdate"
                    required
                    [(ngModel)]="form.birthdate"
                    placeholder="Date of Birth"
                    onfocus="this.type='date'"
                    onblur="this.type='text'"
                  /><br />
                </div>

                <div class="text-wrap">
                  <input
                    type="number"
                    name="mobile_number"
                    formControlName="mobile_number"
                    id="mobile_number"
                    placeholder="Mobile Number"
                    required
                    [(ngModel)]="form.mobile_number"
                  />
                  <br />
                </div>

                <div class="text-wrap">
                  <input
                    type="text"
                    name="company_name"
                    formControlName="company_name"
                    id="company_name"
                    placeholder="Company Name"
                    required
                    [(ngModel)]="form.company_name"
                  />
                  <br />
                </div>

                <div class="text-wrap">
                  <ng-select
                    [searchable]="false"
                    [clearable]="false"
                    class="selectDept"
                    [(ngModel)]="form.department"
                    formControlName="department"
                    id="department"
                    placeholder="Department"
                  >
                    <ng-option
                      *ngFor="let item of depts"
                      [value]="item.department_name"
                    >
                      {{ item.department_name }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>

              <button class="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="reg-vector" *ngIf="isDisplayed" @slideleft2>
        <img src="assets/image/register.png" class="register" />
      </div>
    </div>
  </div>
</main>

<section>
  <div class="modal-bg" *ngIf="termsModal === 1">
    <div class="modal-wrapper">
      <div class="modal-header">
        <span class="header-title">Privacy Policy of WAHffle</span>
      </div>

      <div class="modal-body">
        <ol>
          <li>
            <h3>Introduction</h3>
            <p>
              WAHffle respects your individual privacy and protects any personal
              information that you share with us. We commit to secure the
              individual’s right to privacy and ensure the trustworthiness of
              processing of individual’s personal information.
            </p>
            <p>
              WAHffle strives to comply with the Data Privacy Act of 2012 that is
              designed to protect your privacy. We intend to adhere to the
              principles set forth in this Privacy Statement and recognize your
              need for appropriate protection and management of any personal
              information. In other words, our goal is to provide protection for
              your privacy regardless of what types of device or application to
              access our Services. By using our Services, you consent to the
              collection, storage, processing, transferring, disclosure, and
              other usage of the Information described in this Privacy Statement
              and Terms of Service Agreement.
            </p>
          </li>
          <li>
            <h3>Information Collection</h3>
            <p>
              We may collect, store and transfer the following information:
            </p>
            <ul>
              <li>
                Name and address
              </li>
              <li>
                Contact information including email address
              </li>
              <li>
                Demographic information such as postcode, age, gender and employment
              </li>
              <li>
                Other information relevant to individual’s request and/or offers
              </li>
            </ul>
          </li>
          <li>
            <h3>Purpose of Collected Data</h3>
            <p>
              You consent that your collected Personal Information may be used:
            </p>
            <ul>
              <li>
                To help improve our data and services and customize user experience;
              </li>
              <li>
                To participate in and facilitate transactions;
              </li>
              <li>
                To deliver the products and services that you have requested;
              </li>
              <li>
                To follow safety, security, public service or legal requirements and processes;
              </li>
              <li>
                To process information for statistical, analytical, and research purposes; and
              </li>
              <li>
                To identify and prevent errors and inefficiencies due to misuse of the platform;
              </li>
              <li>
                To enforce our terms and conditions;
              </li>
            </ul>
          </li>
          <li>
            <h3>Security</h3>
            <p>
              We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable
              physical, electronic and managerial procedures to safeguard and secure the information we collect.
            </p>
          </li>
          <li>
            <h3>Our Disclosure of your Personal Information to Third Parties</h3>
            <p>
              We may share your personal information with third parties only in the ways that are described in this Privacy Statement:
            </p>
            <ul>
              <li>
                We may allow a potential acquirer or merger partner to review our databases, although we would restrict their use and disclosure of this data
                during the diligence phase;
              </li>
              <li>
                As required by law enforcement, government officials, or other third parties pursuant to a subpoena, court order, or other legal process or
                requirement applicable to our Agency;
              </li>
              <li>
                We may transfer personal information to third parties for any legally permissible purpose at our sole discretion; and
              </li>
              <li>
                We may share your information with third parties with your consent or direction to do so.
              </li>
            </ul>
          </li>
          <li>
            <h3>Limiting Use, Disclosure, Retention</h3>
            <p>
              WAHffle identifies the purposes for which the information is being collected before or at the time of collection. The collection of your personal
              information will be limited to that which is needed for the purposes identified by us. Unless you consent or we are required by law, we will only
              use the information for the purposes for which it was collected. If we will be processing your personal data for another purpose later on, we will
              seek your further legal permission or consent; except where the other purpose is compatible with the original purpose. We will keep your personal
              data only as long as required to serve those purposes. We will also retain and use your personal data for as long as necessary to comply with our
              legal obligations, resolve disputes, and enforce our agreements.
            </p>
          </li>
          <li>
            <h3>Accuracy of Personal Data</h3>
            <p>
              We do our best to ensure that the personal data we hold and use is accurate. We rely on the clients we do business with to disclose to us all
              relevant information and to inform us of any changes.
            </p>
          </li>
          <li>
            <h3>Additional Rights (RA 10173 Data Privacy Act of 2012)</h3>
            <ul>
              <li>
                <b>Right of erasure or blocking.</b> You may have a broader right to erasure of personal data that we hold about you.
              </li>
              <li>
                <b>Right to object.</b> You may have the right to request that we stop processing your personal data and/or to stop sending you marketing
                communications.
              </li>
              <li>
                <b>Right to restrict processing.</b> You may have the right to request that we restrict processing of your personal data in certain
                circumstances.
              </li>
              <li>
                <b>Right to access.</b> In certain circumstances, you may have the right to be provided with your personal data in a structured, machine
                readable and
                commonly used format and to request that we transfer the personal data to another data controller without hindrance.
              </li>
              <li>
                If you would like to exercise any of the above rights, please contact our support team or contact our Data Protection Officer. We will consider
                your request in accordance with applicable laws. To protect your privacy and security, we may take steps to verify your identity before
                complying with the request.
              </li>
              <li>
                You also have the right to complain to a data protection authority about our collection and use of your personal data.
              </li>
            </ul>
          </li>
          <li>
            <h3>Changes to our Privacy Statement</h3>
            <p>
              WAHffle may amend this statement at any time by posting a new version. It is your responsibility to review this statement periodically as your
              continued use of our products and services represents your agreement with the then-current statement.
            </p>
          </li>
        </ol>
      </div>

      <div class="modal-footer">
        <button class="btn btn-close" (click)="declineTerms()">Decline</button>
        <button class="btn btn-save" (click)="acceptTerms()">Accept</button>
      </div>
    </div>
  </div>
</section>
