<main > 
    <div class="layout" >
        <div class="wrapper">
            <div class="circle" ></div>
            <div class="circle" ></div>
            <div class="circle" ></div>
            <div class="shadow" ></div>
            <div class="shadow" ></div>
            <div class="shadow" ></div>
          </div>
        <div class ="inner-box">
            
            <div class="reg-wrap">
                    
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"  #memberRegistration="ngForm" *ngIf="isDisplayed" @slideright2>
                        <div class="fullNamePage">

                        <div class="info1"  [@formState2]="info1State" >
                         
                            <div class="whlogo"> 
                                <img src="assets/image/coop-logo.png">
                                <p>WAH <br> Cooperative</p>
                            </div>
                            <div class="heading">
                                <h1>Get Started</h1>
                                <p>Create an account to login</p><br>
                                <p>Already have an account? <a [routerLink]="['/login']" class="login">Login</a></p>
                            </div>
                                 
                                <div class="text_field1" >
                                    <div class="text-wrap">
                                        <input type="text" name="email" formControlName="email" id="reg-email" placeholder="Email"
                                        [(ngModel)]="form.email"> <br>
                                    </div>
                                    <div class="text-wrap">
                                        <input formControlName="pass" [type]="changetype?'password':'text'" name="pass" id="reg-pass" placeholder="Password" 
                                        [(ngModel)]="form.password">
                                        <span class="eye" (click)="viewpass()"><i [ngClass]="visible?'ti ti-eye-closed':'ti ti-eye'"></i></span><br>
                                    </div>

                                    <div>
                                        <strength-meter [value]="registerForm.value.pass" (measure)="onStrengthChange($event)"></strength-meter>
                                    </div> 

                                    <div class="text-wrap">
                                        <input formControlName="cpass" [type]="cchangetype?'password':'text'" name="cpass" id= "con-pass" placeholder="Confirm Password" 
                                        [(ngModel)]="form.confirm_pass">
                                        <span class="eye2" (click)="cviewpass()"><i [ngClass]="cvisible?'ti ti-eye-closed':'ti ti-eye'"></i></span>
                                    </div>
                                    <div class="notMatch" *ngIf="registerForm.get('cpass')!.touched && registerForm.get('cpass')!.invalid && registerForm.controls['cpass'].errors!['passwordMatch']"><small> Password not match </small></div>
                                </div>
                            
                                <button class="submit" (click)="toggle()" (click)="onSubmit2()" [disabled]="!chkEnable.checked">Next</button>

                                <div class="terms">
                                    <!-- <span class="check" (click)="checkBox()"><i [ngClass]="checkvisible?'ti ti-square':'ti ti-square-check-filled'"></i></span>   -->
                                    <input formControlName="chckbox" name="chckbox" class="check" id="cb1" type="checkbox" 
                                    [ngClass]="{ 'is-invalid': submitted && frm['chckbox'].errors }" #chkEnable ngModel (change)="submitted">
                                    <label for="cb1"></label>
                                    <p for="acceptTerms">I agree to the <a href="#" class="condition">Terms & Condition</a></p>
                                </div>
                                
                        </div>
                                  

                                <div class="info2" [@formState2]="info2State"  >
                                    <div class="header"><p>Personal Information</p></div>
                                    <div class="back"><button (click)="toggle2()"><i class="ti ti-chevron-left"></i></button></div>
                                    

                                    <div class="text_field2" >
                                        <div class="text-wrap">
                                            <input type="text" name="first_name" formControlName="first_name" id="reg-first-name" placeholder="First Name" 
                                            [(ngModel)]="form.first_name"> <br>
                                        </div>

                                        <div class="text-wrap">
                                            <input type="text" name="middle_name" formControlName="middle_name" id="reg-middle_name"
                                            [(ngModel)]="form.middle_name" placeholder="Middle Name">
                                        </div>

                                        <div class="text-wrap" class="text-wrap2">
                                            <input class="mName" type="text" name="last_name" formControlName="last_name" id="reg_last_name" placeholder="Last Name" 
                                            [(ngModel)]="form.last_name"> <br>
                                            <input class="nSuffix" type="text" name="suffix" id="reg-suffix"
                                            [(ngModel)]="form.suffix" placeholder="Suffix"><br>
                                        </div> 

                                        <div class="text-wrap" class="text-wrap3">
                                            <select [(ngModel)]="form.gender" id="gender" name="gender" formControlName="gender">
                                                <option value="gender" disabled selected>Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="pref">Others</option>
                                            </select> 
                                            <input class="dateOfBirth" type="text"  max="{{maxDate}}" name="birthdate" formControlName="birthdate" id="birthdate"
                                            [(ngModel)]="form.birthdate" placeholder="Date of Birth" onfocus="this.type='date'" onblur="this.type='text'"><br>
                                        </div> 

                                        <div class="text-wrap">
                                            <input type="number" name="mobile_number" formControlName="mobile_number" id="mobile_number" placeholder="Mobile Number"
                                            [(ngModel)]="form.mobile_number"> <br>
                                        </div>

                                        <div class="text-wrap">
                                            <input type="text" name="company_name" formControlName="company_name" id="company_name" placeholder="Company Name"
                                            [(ngModel)]="form.company_name"> <br>
                                        </div>

                                        <div class="text-wrap">         
                                            <ng-select [searchable]="false" [clearable]="false" class="selectDept" [(ngModel)]="form.department" formControlName="department" id="department"  placeholder="Department">
                                                <ng-option *ngFor="let item of depts" [value]="item.department_name" >
                                                   {{ item.department_name }}
                                                </ng-option>
                                          </ng-select>
                                        </div>
                                    </div>
                                    
                                
                                    <button class="submit" (click)="regMember()"> Submit </button>    
                                </div>
                        </div>
            </form>
            </div>
            <div class="reg-vector" *ngIf="isDisplayed" @slideleft2>
                <img src="assets/image/register.png" class="register"> 
            </div>
        </div>
    </div>
</main>

