*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:link, a:active, a:visited{
    color: #3F0F88;
    text-decoration: none;
    background-color: transparent;
}

body, input{
    font-family: "Poppins", sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: #3F0F88;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 600px;
    background-color: #fff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.50);
}

.inner-box{
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reg-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    right: 0;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
}

.vector{
    position: absolute;
    height: 100%;
    width: 55%;
    right: 45%;
    top: 0;
    background-color: #0099FF;
    border-radius: 2rem;
}

.vector img{
    width: 98%;
    height: 98%;
}

form {
    max-width: 310px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.whlogo{
    display: flex;
    align-items: center;
}

.fullNamePage{
    height: 100%;
    width: 100%;
}

.whlogo p{
    color: #3F0F88;
    font-size: .9rem;
    line-height: 100%;
    letter-spacing: 0.2px;
    font-weight: 700;
}

.whlogo img {
    width: 40px;
    margin: 0.3rem;
    margin-left: -1px;
}

.heading{
    margin: 1rem 0 2rem;
}

.heading h1{
    font-size: 2.5rem;
    font-weight: 1000;
    color: #151111;
    letter-spacing: -0.5px;
}

.heading p{
    color: #707070;
    font-size: 0.96rem;
    display: inline;
}



.eye{
    content: '\ea9a';
    position: absolute;
    left: 87%;
    bottom: -35%;
    cursor: pointer;
    font-size: 1.3rem;
  }

  small{
    color: red;
  }

  .notMatch{
    transform: translate(11%, -70%);
    color: red;
    font-size: 16px;
    position: absolute;
  }
  
  .eye2{
    content: '\ea9a';
    position: absolute;
    left: 87%;
    bottom: -35%;
    cursor: pointer;
    font-size: 1.3rem;
  }


.text-wrap {
    position: relative;
    height: 30px;
    margin-bottom: 2rem;
}

.text_field2{
    margin-top: -1rem;
}

input, select{
    position: absolute;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline-color: #3F0F88;
}

.text-wrap2, .text-wrap3{
    display: flex;
    position: relative;
}

.text-wrap2{
    margin-bottom: 2.5rem;
}

select{
    display: flex;
    position: relative;
}

.text-wrap3 select{
    width: 49%;
    color: #707070;
    height: 3rem;
}

.text-wrap3{
    margin-bottom: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"]::before{
    content: attr(placeholder);
    color: #707070;
}

input[type="date"]{
    color: #ffffff;
}

input[type="date"]:focus,
input[type="date"]:valid{
    color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before{
    content: "" !important;
}


.dateOfBirth{
    width: 49%;
    margin-left: 50%;
    height: 3rem;
}

.mName{
    width: 73.5%;
}

.nSuffix{
    width: 80px;
    margin-left: 74.2%;
    text-align: center;
}

.submit{
    padding: 12px 20px ;
    transform: translate(0%, -30%);
    background-color: #3F0F88;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;   
    margin-top: 1.5rem;
    width: 100%;
}

.submit:hover, .back:hover{
    opacity: 90%;
}

.back{
    padding: 12px 20px ;
    transform: translate(0%, -30%);
    background-color: #707070;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;   
    margin-top: .3rem;
    width: 100%;
}

.login{
    font-size: .9rem;
    text-decoration: none;
}
.login:hover{
    color: #0f1d88;
    opacity: 80%;
}

#account{
    color: #707070;
    font-size: 0.9rem;
    text-align: center;
    margin-right: .9rem; 
}


.reg-vector{

    position: absolute;
    height: 100%;
    width: 55%;
    right: 45%;
    top: 0;
    background-color: #0099FF;
    border-radius: 2rem;
  }
  
  
  .reg-vector img{
    width: 100%;
    height: 100%;
  }


  .department{
    width: 100%;
}

// CHECKBOX

.terms{
    transform: translate(0%, -55%);
    padding: 15px 10px 15px;
    color: #707070;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: -3rem;
  }

  .check{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    color: #3F0F88;
    margin-top: 0.1rem;
  }
  
  .terms p{
    font-size: .9rem;
    margin-top: 5.5px;
    margin-left: 25px;
  }
  
  .condition:hover{
    opacity: 80%;
  }
  
  .condition{
    transform: translate(0%, 30%);
    font-size: .9rem;
    color: #3F0F88;
    text-decoration: none;
    transition: 0.3s;
  }

@media (max-width: 530px) {
    main {
      padding: 1rem;
    }
  
    .layout {
      border-radius: 2rem;
    }
  
    .inner-box {
      padding: 1rem;
    }
  
    .vector {
      padding: 1.5rem 1rem;
      border-radius: 1.6rem;
    }
  
    .text-wrap {
      margin-bottom: 1rem;
    }
  
    .text-group h2 {
      font-size: 1.2rem;
    }
  
    form {
      padding: 1rem 2rem 1.5rem;
    }
  }

