@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  animation: transitionIn 0.75s;

  .title {
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  
}

.header {
  width: 100%;
  display: flex;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

.tablejournal {
  width: 100%;
}

.beneinput input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 36px;
  margin: 2px 0;
  display: flex;
  width: 100%;
}

.journallabel {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

.headinput {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 14px;
  height: 34px;
  margin: 4px 4px;
}

/* buttons */

.Add {
  position: absolute;
  right: 0;
  margin-right: 40px;
  height: 40px;
  width: 80px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 13px;
  
  span{
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  }
}

.delbut { 
  height: auto;
  width: 22px;
  margin-left: 6px;
  border: none;
  font-size: 24px;
  background: none;
  background-color: none;
  color: #ff0000;
  border-radius: 5px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 0;
  margin: 14px 34px;
  float: right;
}

.back {
  height: 40px;
  width: 80px;
  border: none;
  background-color: #ede9f2;
  color: #7f7a7a;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.save {
  height: 40px;
  width: 80px;
  border: none;
  margin-left: 10px;
  align-items: end;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btnTextb {
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
}

@media (max-height: 1200px) {
  .container {
    overflow-y: scroll;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
}
