@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


main {
  width: 100%;
  animation: transitionIn 0.75s;

  .title {
    color: var(--primary-color);
    margin-bottom: 10px;
  }

}

.header {
  width: 100%;
  display: flex;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

.tablejournal {
  width: 100%;
}

.journals{
  height: 450px;
  overflow-y: scroll;
  border-radius: 50;
}

.beneinput input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;

  padding: 0 15px;
  height: 36px;
  margin: 2px 0;
  display: flex;
  width: 100%;
}

.journallabel {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

.headinput {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 14px;
  height: 34px;
  margin: 4px 4px;
}

/* buttons */

.add {
  position: absolute;
  right: 0;
  margin-right: 40px;
  height: 40px;
  width: 80px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 13px;
    span{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    }
}

.delbut {
  height: auto;
  width: 22px;
  margin-left: 6px;
  border: none;
  font-size: 24px;
  background: none;
  background-color: none;
  color: #ff0000;
  border-radius: 5px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 0;
  margin: 14px 0;
  float: right;
}

.back {
  right: 0;
  height: 40px;
  width: 80px;
  border: none;
  background-color: #ede9f2;
  color: #7f7a7a;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 6px 21px;
  span{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    }
}

.totals {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 0;
  margin: 14px 0;
  float: left;
}

.save {
  height: 40px;
  width: 80px;
  border: none;
  margin-left: 10px;
  align-items: end;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.btnTextb {
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
}

//ng-select
.ng-select.try {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  height: 36px;
  min-width: 300px;
  max-width: 300px;
}

.ng-select.try .ng-control  {
  min-height: 0px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.otp-modal {
  position: fixed;
  background: #000000bf;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.otp-content {
  background: #fff;
  width: 50%;
  margin: 0 auto;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  text-align: center;
  padding: 0 30px 30px;
  transition: transform 0.4s, top 0.4s;
  width: 400px;
}

.otp-header {
  padding: 30px 10px;
  font-weight: 600;
  font-size: 20px;
  color: var(--primary-color);
}

.modalinput {
  display: flex;
  width: calc(90%);
  flex-direction: column;
  margin: auto;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 14px;
  height: 36px;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

.otp-footer .backbtn {
  width: 40%;
  margin: 10px 10px;
  height: 43px;
  background-color: #3f0f88;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.6rem;
  font-size: 0.9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: 0.3s;
  text-decoration: none;
}

.closebtn {
  width: 40%;
  margin: 10px 10px;
  height: 43px;
  border: none;
  cursor: pointer;
  border-radius: 0.6rem;
  font-size: 0.9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: 0.3s;
  text-decoration: none;
  background-color: #ede9f2;
  color: #7f7a7a;
}


@media (max-height: 1200px) {
  .container {
    overflow-y: scroll;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
}
