@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  animation: transitionIn 0.75s;

  .title {
    color: var(--primary-color);
    margin-bottom: 10px;
  }
}

.header {
  display: grid;
}

.left-field {
  grid-column: 1;
  display: flex;
  flex-wrap: wrap;
}

label {
  margin-left: 4px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

.tablejournal {
  width: 100%;
}

.journdate,
.journnumber,
.userid,
.duedate,
.interest {
  display: flex;
  flex-direction: column;
}

.journals {
  height: 70vh;
  overflow-y: scroll;
}

.beneinput input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 36px;
  margin: 2px 0;
  display: flex;
  width: 100%;
}

.journallabel {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

thead th { position: sticky; top: 0; }

.journallabel2 {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
    
}
.headinput {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 14px;
  height: 34px;
  margin: 0px 4px;
}

/* buttons */
.right-field {
  grid-column: 2;
  text-align: end;

  .add {
    height: 40px;
    background-color: var(--primary-color);
    color: var(--panel-color);
    cursor: pointer;
    padding: 0px 20px;
    margin-top: 18px;

    .ti-plus {
      margin-left: -5px;
    }
  }
}

.delbut {
  height: auto;
  width: 22px;
  margin-left: 6px;
  border: none;
  font-size: 24px;
  background: none;
  background-color: none;
  color: #ff0000;
  border-radius: 5px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}

.buttons {
  background-color: var(--panel-color);
  display: flex;
  justify-content: space-between;

  .save {
    height: 40px;
    width: 90px;
    margin-left: 10px;
    background-color: var(--primary-color);
    color: var(--panel-color);
  }

  .save:hover {
    background-color: var(--primary-alt);
  }

  .back {
    height: 40px;
    width: 90px;
    background-color: var(--grey-alt);
    color: var(--dark-grey);
  }

  .back:hover {
    background-color: var(--dark-grey-2);
  }
}

.totals {
  background-color: var(--panel-color);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  margin: 14px 0;
  float: left;
}
.totaltext {
  margin-right: 20px;
}

.totalsbot {
  text-align: right;

  .totalinput {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 14px;
    height: 34px;
    margin: 0px 0px;
    width: 100%;
  }
}

//ng-select
.ng-select.try ::ng-deep .ng-select-container {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  height: 36px;
  width: 100%;
  min-width: 300px;
}

.ng-select.try ::ng-deep .ng-control {
  min-height: 0px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.ng-select.try ::ng-deep .ng-dropdown-panel {
  width: 100%;
  //max-width: 300px;
  //margin-left: 10px;
}

.ng-select.try {
  .submit {
    cursor: pointer;
  }
}

/* Add Modal */
.modal-bg {
  position: fixed;
  background: #000000bf;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .modal-wrapper {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s, top 0.4s;
    background: var(--panel-color);
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;

    .modal-header {
      padding: 30px 25px;
      height: 60px;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-title {
        font-weight: 600;
        font-size: 18px;
        //color: var(--primary-color);
        margin-top: 0.15rem;
      }

      .ti-x {
        font-size: 20px;
        color: var(--dark-grey);
        cursor: pointer;
        transition: all 0.2s ease;
        padding: 4px;
        margin-top: -3px;
        margin-right: -6px;
      }

      .ti-x:hover {
        background-color: var(--grey-alt);
        border-radius: 100%;
      }
    }

    .modal-body {
      padding: 20px 25px 15px;

      .input-box {
        margin-bottom: 15px;

        .input-label {
          display: block;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0.35rem;
          color: var(--dark-grey);
          text-align: left;
        }

        .input-field {
          height: 45px;
          width: 100%;
          outline: none;
          border: 1.6px solid var(--border-color);
          color: var(--text-color);
          font-size: 14px;
          border-radius: 0.625rem;
          padding-left: 12px;
        }

        .input-field:hover {
          border: 1.6px solid var(--dark-grey-2);
        }

        .input-field:focus {
          border: 1.6px solid var(--primary-color);
        }
      }
    }

    .modal-footer {
      padding: 18px 25px;
      border-top: 1px solid var(--border-color);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .btn {
        width: 100px;
        height: 42px;
        border-radius: 0.45rem;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
      }

      .btn-save {
        background-color: var(--primary-color);
        color: var(--panel-color);
        margin-left: 1rem;
      }

      .btn-save:hover {
        background-color: var(--primary-alt);
      }

      .btn-close {
        background-color: var(--grey-alt);
        color: var(--dark-grey);
      }

      .btn-close:hover {
        background-color: var(--border-color);
      }
    }
  }
}

/* Delete Modal */
.del-modal {
  position: fixed;
  background: #000000bf;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .modal-wrapper {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s, top 0.4s;
    background: var(--panel-color);
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;

    .modal-header {
      padding: 30px 25px;
      height: 60px;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-title {
        font-weight: 600;
        font-size: 20px;
        //color: var(--primary-color);
        margin-top: 0.15rem;
      }

      .ti-x {
        font-size: 20px;
        color: var(--dark-grey);
        cursor: pointer;
        transition: all 0.2s ease;
        padding: 4px;
        margin-top: -3px;
        margin-right: -6px;
      }

      .ti-x:hover {
        background-color: var(--grey-alt);
        border-radius: 100%;
      }
    }

    .modal-body {
      padding: 20px 25px 20px;

      .text-bold {
        font-size: 15px;
        font-weight: 500;
      }

      .text-muted {
        opacity: 55%;
      }
    }

    .modal-footer {
      padding: 15px 25px 15px;
      border-top: 1px solid var(--border-color);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .btn {
        width: 100px;
        height: 42px;
        border-radius: 0.45rem;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
      }

      .btn-save {
        background-color: var(--primary-color);
        color: var(--panel-color);
        margin-left: .75rem;
      }

      .btn-save:hover {
        background-color: var(--primary-alt);
      }

      .btn-close {
        background-color: transparent;
        color: var(--dark-grey);
      }

      .btn-close:hover {
        background-color: var(--grey-alt);
      }
    }
  }
}


@media (max-height: 1200px) {
  .container {
    overflow-y: scroll;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
}
