<div class="container">
    <!-- <form> -->
    <form (ngSubmit)="onsubmit()">
    <!-- <div class="sub_header"> -->
    <div class="header">
        <div class="journdate">
            <label> Journal Date </label>
            <!-- <input class="inputdate" type="date" id="journaldate" required> -->
            <input class="headinput" type="date" name="journal_date">
        </div>
  
        <div class="journnumber">
            <label>Journal Number </label>
            <!-- <input class="numberj" type="number" id="journalnumber" required> -->
            <input class="headinput" type="number" name="journal_no">
        </div>

        <div>
            <button class="Add" (click)="addTable()">
                <i class="ti ti-plus"></i>
                <span class="btnText"> Add  </span>
                </button>
        </div>
       
    </div>

            <!-- <div class="journals"> -->
                <table class="tablejournal">
                     <tr>
                            <th class="journallabel">No.</th>
                            <th class="journallabel">Account</th>
                            <th class="journallabel">Debits</th>
                            <th class="journallabel">Credits</th>
                            <th class="journallabel">Description</th>
                            <th class="journallabel">Name</th>
                    </tr>
                        <tr *ngFor="let obj of row; let i = index">
                                <th class="journallabel">#</th>
                                <td class="beneinput">
                                    <!-- <ng-select class="try" formControlName="selectedJournal" name="account{{i}}"> -->
                                    <ng-select class="try" formControlName="selectedJournal">
                                        <ng-template ng-header-tmp >
                                            <button (click)="show(1)" class="submit">Add+</button>
                                        </ng-template>
                                        <ng-option class="try" *ngFor="let journal of journals" [value]="journal.id">
                                            {{journal.journal_number}} {{journal.journal_name}} {{journal.journal_type}}
                                        </ng-option>
                                    </ng-select>
                                
                                <!-- <ng-autocomplete
                                        [data]="journals"
                                        [searchKeyword]="keyword"
                                        [itemTemplate]="itemTemplate"
                                        [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>

                                    <ng-template #itemTemplate let-journal>
                                        <a>
                                            <span [innerHTML]="journal.journal_number"></span>, 
                                            <span [innerHTML]="journal.journal_name"></span>, 
                                            <span [innerHTML]="journal.journal_type"></span>
                                        </a>
                                    </ng-template>
                                    
                                    <ng-template #notFoundTemplate let-notFound>
                                        <button>add+</button>
                                    </ng-template> -->
                                </td>
                                <td class="beneinput"><input type="number"></td>
                                <td class="beneinput"><input type="number"></td>
                                <td class="beneinput"><input type="text"></td>

                                <td class="beneinput">
                                    <ng-select class="try" formControlName="selectedMembers"  >
                                        <ng-option class="try" *ngFor="let member of members" [value]="member.id">
                                            {{member.account_id}} {{member.first_name}} {{member.middle_name}} {{member.last_name}}
                                        </ng-option>
                                    </ng-select>
                                </td>

                                    <td > <button class="delbut" (click) = "deleteRow(i)">
                                        <i class="ti ti-square-rounded-x"></i>
                                        </button></td>
                         </tr>         
                </table>
                <div class="buttons">
                    <button class="back"(click)="backMethod()">
                        <span class="btnTextb">Back</span>
                    </button>
            
                    <button class="save"(click)="saveMethod()">
                        <span class="btnTexts">Save</span>
                    </button>
                </div>
            <!-- </div>   -->
        </form>
    </div>

    <section>
        <router-outlet></router-outlet>
        <div>
            <div class="otp-modal" *ngIf="showModal === 1">
                <div class="otp-content">
                    <div class="otp-header">
                        Add New Journal Account Entry
                    </div>
                    <div class="otp-body">
                        <h3> Add New Journal Account Entry</h3>
                        <label for="journal_number">Journal Number</label>
                        <input class="modalinput" type="number" #journal_number>
                        <label for="journal_name">Journal Name</label>
                        <input class="modalinput" type="text" #journal_name>
                        <label for="journal_type">Journal Type</label>
                        <input class="modalinput" type="text" #journal_type>
                    </div>
                    <div class="otp-footer">
                        <button class="backbtn" (click)="add(journal_number.value, journal_name.value, journal_type.value); journal_number.value=''; journal_name.value=''; journal_type.value='';" (click)="show(2)">Create</button>
                        <button class="backbtn" (click)="show(2)">Close</button>
                    </div>
                </div>
            </div>
        
        </div>
    </section>
