<main>
  <h1 class="title">Journal Entry</h1>
  <div>
    <form [formGroup]="journalEntryForm" (ngSubmit)="saveEntry()">
      <div class="header">
        <div class="journdate">
          <label> Journal Date </label>
          <input class="headinput" type="date" max="{{maxDate}}" (change)="denyDate()" formControlName="journal_date" />
        </div>

        <div class="journnumber">
          <label> Journal Number </label>
          <input class="headinput" type="number" formControlName="journal_no" [value]="this.journId"/>
        </div>
        <div class="userid">
          <input class="headinput" type="hidden" formControlName="useid" [value]="this.useid" />
        </div>
        <div class="duedate">
          <label> Due Date </label>
          <input class="headinput" type="date" formControlName="due_date" />
        </div>
        <div>
          <div>
            <a class="add" (click)="addRow()">
              <i class="ti ti-plus"></i>
              <span class="btnText">Add</span>
            </a>
          </div>
        </div>
      </div>


      <div class="journals">
        <table class="tablejournal" formArrayName="entries">
          <thead>
            <tr>
              <th class="journallabel">No.</th>
              <th class="journallabel">Account</th>
              <th class="journallabel">Debits</th>
              <th class="journallabel">Credits</th>
              <th class="journallabel">Description</th>
              <th class="journallabel">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of entryRow.controls; let i = index"
              [formGroupName]="i"
            >
              <td class="journallabel">{{ i + 1 }}</td>
              <td class="beneinput">
                <ng-select class="try" formControlName="account">
                  <ng-template ng-header-tmp>
                    <a (click)="show(1)" class="submit"
                      ><i>Click here to Add+</i></a
                    >
                  </ng-template>
                  <ng-option
                    class="idnk"
                    *ngFor="let libJournal of libJournals"
                    [value]="libJournal.id"
                  >
                    {{ libJournal.journal_number }}
                    {{ libJournal.journal_name }}
                  </ng-option>
                </ng-select>
              </td>

              <td class="beneinput">
                <input
                  type="number"
                  formControlName="debit"
                  (change)="autoZero(i)"
                />
              </td>
              <td class="beneinput">
                <input
                  type="number"
                  formControlName="credit"
                  (change)="autoZero(i)"
                />
              </td>
              <td class="beneinput">
                <input type="text" formControlName="description" />
              </td>

              <td class="beneinput">
                <ng-select class="try" formControlName="name">
                  <ng-option class="try" *ngFor="let member of members"[value]="member.id">
                    {{ member.id }} {{ member.first_name }}
                    {{ member.middle_name }} {{ member.last_name }}
                  </ng-option>
                </ng-select>
              </td>

              <td>
                <a (click)="removeRow(i)" class="delbut">
                  <i class="ti ti-square-rounded-x"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="totals">
        <div class="journdate">
          <label> Total Debit </label>
          <input
          class="headinput"
          type="number"
          formControlName="totaldebit" />
        </div>
        <div class="journdate">
          <label> Total Credit </label>
          <input
            class="headinput"
            type="number"
            formControlName="totalcredit"
          />
        </div>
      </div>
      <div class="buttons">
        <a class="back">
          <span class="btnTextb" (click)="back()" >Back</span>
        </a>

        <button class="save" type="submit">
          <span>Save</span>
        </button>
      </div>
    </form>
  </div>
</main>

<section>
  <router-outlet></router-outlet>
  <div>
    <div class="otp-modal" *ngIf="showModal === 1">
      <div class="otp-content">
        <div class="otp-header">Add New Account</div>
        <div class="otp-body">
          <label for="journal_number">Journal Number</label>
          <input class="modalinput" type="number" #journal_number />
          <br />
          <label for="journal_name">Journal Name</label>
          <input class="modalinput" type="text" #journal_name />
          <br />
          <label for="journal_type">Journal Type</label>
          <input class="modalinput" type="text" #journal_type />
        </div>
        <div class="otp-footer">
          <button class="closebtn" (click)="show(2)">Close</button>
          <button
            class="savebtn"
            (click)="
              add(journal_number.value, journal_name.value, journal_type.value);
              journal_number.value = '';
              journal_name.value = '';
              journal_type.value = ''
            "
            (click)="show(2)"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
