@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  height: 95vh;
  animation: transitionIn 0.75s;
  background-color: var(--panel-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  //margin-left: -0.75rem;
  //margin-right: -0.75rem;

  .title {
    color: var(--title-color);
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 28px;
  }
}

.header {
  display: grid;
}

.left-field {
  grid-column: 1;
  display: flex;
  flex-wrap: wrap;
}

label {
  margin-left: 4px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color-3);
}

.tablejournal {
  width: 100%;
}

.journdate,
.journnumber,
.userid,
.duedate,
.interest {
  display: flex;
  flex-direction: column;
}

.journals {
  height: 65vh;
  max-height: 65vh;
  overflow-y: scroll;
}

.beneinput input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0.5rem;
  padding: 0 10px;
  height: 36px;
  margin: 2px 0;
  display: flex;
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
}

.journallabel {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
}

thead th {
  position: sticky;
  top: 0;
}

.journallabel2 {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
}

.journallabel22 {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
  text-align: left;
}

.headinput {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0.5rem;
  padding: 0 14px;
  height: 34px;
  margin: 2px 4px;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
}

/* buttons */
.right-field {
  grid-column: 2;
  text-align: end;

  .add {
    height: 40px;
    background: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    padding: 0px 20px;
    margin-top: 18px;
    .ti-plus {
      margin-left: -5px;
    }
  }
  .add:hover {
    background-color: var(--primary-color-light);
  }
}

.delbut {
  height: auto;
  width: 22px;
  margin-left: 6px;
  border: none;
  font-size: 24px;
  background: none;
  background-color: none;
  color: var(--red);
  border-radius: 5px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}
.delbut:hover {
  color: var(--red-focus);
}

.buttons {
  background-color: transparent;
  // display: flex;
  // justify-content: space-between;
  position: relative;
  margin-top: 1rem;

  .save {
    height: 40px;
    width: 90px;
    margin-left: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    float: right;
    bottom: 0;
    right: 0;
  }

  .save:hover {
    background-color: var(--primary-color-light);
  }

  .back {
    height: 40px;
    width: 90px;
    background-color: transparent;
    box-shadow: 0 0 0 1px var(--border-color);
    color: var(--text-color-2);
    float: left;
    bottom: 0;
    left: 0;
  }

  .back:hover {
    background-color: var(--grey-2);
  }
}

.totaltext {
  margin-right: 20px;
}

.totalsbot {
  text-align: right;
  
  .total {
    .totalnum {
      color: var(--text-color-2);
      margin-right: 8px;
    }
  }
}

.accounts {
  max-width: 300px;
}

.member-name {
  max-width: 300px;
}

//ng-select
.ng-select.try ::ng-deep .ng-select-container {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0.5rem;
  height: 36px;
  width: 100%;
  min-width: 300px;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  color: var(--text-color-2);
}

.ng-select.try ::ng-deep .ng-select-container {
  .ng-input {
    > input {
      font-family: "Poppins", sans-serif;
      color: var(--text-color-2);
      padding: 3px 2px;
      font-size: 14px;
    }
  }
}

.ng-select.try ::ng-deep .ng-control {
  min-height: 0px;
  border-radius: 0.5rem;
}

.ng-select.try ::ng-deep .ng-dropdown-panel {
  width: 100%;
  margin-top: 0.36rem;
  border-radius: 0.5rem;
  border-top: 1px solid var(--border-color);
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  font-size: 14px;
}

.ng-select.select-acc ::ng-deep .ng-dropdown-panel {
  width: 140%;
}

.ng-select.try ::ng-deep .ng-dropdown-panel .ng-option {
  background-color: transparent;
  font-size: 14px;
}

.ng-select.try ::ng-deep .ng-dropdown-panel .ng-option:hover {
  background-color: var(--select-hover);
}

.ng-select.try ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  color: var(--text-color-2);
  font-size: 14px;
}

.ng-select.try {
  .ng-header {
    cursor: pointer;
    color: var(--text-color-2);
  }
}

/* Delete Modal */
.modal-bg {
  position: fixed;
  background: var(--modal-overlay);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;

  .modal-wrapper {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s, top 0.4s;
    background: var(--modal-bg);
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;

    .modal-header {
      padding: 30px 25px;
      height: 60px;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-title {
        font-weight: 600;
        font-size: 20px;
        color: var(--text-color-2);
        margin-top: 0.15rem;
      }

      .ti-x {
        font-size: 20px;
        color: var(--text-color-3);
        cursor: pointer;
        transition: all 0.2s ease;
        padding: 4px;
      }

      .ti-x:hover {
        background-color: var(--grey-2);
        border-radius: 100%;
      }
    }

    .modal-body {
      padding: 20px 25px 15px;

      .input-box {
        margin-bottom: 15px;

        .input-label {
          display: block;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0.35rem;
          color: var(--text-color-3);
          text-align: left;
        }

        .input-field {
          height: 45px;
          width: 100%;
          outline: none;
          border: 1.8px solid var(--border-color);
          background-color: var(--panel-color);
          color: var(--text-color-2);
          font-size: 14px;
          border-radius: 0.625rem;
          padding-left: 1rem;
          font-family: "Poppins", sans-serif;
        }

        .input-field:focus {
          border: 1.8px solid var(--primary-color);
        }
      }
    }

    .modal-footer {
      padding: 18px 25px;
      border-top: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn {
        width: 100px;
        height: 42px;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
      }

      .btn-save {
        background-color: var(--primary-color);
        color: var(--white);
        margin-left: 1rem;
      }

      .btn-save:hover {
        background-color: var(--primary-color-light);
      }

      .btn-close {
        background-color: transparent;
        box-shadow: 0 0 0 1px var(--border-color);
        color: var(--text-color-2);
      }

      .btn-close:hover {
        background-color: var(--grey-2);
      }
    }
  }
}

/* Delete Modal */
.del-modal {
  position: fixed;
  background: var(--modal-overlay);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .modal-wrapper {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s, top 0.4s;
    background: var(--panel-color);
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;

    .modal-header {
      padding: 30px 25px;
      height: 60px;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-title {
        font-weight: 600;
        font-size: 20px;
        color: var(--text-color-2);
        margin-top: 0.15rem;
      }

      .ti-x {
        font-size: 20px;
        color: var(--text-color-3);
        cursor: pointer;
        transition: all 0.2s ease;
        padding: 4px;
        margin-top: -3px;
        margin-right: -6px;
      }

      .ti-x:hover {
        background-color: var(--grey-2);
        border-radius: 100%;
      }
    }

    .modal-body {
      padding: 20px 25px 20px;

      .text-bold {
        font-size: 15px;
        font-weight: 500;
        color: var(--text-color-2);
      }

      .text-muted {
        opacity: 55%;
        color: var(--text-color-2);
      }
    }

    .modal-footer {
      padding: 18px 25px;
      border-top: 1px solid var(--border-color);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .btn {
        width: 100px;
        height: 42px;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
      }

      .btn-save {
        background-color: var(--primary-color);
        color: var(--white);
        margin-left: 1rem;
      }

      .btn-save:hover {
        background-color: var(--primary-color-light);
      }

      .btn-close {
        background-color: transparent;
        box-shadow: 0 0 0 1px var(--border-color);
        color: var(--text-color-2);
      }

      .btn-close:hover {
        background-color: var(--grey-2);
      }
    }
  }
}

@media (max-height: 1200px) {
  .container {
    overflow-y: scroll;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
}
