<div class="container">
    <header>Member Information</header>



    <body>

    <form action="#">
        <div class="form first">
            <div class="details personal">
               <!----======== FIRST NAME ======== -->
                <div class="fields">
                    <div class="input-field1">
                        <label>First name</label>
                        <input type="text" id="first_name" #first_name required>
                    </div>
                    <!----======== MIDDLE NAME ======== -->
                    <div class="input-field2">
                        <label>Middle name</label>
                        <input type="text" id="middle_name" #middle_name >
                    </div>
                    <!----======== LASTNAME ======== -->
                    <div class="input-field3">
                        <label>Last name</label>
                        <input type="text" id="last_name" #last_name required>
                    </div>
                    <!----======== SUFFIX ======== -->
                    <div class="input-field4">
                        <label>Suffix</label>
                        <input type="text" id="suffix" #suffix  >
                    </div>

                     <!----======== EMAIL ======== -->
                     <div class="input-field5">
                        <label>Email</label>
                        <input type="email" id="email" #email required>
                    </div>

                    <!----======== Number ======== -->
                    <div class="input-field6">
                        <label>Number</label>
                        <input type="Number" id="mobile_number" #mobile_number required>
                    </div>
                    <!----======== Gender ======== -->
                    <div class="input-field7">
                        <label>Gender</label>
                        <select  id="gender" #gender required>
                            <option disabled selected>Select</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                        </select>
                    </div>
                     <!----======== Birthdate ======== -->
                    <div class="input-field9">
                        <label>Date of Birth</label>
                        <input type="date" id="dateifbirth" #birthdate required>
                    </div>
                     <!----======== Account ID  ======== -->
                    <div class="input-field8">
                        <label>Account ID</label>
                        <input type="hidden"name="predef" #predef value="WAH">
                        <input type="number" id="account_id"  #account_id required>
                    </div>
                    <!----======== ID NUMBER ======== -->
                    <div class="input-field10">
                        <label>TIN Number</label>
                        <input type="number" id="tin_number" #tin_number required>
                    </div>
                     <!----======== CIVIL STATUS ======== -->
                    <div class="input-field11">
                        <label>Civil Status</label>
                        <select id="civil_status" #civil_status required>
                            <option disabled selected>Select</option>
                            <option>Single</option>
                            <option>Maried</option>
                        </select>
                    </div>
                    <!----======== SPOUSE ======== -->
                    <div class="input-field12">
                        <label>Spouse</label>
                        <input type="text" id="spouse" #spouse required>
                    </div>

                     <!----======== COMPANY ======== -->
                     <div class="input-field13">
                        <label>Company</label>
                        <input type="text" id="company_name" #company_name required>
                    </div>
                    <!----======== DEAPARTMENT ======== -->

                    <div class="input-field14">
                        <label>Department</label>
                        <input type="text" id="department" #department required>
                    </div>
                    <!----======== EMPLOYEMENT STATUS ======== -->
                    <div class="input-field15">
                        <label>Employement Status</label>
                        <select  id="employment_status" #employment_status required>
                            <option disabled selected>Select</option>
                            <option>Employed</option>
                            <option>Unemployed</option>
                            <option>Self-Employed</option>
                        </select>
                    </div>
                    <!----======== OCCUPATION ======== -->
                    <div class="input-field16">
                        <label>Occupation</label>
                        <input type="text" id="occupation" #occupation  required>
                    </div>
                    <!----======== COMPANY ADDRESS ======== -->
                    <div class="input-field17">
                        <label>Company Address</label>
                        <input type="text" id="company_address" #company_address required>
                    </div>
                    <!----======== TABS ======== -->
                    <div class="tabs">
                        <input type="radio" class="tabs__radio" name="tabs-coop" id="Address" #address checked>
                        <label for="Address" class="tabs__label">Address</label>
                        <div class="tabs__content">

                            <div class="input-field18">
                            <!----======== ADDRESS ======== -->
                                <label>Current Address</label>
                                <input type="text" id="street" placeholder="Street/Block/House number" #street required>
                            </div>
                            <!----======== CITY/TOWN ======== -->
                            <div class="input-field19">
                                <input type="text" id="city_town" placeholder="City/Town" #city_town required>
                            </div>
                            <!----======== PROVINCE ======== -->
                            <div class="input-field20">
                                <input type="text" id="state_province" placeholder="State/Province" #state_province required>
                        </div>
                            <div class="input-field21">
                            <!----======== POSTAL CODE ======== -->
                                <input type="text" id="postal_code" placeholder="Postal Code" #postal_code required>
                            </div>
                            <div class="input-field22">
                            <!----======== BARANGAY ======== -->
                                <input type="text" id="barangay" placeholder="Barangay" #barangay required>
                            </div>
                        </div>
                        <input type="radio" class="tabs__radio" name="tabs-coop" id="Beneficiaries">
                        <label for="Beneficiaries" class="tabs__label">Beneficiaries</label>

                        <div class="tabs__content">
                            <table class="tablebene">
                                <tr>
                                    <th></th>
                                    <th class="benelabel">Name</th>
                                    <th class="benelabel">Date of Birth</th>
                                    <th class="benelabel">Relationship</th>
                                </tr>
                                <tr *ngFor="let item of row; let x = index">
                                    <td class="delbut">
                                        <button class="addbut" (click)="addTable()">
                                            <i class="ti ti-square-rounded-plus"></i>
                                        </button></td>
                                    <td class="beneinput"><input type="text"></td>
                                    <td class="beneinput"><input type="date" ></td>
                                    <td class="beneinput"><input type="text"></td>
                                    <td class="delbut">
                                        <button class="delbut" (click) = "deleteRow(x)">
                                        <i class="ti ti-square-rounded-x"></i>
                                    </button></td>
                                </tr>
                            </table>
                    </div>
                <div>
            </div>
        </div>

                    <div class="buttons">
                        <button class="back">
                            <span class="btnTextb">Back</span>
                        </button>

                        <button type="button" class="save" (click)="add(predef.value,
                                                                        account_id.value,
                                                                        first_name.value,
                                                                        middle_name.value,
                                                                        last_name.value,
                                                                        suffix.value,
                                                                        email.value,
                                                                        mobile_number.value,
                                                                        gender.value,
                                                                        birthdate.value,
                                                                        tin_number.value,
                                                                        civil_status.value,
                                                                        spouse.value,
                                                                        company_name.value,
                                                                        department.value,
                                                                        employment_status.value,
                                                                        occupation.value,
                                                                        company_address.value,
                                                                        street.value,
                                                                        barangay.value,
                                                                        city_town.value,
                                                                        state_province.value,
                                                                        postal_code.value
                                                                        );
                                                                        predef.value='';
                                                                        account_id.value='';
                                                                        first_name.value='';
                                                                        middle_name.value='';
                                                                        last_name.value='';
                                                                        suffix.value='';
                                                                        email.value='';
                                                                        mobile_number.value='';
                                                                        gender.value='';
                                                                        birthdate.value='';
                                                                        tin_number.value='';
                                                                        civil_status.value='';
                                                                        spouse.value='';
                                                                        company_name.value='';
                                                                        department.value='';
                                                                        employment_status.value='';
                                                                        occupation.value='';
                                                                        company_address.value='';
                                                                        street.value='';
                                                                        barangay.value='';
                                                                        city_town.value='';
                                                                        state_province.value='';
                                                                        postal_code.value='';
                                                                        ">
                            <span class="btnTexts">Save</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </form>


<!-- <script>
    $('#add_benificiaries').on('click', function(){
      var html = '';
      html+='<tr>';
      html+=' <td class="col-6 p-2 ps-0"><input type="text" class="form-control" placeholder="Enter Member" name="member_name[]"/></td>';
      html+='<<td ><input type="date" class="form-control" placeholder="Enter Birthdate" name="member_birthdate[]"/></td>';
      html+='<td class="col-3 pe-2 ps-0"><input type="text" class="form-control" placeholder="Enter Relation" name="member_relation[]"/></td>';
      html+='<td><button type="button" class="btn p-2" id="remove_benificiaries" ><i class="fa-sharp fa-regular fa-circle-xmark fw-bold text-danger fs-3"></i> Delete </button></td>';
      html+='<tr>';
      $('.benificiary_table').append(html);
  })
  $(document).on('click', '#remove_benificiaries', function () {
        $(this).parents('tr').remove();
    });
  </script> -->





