@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:host{
    display: flex;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 210, 210, 0.5);
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    width: 1200px;
    padding: 40px;
    margin: 0 15px;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 20px;
    background-color: #fff;
}

.container header{
    position: relative;
    font-size: 28px;
    font-weight: 600;
    color: #3F0F88;
}

.container form{
    position: relative;
    margin-top: 12px;
    min-height: 550px;
    background-color: #fff;
    overflow: hidden;
}

.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
/* two div  */
.flex-container{
    display: flex;
    
    
}
.flex-child{
    flex: 1;
    width: 48%;
    border: 2px solid yellow;
    display: block;
    flex-wrap: wrap;
}
.flex-child1{
    margin-left: 20px;
    flex: 1;
    width: 48%;
    border: 2px solid yellow;
    display: block;
    flex-wrap: wrap;
}


form .fields .input-field1{
    display: flex;
    width: calc(15%);
    flex-direction: column;
    margin: 4px 0;
}

form .fields .input-field2{
    display: flex;
    width: calc(12%);
    flex-direction: column;
    margin: 4px 0;
}

form .fields .input-field3{
    display: flex;
    width: calc(15%);
    flex-direction: column;
    margin: 4px 0;
}

form .fields .input-field4{
    display: flex;
    width: calc(5%);
    flex-direction: column;
    margin-right: 4px;
}

form .fields .input-field5{
    display: flex;
    width: calc(24%);
    flex-direction: column;
    margin-left: 4px;
}
form .fields .input-field6{
    display: flex;
    width: calc(25%);
    flex-direction: column;
    margin: 4px 0;
}
form .fields .input-field7{
    display: flex;
    width: calc(15%);
    flex-direction: column;
    margin: 4px 0;
}
form .fields .input-field8{
    display: flex;
    width: calc(34%);
    flex-direction: column;
    margin-right: 4px;
}

form .fields .input-field9{
    display: flex;
    width: calc(15%);
    flex-direction: column;
    margin-left: 4px;
}

form .fields .input-field10{
    display: flex;
    width: calc(34%);
    flex-direction: column;
    margin: 4px 0;
}

form .fields .input-field11{
    display: flex;
    width: calc(15%);
    flex-direction: column;
    margin: 4px 0;
}

form .fields .input-field12{
    display: flex;
    width: calc(34%);
    flex-direction: column;
    margin: 4px 0;
}

form .fields .input-field13{
    display: flex;
    width: calc(24%);
    flex-direction: column;
    margin-left: 4px;
}
form .fields .input-field14{
    display: flex;
    width: calc(25%);
    flex-direction: column;
    margin: 4px 0;
}

form .fields .input-field15{
    display: flex;
    width: calc(15%);
    flex-direction: column;
    margin: 4px 0;
}
form .fields .input-field16{
    display: flex;
    width: calc(34%);
    flex-direction: column;
    margin: 4px 0;
}

form .fields .input-field17{
    display: flex;
    width: calc(50%);
    flex-direction: column;
    margin: 4px 0;
}
form .fields .input-field18{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
}
form .fields .input-field19{
    display: flex;
    width: calc(50%);
    flex-direction: column;
    margin: auto;
   
}
form .fields .input-field20{
    display: flex;
    width: calc(49%);
    flex-direction: column;
    margin: auto;
    
}
form .fields .input-field21{
    display: flex;
    width: calc(50%);
    flex-direction: column;
    margin: auto;
   
}
form .fields .input-field22{
    display: flex;
    width: calc(49%);
    flex-direction: column;
    margin: auto;
}

.input-field1,
.input-field2,
.input-field3,
.input-field4,
.input-field5,
.input-field6,
.input-field7,
.input-field8,
.input-field9,
.input-field10,
.input-field11,
.input-field12,
.input-field13,
.input-field14,  
.input-field15, 
.input-field16,  
.input-field17, 
.input-field18, 
.input-field19, 
.input-field20, 
.input-field21, 
.input-field22, 
label{
    font-size: 16px;
    font-weight: 500;
    color: #3F0F88;
}
.input-field1 input, 
.input-field2 input, 
.input-field3 input, 
.input-field4 input,
.input-field5 input,
.input-field6 input,
.input-field7 input,
.input-field8 input, 
.input-field9 input,
.input-field10 input,
.input-field11 input,
.input-field12 input,
.input-field13 input,
.input-field14 input,
.input-field15 input,
.input-field16 input,
.input-field17 input,
.input-field18 input,
.input-field19 input,
.input-field20 input,
.input-field21 input,
.input-field22 input,
 select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 36px;
    margin: 2px 0;
}

form .fields .tabs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

form .fields .tabs__label{
    padding: 10px 16px;
    cursor: pointer;
}

form .fields .tabs__radio{
   display: none;
}

form .fields .tabs__content{
    order: 1;
    width: 100%;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
 }


 form .fields .tabs__radio:checked+.tabs__label{
    font-weight: bold;
    color: #3F0F88;
    border-bottom: #3F0F88;
 }
 form .fields .tabs__radio:checked+.tabs__label+.tabs__content{
    display: flex;
    width: 100%;
   
    flex-wrap: wrap;
    
 }

 .tablebene{
width: 100%;

 }
.beneinput input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 36px;
    display: flex;
    width: 100%;
    
}

 .benelabel{
     font-size: 16px;
     font-weight: 500;
     color: #3F0F88;
 }


 /* .container form button {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 80px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #3F0F88;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
form button:hover{
    background-color: #265df2;
}

form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .back{
    margin-right: 14px;
} */

.buttons{
    position: absolute;
    right: 0;
    bottom: 0;
    
    margin-bottom: 30px;
    margin-right: 30px;
}

.back{
    margin-top: 30px;
    height: 40px;
    width: 80px;
    border: none;
    background-color: #ede9f2;
    color: #7f7a7a;
    border-radius: 5px;
    outline: none;
}

.save{
    height: 40px;
    width: 80px;    
    border: none;
    margin-left: 10px;
    align-items: end;
    background-color: #530ea8;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
}

.btnTextb{
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
}

.delbut{
    height: auto;
    width:auto;
    margin-left: 4px;
    border: none;
    font-size: 24px;
    background: none;
    background-color: none;
    color: #ff0000;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
}



.tablebene .addbut{
    height: auto;
    width:auto;
    margin-right: 4px;
    border: none;;
    font-size: 24px;
    background: none;
    background-color: none;
    color: #530ea8;
    border-radius: 5px;
    outline: none;
   
}
.btnTexts{
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
}

@media (max-height: 1200px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 1000px) {
    form .fields .input-field1{
        width: 100%;
    }
    form .fields .input-field2{
        width: 100%;
    }
    form .fields .input-field3{
        width: 100%;
    }
    form .fields .input-field4{
        width: 100%;
    }
    form .fields .input-field5{
        width: 100%;
    }
    form .fields .input-field6{
        width: 100%;
    }
    form .fields .input-field7{
        width: 100%;
    }
    form .fields .input-field8{
        width: 100%;
    }
    form .fields .input-field9{
        width: 100%;
    }
    form .fields .input-field10{
        width: 100%;
    }
    form .fields .input-field11{
        width: 100%;
    }
    form .fields .input-field12{
        width: 100%;
    }
    form .fields .input-field13{
        width: 100%;
    }
    form .fields .input-field14{
        width: 100%;
    }
    form .fields .input-field15{
        width: 100%;
    }
    form .fields .input-field16{
        width: 100%;
    }
    form .fields .input-field17{
        width: 100%;
    }
    form .fields .input-field18{
        width: 100%;
    }

}