*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  cursor: context-menu;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--primary-color);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  background: var(--white);
  border-radius: 30px;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.5);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-wrap {
  position: absolute;
  height: 80%;
  width: 45%;
  top: 0;
  left: 0;
}

.login-vector {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: var(--secondary-color);
  border-radius: 25px;
}

.login-vector img {
  width: 100%;
  height: 100%;
}

form {
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.wah-logo {
  display: flex;
  align-items: center;
  margin-top: 5px;
  transform: translate(-2.5%, -10%);
}

.wah-logo p {
  color: var(--primary-color);
  font-size: 0.9rem;
  line-height: 100%;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.wah-logo img {
  width: 50px;
  margin: -0.1rem;
}

.heading h1 {
  font-size: 2rem;
  font-weight: 1000;
  color: var(--black);
  letter-spacing: -0.5px;
}

.heading p {
  color: var(--grey-4);
  font-size: 0.96rem;
  //display: inline;
  margin-top: .3rem;
  margin-left: .3rem;
}

.txt-wrap {
  position: relative;
  height: 10px;
  margin-bottom: 10.5rem;
  text-align: center;
}

.reset {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 0.6rem;
  font-size: 0.9rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  padding-top: 0.6rem;
  text-decoration: none;
}

.reset:hover {
  background-color: var(--primary-color-light);
}

.account {
  color: var(--grey-4);
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  text-align: center;

  .back {
    display: flex;
    color: var(--grey-4);
    font-size: 0.9rem;
    align-items: center;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .ti-arrow-left {
    display: flex;
    font-size: 18px;
    text-align: center;
    margin-right: .3rem;
  }
  
  .back:hover {
    color: var(--grey-3);
  }
}

.did {
  color: var(--grey-4);
  text-decoration: none;
  font-size: 0.8rem;
  //font-weight: 500;
  transition: 0.3s;
  padding-left: 0.5rem;
}

.signup {
  text-decoration: none;
  background: none;
  align-self: center;
  font-size: 0.8rem;
  font-weight: 500;
  transition: 0.3s;
  padding-left: 0.2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.signup:hover {
  color: var(--primary-color-light);
}

span {
  height: 20px;
  width: 20px;
  background-color: var(--grey-3);
  border-radius: 50%;
  display: inline-block;
  color: var(--white);
  font-size: 10px;
  padding-top: 0.15rem;
  transform: translate(50%, 50%);
}
.dot1 {
  margin-right: 5%;
}
.dot2 {
  margin-right: 5%;
  background-color: var(--primary-color);
  color: var(--white);
  transition: 1s;
}
.dot3 {
  margin-right: 5%;
}

@media (max-width: 850px) {
  .back {
    margin-top: 8em;
  }
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .form-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  .reg-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .login-vector {
    position: revert;
    height: auto;
    width: 0%;
    padding: 0.2rem 0.1rem;
    display: flex;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 830px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .login-vector {
    padding: 1rem 1rem;
    border-radius: 1.6rem;
    visibility: hidden;
  }

  .txt-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}
