<head>
    <title>Forgot Password?</title>
</head>
<main>
    <div class="box">
        <div class="wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
        </div>
        <div class="inner-box">
            <div class="form-wrap">
                <form [formGroup]="emailForm" (ngSubmit)="submitEmail()" *ngIf="isDisplayed" @slideright>
                    <div class="wah-logo">
                        <img src="assets/image/coop-logo.png" alt="WAH Logo">
                        <p>WAHIE <br> Cooperative</p>
                    </div>

                    <div class="heading">
                        <h1>Forgot Password?</h1>
                        <p>We'll send a link to reset your password.</p>
                    </div>

                    <div class="txt-field">
                        <div class="txt-wrap">
                            <input type="email" formControlName="email" class="input-field" id="email" placeholder="Enter your email" required><br>
                            <button class="reset">Reset Password</button>
                        </div>

                        <div class="go-back">
                            <a [routerLink]="['/login']" class="back">
                                <i class="ti ti-arrow-left"></i>Back to log in
                            </a>
                        </div>
                    </div>

                </form>
                <div class="account">
                    <div style="text-align:center"></div>
                    <span class="dot1">1</span>
                    <span class="dot2">2</span>
                    <span class="dot3">3</span>
                </div>
            </div>
            <!-- VECTOR BACKGROUND -->
            <div class="login-vector">
                <img src="assets/image/Email-amico.png" class="login" *ngIf="isDisplayed" @slider>
            </div>
        </div>
    </div>
</main>