*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
body {
  font-family: "Poppins", sans-serif;
}

main {
  cursor: context-menu;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #3f0f88;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.5);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-wrap {
  position: absolute;
  height: 105%;
  width: 45%;
  top: 0;
  left: 0;
}

.login-vector {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: #0099ff;
  border-radius: 25px;
}

.login-vector img {
  width: 100%;
  height: 100%;
}

form {
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.wah-logo {
  display: flex;
  align-items: center;
  margin-top: 5px;
  transform: translate(-2.5%, -10%);
}

.wah-logo p {
  color: #3f0f88;
  font-size: 0.9rem;
  line-height: 100%;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.wah-logo img {
  width: 50px;
  margin: -0.1rem;
}

.heading h1 {
  font-size: 2rem;
  font-weight: 1000;
  color: #151111;
  letter-spacing: -0.5px;
}

.heading p {
  color: #707070;
  font-size: 0.96rem;
}

.txt-field{
  margin-top: 1rem;
}

.txt-wrap {
  position: relative;
  height: 40px;
  margin-bottom: 3rem;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  color: #3f0f88;
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  position: absolute;
  width: 100%;
  height: 100%;
  outline-color: #3f0f88;
  border: 2px solid #ccc;
  border-radius: 0.6rem;
  padding: 20px 20px 20px 16px;
  display: flex;
  flex-direction: column;
}

.meter{
margin-top:3em;
max-width: 500px;
width: 310px;
}

.eye {
  position: absolute;
  left: 88%;
  bottom: -48%;
  cursor: pointer;
  font-size: 1.3rem;
}

.eye2 {
  position: absolute;
  left: 88%;
  bottom: -48%;
  cursor: pointer;
  font-size: 1.3rem;
}

.save {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #3F0F88;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.6rem;
  font-size: 1rem;
  margin-bottom: .5rem;
  text-decoration: none;
  margin-top: .35rem;
}

.save:hover{
  background-color: var(--primary-alt);
}

.save:hover {
  background-color: var(--primary-alt);
}

.logout{
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: var(--dark-grey-2);
  color: #fff;
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  margin-bottom: .5rem;
  text-decoration: none;
}

.logout:hover{
  background-color: var(--dark-grey-3);
}

.account {
  color: #707070;
  font-size: 0.9rem;
  text-align: center;
}

.back {
  display: flex;
  color: #707070;
  font-size: 0.9rem;
  align-items: center;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
  opacity: 80%;
  margin-left: 40%;
}

.back {
  text-align: center;
  text-decoration: none;
}

.back:hover {
  opacity: 60%;
}

@media (max-width: 850px) {
  .meter {
    width: auto;
  }
  .input-field {
    display: flex;
  }
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .form-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  .reg-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
  }

  .heading {
    margin: 2rem 0;
  }

  .login-vector {
    position: revert;
    height: auto;
    width: 0%;
    padding: 0.5rem 0.5rem;
    display: flex;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
    display: flex;
  }

  .inner-box {
    padding: 1rem;
  }

  .login-vector {
    padding: 1rem 1rem;
    border-radius: 1.6rem;
    visibility: hidden;
  }

  .txt-wrap {
    margin-bottom: 3rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}

/**PASSWORD MATCH*/
.text-danger {
  transform: translate(16%, -100%);
  color: red;
  font-size: 14px;
  position: absolute;
}

.text-danger1 {
  transform: translate(11%, -100%);
  color: red;
  font-size: 14px;
  position: absolute;
}

.text-danger2 {
  transform: translate(5%, -150%);
  color: red;
  font-size: 14px;
}

.notMatch{
    transform: translate(11%, -130%);
    color: red;
    font-size: 16px;
    position: absolute;
}