<head>
    <title>Set new password</title>
</head>
<main>
    <div class="box">
        <div class="inner-box">
            <div class="form-wrap">    
                <form ngNativeValidate name="form" (ngSubmit)="submitPass()" #changpassForm="ngForm" [formGroup]="chpassForm" *ngIf="isDisplayed" @slideright>
                    <div class="wah-logo">
                        <img src="assets/image/coop-logo.png" alt="WAH Logo">
                        <p>WAHIE <br> Cooperative</p>
                    </div>

                    <div class="heading">
                        <h1>Set new password</h1>
                        <p>Must be at least 8 characters.</p>
                    </div>
                
                    <div class="txt-field">
                        
                        <div class="txt-wrap">
                            <label class="enter_pass" for="pass">Password</label>
                            <input type="hidden" name="id" id="id" value='{{ id }}'>
                            <input [type]="changetype?'password':'text'" class="input-field" id="sadmin-pass" name="password" placeholder="Enter your new password" formControlName="password" required minlength="8"
                            maxlength="16"
                            pattern="(?=.*[0-9])(?=.*[!@#$%^&*()_])[a-zA-Z0-9!@#$%^&*()_]{8,16}$"  title="Password must be at least 8 characters, one letter, one number and one special character:"
                            [(ngModel)]="chform.password">
                            <div class="eye" (click)="viewpass()"><i [ngClass]="visible?'ti ti-eye-closed':'ti ti-eye'"></i></div> 
                        </div>
                        <div class="meter">
                            <strength-meter [value]="chpassForm.value.password" (measure)="onStrengthChange($event)"></strength-meter>
                        </div>
                            
                        <div class="txt-wrap">
                            <label for="pass2">Confirm Password</label>
                            <input [type]="cchangetype?'password':'text'" class="input-field" id="sadmin-confirm-pass" name="confirm_pass" placeholder="Confirm your new password"  formControlName="confirm_pass" required
                            [(ngModel)]="chform.confirm_pass">
                            <div class="eye2" (click)="cviewpass()"><i [ngClass]="cvisible?'ti ti-eye-closed':'ti ti-eye'"></i></div>
                        </div>
                        <div class="notMatch" *ngIf="chpassForm.get('confirm_pass')!.touched && chpassForm.get('confirm_pass')!.invalid && chpassForm.controls['confirm_pass'].errors!['passwordMatch']">
                            <small>Password not match</small>
                        </div>

                        <button type="submit" class="save">Save password</button> 
                        <button [routerLink]="['/login']" type="submit" class="logout">Logout</button>
                    </div>
                </form> 
            </div>
            <!-- VECTOR BACKGROUND -->
            <div class="login-vector ">
                <img src="assets/image/Reset password-amico.png" class="login" *ngIf="isDisplayed" @slider>
            </div>
        </div>
    </div>
</main>