.sidenav {
  background: var(--primary-color);
  transition: var(--tran-05);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  height: 100vh;
  //box-shadow: 0.063rem 0 1.25rem 0 var(--border-color);

  .logo-container {
    display: flex;
    align-items: center;
    padding: 1rem 1.23rem 1rem;
    width: 100%;

    .logo {
      background: var(--panel-color);
      width: 2.5rem;
      min-width: 2.5rem;
      border-radius: 100%;
      padding: 0.313rem;
      cursor: pointer;
    }

    .logo-text {
      margin-left: 0.8rem;
      font-size: 21px;
      font-weight: 600;
      color: var(--panel-color);
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .close-icon {
        color: var(--panel-color);
        font-size: 24px;
      }
    }
  }
}

.sidenav-collapsed {
  width: 16.5625rem;

  .tooltip {
    display: none;
  }
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);

  .nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: var(--panel-color);
      text-decoration: none;
      border-radius: 0.625rem;
      transition: color 0.3s ease;

      &:not(.active):hover {
        background-color: var(--primary-alt);
      }

      .link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .link-text {
        margin: 0.8rem;
      }
    }

    .tooltip {
      position: absolute;
      margin-top: -1.6rem;
      left: calc(100% + 0.938rem);
      z-index: 1;
      background: var(--panel-color);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      padding: 6px 12px;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 400;
      visibility: hidden;
      white-space: nowrap;
      pointer-events: none;
    }
  }

  .nav-item:hover .tooltip {
    visibility: visible;
    pointer-events: auto;
    transition: all 0.4s ease;
    transform: translateY(-50%);
  }

  .active {
    background-color: var(--panel-color);

    .link-icon,
    .link-text {
      color: var(--primary-color);
    }
  }

  .profile {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 0rem 0.6rem;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
    background: var(--primary-alt);
    transition: all 0.5s ease;
    overflow: hidden;

    .profile-details {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      .admin-name {
        color: var(--panel-color);
        white-space: nowrap;

        .name {
          font-size: 14px;
          font-weight: 600;
        }

        .role {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    img {
      width: 2rem;
      min-width: 2rem;
      border-radius: 100%;
      margin-right: 1rem;
      object-fit: cover;
    }

    .btn-down {
      text-align: right;
      margin-right: 0.5rem;
      margin-left: auto;
      cursor: pointer;
      font-size: 20px;
      height: 1.5rem;
      border-radius: 50%;
      background-color: var(--primary-alt);
      color: var(--panel-color);
      transition: all 0.5s ease;
    }

    .btn-logout:hover {
      color: var(--red);
    }
  }
}


/* Dropdown Menu */
.dropdown {
  position: fixed;
  background: var(--panel-color);
  width: 234px;
  left: 16px;
  bottom: 115px;
  transition: all 0.5s ease;
  border-radius: 0.645rem;
  transition: var(--tran-03);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  //z-index: 100000000;

  .menu-nav {
    list-style: none;
    padding: 0.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);

    .menu-item {
      width: 100%;
      cursor: pointer;
      
      .menu-link {
        display: flex;
        align-items: center;
        height: 3rem;
        color: var(--dark-grey);
        text-decoration: none;
        border-radius: 0.325rem;
        transition: color 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: var(--grey-alt);
        }

        .link-icon {
          font-size: 20px;
          font-weight: 500;
          width: 2rem;
          min-width: 2rem;
          margin: 0.2px 0px 0px 0.4rem;
          text-align: center;
          cursor: pointer;
        }

        .link-text {
          font-size: 15px;
          font-weight: 500;
          margin: 0.5rem 0.5rem 0.5rem 0.4rem;
          cursor: pointer;
        }
      }
    }
  }
}

/* Modal */
.pass-modal {
  position: fixed;
  background: #353232bf;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;

  .pass-content {
    background: #fff;
    width: 50%;
    margin: 0 auto;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    text-align: center;
    padding: 0 30px 1px;
    transition: transform 0.4s, top 0.4s;
    max-width: 400px;
    width: 100%;

    .pass-header {
      padding: 30px 10px;
      font-weight: 600;
      font-size: 20px;
      color: var(--primary-color);
      text-align: left;
    }

    .eyecurrent{
      content: '\ea9a';
      position: absolute;
      left: 80%;
      bottom: 69%;
      cursor: pointer;
      font-size: 1.1rem;
      color: var(--dark-grey-2);
    }

    .eye{
      content: '\ea9a';
      position: absolute;
      left: 80%;
      bottom: 52%;
      cursor: pointer;
      font-size: 1.1rem;
      color: var(--dark-grey-2);
    }

    .eye2{
      content: '\ea9a';
      position: absolute;
      left: 80%;
      bottom: 28%;
      cursor: pointer;
      font-size: 1.1rem;
      color: var(--dark-grey-2);
    }

    .meter {
      max-width: 310px;
      transform: translate(5%, 10%);
      width: 100%;
      
    
    }


    .pass-body {
      label {
        font-size: 16px;
        font-weight: 500;
        color: var(--primary-color);
        text-align: left;
      }

      .passinput {
        display: flex;
        width: calc(90%);
        flex-direction: column;
        margin: auto;
        outline: none;
        font-size: 14px;
        font-weight: 400;
        color: #333;
        border-radius: 5px;
        border: 1px solid #aaa;
        padding: 0 14px;
        height: 36px;
      }
    }
    .pass-footer {
      .savebtn {
        width: 44%;
        margin: 5px 0px 0px 10px;
        height: 43px;
        background-color: var(--primary-color);
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 0.45rem;
        font-size: 0.9rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        transition: 0.3s;
        text-decoration: none;
      }

      .savebtn:hover {
        background-color: var(--primary-alt);
      }

      .closebtn {
        width: 44%;
        margin: 5px 0px 0px 0px;
        height: 43px;
        border: none;
        cursor: pointer;
        border-radius: 0.45rem;
        font-size: 0.9rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        transition: 0.3s;
        text-decoration: none;
        background-color: var(--grey-alt);
        color: var(--dark-grey);
      }

      .closebtn:hover {
        background-color: var(--dark-grey-2);
      }
    }
  }
}

/* Switch */
.switch {
  cursor: pointer;
  margin: 1px;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 25px;
  outline: none;
  background-color: #ccc;
  -webkit-appearance: none;
}

input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #ffffff;
  transition: left 0.3s;
}

input:checked {
  background-color: #3f0f88;
}

input:checked::after {
  left: 70%;
}

.text-danger1 {
  color: red;
  font-size: 14px;
  position: absolute;
  transform: translate(20%, -95%);
}

