.sidenav {
  background: var(--panel-color);
  transition: var(--tran-05);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  height: 100vh;
  //box-shadow: 0.063rem 0 1.25rem 0 var(--border-color);
  border-right: 1px solid var(--nav-border);

  .logo-container {
    display: flex;
    align-items: center;
    padding: 1rem 1.23rem 1rem;
    width: 100%;

    .logo {
      background: var(--white);
      width: 2.5rem;
      min-width: 2.5rem;
      border: 1.5px solid var(--border-color);
      border-radius: 100%;
      padding: 0.313rem;
      cursor: pointer;
    }

    .logo-text {
      margin-left: 0.8rem;
      font-size: 21px;
      font-weight: 600;
      color: var(--text-color-2);
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .close-icon {
        color: var(--text-color-2);
        font-size: 24px;
      }
    }
  }
}

.sidenav-collapsed {
  width: 16.5625rem;

  .tooltip {
    display: none;
  }
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);

  .nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: var(--text-color-2);
      text-decoration: none;
      border-radius: 0.625rem;
      transition: color 0.3s ease;

      &:not(.active):hover {
        background-color: var(--grey-2);
      }

      .link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .link-text {
        margin: 0.8rem;
      }
    }

    .tooltip {
      position: absolute;
      margin-top: -1.6rem;
      left: calc(100% + 0.938rem);
      z-index: 1;
      background: var(--panel-color);
      color: var(--text-color-2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      padding: 6px 12px;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 400;
      visibility: hidden;
      white-space: nowrap;
      pointer-events: none;
    }
  }

  .nav-item:hover .tooltip {
    visibility: visible;
    pointer-events: auto;
    transition: all 0.4s ease;
    transform: translateY(-50%);
  }

  .active {
    background-color: var(--primary-color);

    .link-icon,
    .link-text {
      color: var(--white);
    }
  }

  .nav-profile {
    display: flex;
    align-items: center;
    padding: 0rem 0.6rem;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
    background: var(--grey-2);
    transition: all 0.5s ease;
    overflow: hidden;

    img {
      width: 2rem;
      min-width: 2rem;
      border-radius: 100%;
      margin-right: 1rem;
      object-fit: cover;
    }

    .profile-details {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      cursor: pointer;

      .admin-name {
        color: var(--text-color-2);
        white-space: nowrap;

        .name {
          font-size: 14px;
          font-weight: 600;
        }

        .role {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    .btn-down {
      text-align: right;
      margin-right: 0.5rem;
      margin-top: 0.25rem;
      margin-left: auto;
      cursor: pointer;
      font-size: 20px;
      height: 1.5rem;
      border-radius: 50%;
      color: var(--text-color-2);
      transition: var(--tran-05);
    }
  }

  /* Dark Mode Switch */
  .nav-mode {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-bottom: 0.625rem;
    //overflow: hidden;
    transition: var(--tran-05);
    margin-top: auto;

    .mode-details {
      display: flex;
      align-items: center;
      margin-right: 2.5rem;
      color: var(--text-color-2);
      transition: var(--tran-05);

      .mode-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin-right: 1rem;
        text-align: center;
      }
  
      .mode-text {
        font-size: 16px;
      }
    }

    .mode-switch {
      margin-left: auto;
      text-align: right;
      margin-top: 0.5rem;
      transition: var(--tran-05);
      
      .switch {
        cursor: pointer;
        margin: 1px;
        position: relative;
        width: 50px;
        height: 30px;
        border-radius: 25px;
        outline: none;
        background-color: var(--border-color);
        -webkit-appearance: none;
      }

      input::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        height: 1.25rem;
        width: 1.25rem;
        background-color: var(--panel-color);
        transition: var(--tran-03);
      }

      input:checked {
        background-color: var(--primary-color-light);
      }

      input:checked::after {
        left: 70%;
      }
    }
  }
}

/* Dropdown Menu */
.dropdown {
  position: fixed;
  background: var(--dropdown-bg);
  width: 234px;
  left: 16px;
  bottom: 75px;
  border-radius: 0.645rem;
  transition: var(--tran-05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  .menu-nav {
    list-style: none;
    padding: 0.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);

    .menu-item {
      width: 100%;
      cursor: pointer;

      .menu-link {
        display: flex;
        align-items: center;
        height: 3rem;
        color: var(--text-color-3);
        text-decoration: none;
        border-radius: 0.325rem;
        transition: color 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: var(--grey-2);
        }

        .link-icon {
          font-size: 20px;
          font-weight: 500;
          width: 2rem;
          min-width: 2rem;
          margin: 0.2px 0px 0px 0.4rem;
          text-align: center;
          cursor: pointer;
        }

        .link-text {
          font-size: 15px;
          font-weight: 500;
          margin: 0.5rem 0.5rem 0.5rem 0.4rem;
          cursor: pointer;
        }
      }
    }
  }
}

/* Modal */
.pass-modal {
  position: fixed;
  background: var(--modal-overlay);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;

  .modal-wrapper {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s, top 0.4s;
    background: var(--modal-bg);
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;

    .modal-header {
      padding: 30px 25px;
      height: 60px;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-title {
        font-weight: 600;
        font-size: 20px;
        color: var(--text-color-2);
        margin-top: 0.15rem;
      }

      .ti-x {
        font-size: 20px;
        color: var(--grey-3);
        cursor: pointer;
        transition: all 0.2s ease;
        padding: 4px;
        margin-top: -3px;
        margin-right: -6px;
      }

      .ti-x:hover {
        background-color: var(--grey-2);
        border-radius: 100%;
      }
    }

    .modal-body {
      padding: 20px 25px 15px;

      .input-box {
        margin-bottom: 15px;

        .input-label {
          display: block;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0.35rem;
          color: var(--text-color-3);
          text-align: left;
        }

        .input-field {
          height: 45px;
          width: 100%;
          outline: none;
          border: 1.8px solid var(--border-color);
          background-color: var(--panel-color);
          color: var(--text-color-2);
          font-size: 14px;
          border-radius: 0.625rem;
          padding-left: 1rem;
          font-family: inherit;
        }

        .input-field:focus {
          border: 1.8px solid var(--primary-color);
        }
      }

      .eyecurrent {
        content: "\ea9a";
        position: absolute;
        left: 83%;
        bottom: 66%;
        cursor: pointer;
        font-size: 1.3rem;
        color: var(--grey-3);
      }
  
      .eye {
        content: "\ea9a";
        position: absolute;
        left: 83%;
        bottom: 46%;
        cursor: pointer;
        font-size: 1.3rem;
        color: var(--grey-3);
      }
  
      .eye2 {
        content: "\ea9a";
        position: absolute;
        left: 83%;
        bottom: 26%;
        cursor: pointer;
        font-size: 1.3rem;
        color: var(--grey-3);
      }
  
      // .meter {
      //   max-width: 70px;
      //   transform: translate(2%, 10%);
      //   width: 300%;
      // }

      .text-danger1 {
        color: var(--red);
        margin-top: .5rem;
        font-size: 15px;
        position: absolute;
        transform: translate(12%, -90%);
      }
    }

    .modal-footer {
      padding: 18px 25px;
      border-top: 1px solid var(--border-color);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .btn {
        width: 100px;
        height: 42px;
        border-radius: 0.45rem;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
      }

      .btn-save {
        background-color: var(--primary-color);
        color: var(--white);
        margin-left: 1rem;
      }

      .btn-save:hover {
        background-color: var(--primary-color-dark);
      }

      .btn-close {
        background-color: transparent;
        color: var(--cancel-text);
      }

      .btn-close:hover {
        background-color: var(--grey-2);
      }
    }
  }
}