/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-alt);
}
::-webkit-scrollbar-track:hover {
  background: var(--border-color);
}

/* Select Dropdown */
select {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance: none;
  background-color: var(--panel-color);
  border: 1.6px solid var(--border-color);
  border-radius: 0.645rem;
  padding: 0 10px;
  margin: 8px 4px 0;
  height: 40px;
  min-width: 15ch;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.1;
}