/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-alt);
}


/* Dropdown */
.ng-dropdown-panel{
  background-color: var(--grey-alt);
  outline: none;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #aaa;
  margin: 2px 0;
}

/* Select Dropdown */
select {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance: none;
  border: 1px solid var(--border-color);
  border-radius: 0.45rem;
  padding: 0 10px;
  margin: 8px 4px 0;
  height: 36px;
  min-width: 15ch;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--panel-color);
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

ng-select .ng-select-container {
  padding: 8px 6px;
  margin-left: 10px;
  margin-right: 10px;
}