:root {
  /* ===== Colors ===== */
  --primary-color: #3f0f88;
  --primary-alt: #2c0b5f;
  --secondary-color: #0099ff;
  --secondary-alt: rgba(0, 153, 255, 0.15);
  --panel-color: #FFFFFF;
  --border-color: #d1cccc;
  --grey: #f6f6f6;
  --grey-alt: #e9e9e9;
  --dark-grey: #707070;
  --dark-grey-2: #aeaaaa;
  --dark-grey-3: #918e8e;
  --blue: #0077c5;
  --green: #35CE8D;
  --yellow: #ffc145;
  --pending-bg: #fff0c2;
  --pending-font: #a68b00;
  --overdue-bg: #ffcdd2;
  --overdue-font: #c62828;
  --paid-bg: #c8e6c9;
  --paid-font: #388e3c;

  /* ====== Transitions ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: .435rem;
}

input {
  caret-color: var(--primary-color);
}

.darkmodes {
  /* ===== Colors ===== */
  --primary-color: #3f0f88;
  --primary-alt: #2c0b5f;
  --secondary-color: #0099ff;
  --secondary-alt: rgba(0, 153, 255, 0.15);
  --white:#F2F3F5;
  --panel-color: #0e1014;
  --border-color: #15181f;
  --grey-1: #676b7a;
  --grey-2: #4e5261;
  --grey-3: #2b2e38;
  --grey-4: #15181f;

}
