.sidenav {
  background: var(--panel-color);
  transition: var(--tran-05);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  height: 100vh;
  //box-shadow: 0.063rem 0 1.25rem 0 var(--border-color);
  border-right: 1px solid var(--nav-border);

  .logo-container {
    display: flex;
    align-items: center;
    padding: 1rem 1.23rem 1rem;
    width: 100%;

    .logo {
      background: var(--white);
      width: 2.5rem;
      min-width: 2.5rem;
      border: 1.5px solid var(--border-color);
      border-radius: 100%;
      padding: 0.313rem;
      cursor: pointer;
    }

    .logo-text {
      margin-left: 0.8rem;
      font-size: 21px;
      font-weight: 600;
      color: var(--text-color-2);
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .close-icon {
        color: var(--text-color-2);
        font-size: 24px;
      }
    }
  }
}

.sidenav-collapsed {
  width: 16.5625rem;

  .tooltip {
    display: none;
  }
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);

  .nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: var(--text-color-2);
      text-decoration: none;
      border-radius: 0.625rem;
      transition: color 0.3s ease;

      &:not(.active):hover {
        background-color: var(--grey-2);
      }

      .link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .link-text {
        margin: 0.8rem;
      }
    }

    .tooltip {
      position: absolute;
      margin-top: -1.6rem;
      left: calc(100% + 0.938rem);
      z-index: 1;
      background: var(--panel-color);
      color: var(--text-color-2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      padding: 6px 12px;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 400;
      visibility: hidden;
      white-space: nowrap;
      pointer-events: none;
    }
  }

  .nav-item:hover .tooltip {
    visibility: visible;
    pointer-events: auto;
    transition: all 0.4s ease;
    transform: translateY(-50%);
  }

  .active {
    background-color: var(--primary-color);

    .link-icon,
    .link-text {
      color: var(--white);
    }
  }

  .nav-profile {
    display: flex;
    align-items: center;
    padding: 0rem 0.6rem;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
    background: var(--grey-2);
    transition: all 0.5s ease;
    overflow: hidden;

    .profile-details {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      .admin-name {
        color: var(--text-color-2);
        white-space: nowrap;

        .name {
          font-size: 14px;
          font-weight: 600;
        }

        .role {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    img {
      width: 2rem;
      min-width: 2rem;
      border-radius: 100%;
      margin-right: 1rem;
      object-fit: cover;
    }

    .btn-logout {
      margin-left: auto;
      cursor: pointer;
      font-size: 25px;
      height: 1.7rem;
      border-radius: 50%;
      background: var(--grey-2);
      color: var(--text-color-2);
      transition: all 0.5s ease;
    }

    .btn-logout:hover {
      color: var(--red);
    }
  }

  /* Dark Mode Switch */
  .nav-mode {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-bottom: 0.625rem;
    //overflow: hidden;
    transition: var(--tran-05);
    margin-top: auto;

    .mode-details {
      display: flex;
      align-items: center;
      margin-right: 2.5rem;
      color: var(--text-color-2);
      transition: var(--tran-05);

      .mode-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin-right: 1rem;
        text-align: center;
      }
  
      .mode-text {
        font-size: 16px;
      }
    }

    .mode-switch {
      margin-left: auto;
      text-align: right;
      margin-top: 0.5rem;
      transition: var(--tran-05);
      
      .switch {
        cursor: pointer;
        margin: 1px;
        position: relative;
        width: 50px;
        height: 30px;
        border-radius: 25px;
        outline: none;
        background-color: var(--border-color);
        -webkit-appearance: none;
      }

      input::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        height: 1.25rem;
        width: 1.25rem;
        background-color: var(--panel-color);
        transition: var(--tran-03);
      }

      input:checked {
        background-color: var(--white);
      }

      input:checked::after {
        left: 70%;
      }
    }
  }
}
