<p>additional-info works!</p>

<form #updatememInfo="ngForm"  class="additional-info" *ngIf="isDisplayed">
<div class="text_field" >

<div class="text-wrap">
    <input [(ngModel)]="updateMemberform.tin_number" type="text" name="tin_number" placeholder="tin_number">
</div>

<div class="text-wrap">
<select [(ngModel)]="updateMemberform.civil_status" id="civil_status" name="civil_status"required>
    <option disabled selected>Select</option>
    <option>Single</option>
    <option>Maried</option>
  </select>
</div>

<div class="text-wrap">
    <input [(ngModel)]="updateMemberform.spouse" type="text" name="spouse" placeholder="spouse">
</div>


<div class="text-wrap">
<label>Employement Status</label>
<select [(ngModel)]="updateMemberform.employment_status" id="employement_status" name="employement_status" required>
  <option disabled selected>Select</option>
  <option>Employed</option>
  <option>Unemployed</option>
  <option>Self-Employed</option>
</select>
</div>

<div class="text-wrap">
    <input [(ngModel)]="updateMemberform.occupation" type="text" name="occupation" placeholder="occupation">
</div>

<div class="text-wrap">
    <input [(ngModel)]="updateMemberform.company_address" type="text" name="company_address" placeholder="company_address">
</div>

<div class="text-wrap">
    <input [(ngModel)]="updateMemberform.address" type="text" name="address" placeholder="address">
</div>
<div class="text-wrap">
    <input [(ngModel)]="updateMemberform.job_title" type="text" name="job_title" placeholder="job_title">
</div>


</div>



<label for="Beneficiaries" class="tabs__label">Beneficiaries</label>
<div class="tabs__content">
  <table class="tablebene">
    <br />
    <tr>
      <th></th>
      <th class="benelabel">Name</th>
      <th class="benelabel">Date of Birth</th>
      <th class="benelabel">Relationship</th>
    </tr>

    <tr *ngFor="let item of row; let x = index">
      <td class="delbut">
        <button class="addbut" (click)="addTable()">
          <i class="ti ti-square-rounded-plus"></i>
        </button>
      </td>
      
      <td class="beneinput" ><input type="text" [(ngModel)]="item.benificiary_name" [ngModelOptions]="{standalone: true}"></td>

       <td class="beneinput"><input type="date" [(ngModel)]="item.benificiary_birthdate" [ngModelOptions]="{standalone: true}"></td>

       <td class="beneinput"><input type="text" [(ngModel)]="item.benificiary_relation" [ngModelOptions]="{standalone: true}"></td>

      <td class="delbut">
        <button class="delbut" (click)="deleteRow(x)">
          <i class="ti ti-square-rounded-x"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
<button type="submit" (click)="memberInfo()"  class="submit"> Update </button>
</form>