<main>
  <div class="modal_container">
    <header>Additional Information</header>

    <form #updatememInfo="ngForm" class="additional-info" *ngIf="isDisplayed">
      <div class="fields">
        <div class="text-wrap">
          <label for="civil_status">Civil Status</label>
          <select
            [(ngModel)]="updateMemberform.civil_status"
            [ngModelOptions]="{ standalone: true }"
            id="civil_status"
            name="civil_status"
            (change)="onOptionChange()"
            required
          >
            <option disabled selected>Select</option>
            <option value="single">Single</option>
            <option value="married">Married</option>
          </select>
        </div>
        <div class="text-wrap">
          <label for="tin_number">TIN Number </label>
          <input
            [(ngModel)]="updateMemberform.tin_number"
            [ngModelOptions]="{ standalone: true }"
            name="tin_number"
            type="text"
            placeholder="e.g. 000 – 123 – 456 – 001"
          />
        </div>

        <div class="text-wrap">
          <label for="spouse">Spouse</label>
          <input
            [(ngModel)]="updateMemberform.spouse"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            name="spouse"
            placeholder=""

            [disabled]="isInputDisabled"
          />
        </div>

        <div class="text-wrap">
          <label>Employement Status</label>
          <select
            [(ngModel)]="updateMemberform.employment_status"
            [ngModelOptions]="{ standalone: true }"
            id="employement_status"
            name="employement_status"
            required
          >
            <option disabled selected>Select</option>
            <option>Employed</option>
            <option>Unemployed</option>
            <option>Self-Employed</option>
          </select>
        </div>

        <div class="text-wrap">
          <label for="occupation">Occupation</label>
          <input
            [(ngModel)]="updateMemberform.occupation"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            name="occupation"
            placeholder=""
          />
        </div>

        <div class="text-wrap">
          <label for="company_address">Company Address</label>
          <input
            [(ngModel)]="updateMemberform.company_address"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            name="company_address"
            placeholder="e.g. 015 Zamora Street, Tarlac City"
          />
        </div>
        <div class="tabs">
          <input
            type="radio"
            class="tabs__radio"
            name="tabs-coop"
            id="Address"
            checked
          />
          <label for="Address" class="tabs__label">Address</label>
          <div class="tabs__content">
            <div class="input-field18">
              <br />
              <label>Current Address</label>
              <input
                [(ngModel)]="updateMemberform.current_address"
                [ngModelOptions]="{ standalone: true }"
                name="current_address"
                type="text"
                placeholder="House No./Street/Block"
                required
              />
            </div>

            <div class="input-field19">
              <select class="try" [(ngModel)]="updateMemberform.selectedRegion" (click)="showProvinces()" [ngModelOptions]="{ standalone: true }" required>
                <option *ngFor="let reg of region" [value]="reg.region_code">
                  {{ reg.region_description }}
                  {{ reg.journal_name }}
                </option>
              </select>
            </div>

            <div class="input-field19">
              <select class="try"  [(ngModel)]="updateMemberform.selectedProvince" (click)="showCities()" [ngModelOptions]="{ standalone: true }" required>
                <option *ngFor="let prov of province" [value]="prov.province_code">
                  {{ prov.province_description }}
                  {{ prov.journal_name }}
                </option>
              </select>
            </div>

            <div class="input-field20">
              <select class="try"  [(ngModel)]="updateMemberform.selectedCity" (click)="showBarangay()" [ngModelOptions]="{ standalone: true }" required>
                <option *ngFor="let city of cities" [value]="city.city_municipality_code">
                  {{ city.city_municipality_description }}
                  {{ city.journal_name }}
                </option>
              </select>
            </div>
            <div class="input-field21" placeholder="Postal Code">
              <select class="try"  [(ngModel)]="updateMemberform.selectedBarangay" [ngModelOptions]="{ standalone: true }" required>
                <option *ngFor="let brgy of barangay" [value]="brgy.barangay_code">
                  {{ brgy.barangay_description }}
                  {{ brgy.journal_name }}
                </option>
              </select>
            </div>
            <div class="input-field22">
              <input
                [(ngModel)]="updateMemberform.postal_code"
                [ngModelOptions]="{ standalone: true }"
                name="barangay"
                type="text"
                placeholder="Postal Code"
                required
              />
            </div>
            <button (click)="logSelectedValues()"> Check</button>
          </div>
          <input
            type="radio"
            class="tabs__radio"
            name="tabs-coop"
            id="Beneficiaries"
          />

          <label for="Beneficiaries" class="tabs__label">Beneficiaries</label>
          <div class="tabs__content">
            <table class="tablebene">
              <br />
              <tr>
                <th></th>
                <th class="benelabel">Name</th>
                <th class="benelabel">Date of Birth</th>
                <th class="benelabel">Relationship</th>
              </tr>

              <tr *ngFor="let item of row; let x = index">
                <td class="delbut">
                  <button class="addbut" (click)="addTable()">
                    <i class="ti ti-square-rounded-plus"></i>
                  </button>
                </td>


                  <td class="beneinput">
                  <input
                    type="text"
                    [(ngModel)]="item.benificiary_name"
                    name = 'benificiary_name'
                    id = ' benificiary_name'
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>

                <td class="beneinput">
                  <input
                    type="date"
                    [(ngModel)]="item.benificiary_birthdate"
                    name = 'benificiary_birthdate'
                    id = ' benificiary_birthdate'
                    [ngModelOptions]="{ standalone: true }"
                    max="{{maxDate}}"
                  />
                </td>

                <td class="beneinput">
                  <input
                    type="text"
                    name = 'benificiary_relation'
                    id = ' benificiary_relation'
                    [(ngModel)]="item.benificiary_relation"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>

                <td class="delbut">
                  <button class="delbut" (click)="deleteRow(x)">
                    <i class="ti ti-square-rounded-x"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <button type='submit' (click)="logout($event)" class="logout">
        <span class="btnTextb">Logout</span>
      </button>

      <button type="submit" (click)="memberInfo()" class="submit">
        Update
      </button>
    </form>
  </div>
</main>
