main {
  width: 100%;
  animation: transitionIn 0.75s;
}

.head {
  .title {
    color: var(--title-color);
  }
}

.totals {
  width: 100%;
  display: flex;
  .journadate {
    margin-right: 200px;
  }
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.8rem;

  .journadate {
    display: flex;
    width: calc(38% / 2 - 4px);
    flex-direction: column;
    margin: 8px 0 0;

    label {
      font-size: 14px;
      font-weight: 500;
      color: var(--text-color-3);
      margin: 0 4px;
    }

    input {
      outline: none;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: var(--text-color-3);
      border-radius: 0.45rem;
      border: 1px solid var(--border-color);
      padding: 0 10px;
      height: 36px;
      margin: 8px 8px 0 0;
    }
  }
  .export {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    width: calc(38% / 4 - 6px);
    flex-direction: column;
    margin: 8px 0 0;

    label {
      font-size: 14px;
      font-weight: 500;
      color: var(--text-color-3);
      margin: 0 4px;
    }
  }
  .export-icon {
    margin-left: auto;
    margin-right: 0;
    margin: 8px 8px 0 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 1rem;
    color: var(--secondary-color);
    background: var(--bg-color);
  }
}

.headinput {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: var(--title-color);
  background-color: var(--panel-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 0 14px;
  height: 34px;
  margin: 4px 4px;
}

/* Table */
.table-container {
  margin: auto;
  width: 100%;

  .table-content {
    width: 100%;
    margin: 20px 0;
    font-size: 0.9rem;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 0.625rem;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--border-color);

    thead {
      th {
        position: sticky;
        background-color: var(--primary-color);
        color: var(--white);
        text-align: left;
        font-weight: bold;
        padding: 12px 16px;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
      }

      .th-debit , .th-credit {
        text-align: right;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--border-color);
        background-color: var(--panel-color);
        color: var(--text-color-2);

        td {
          text-align: left;
          font-weight: 500;
          padding: 12px 16px;
          border-right: 1px solid var(--border-color);
        }

        .td-debit,
        .td-credit,
        .td-total {
          text-align: right;
        }
      }

      .tr-total {
        background-color: var(--bg-color);

        td {
          padding: 6px 16px;
        }

      }

      tr:not(.tr-total):hover {
        td {
          cursor: pointer;
          color: var(--primary-color);
          background-color: var(--panel-color);
        }
      }
    }
  }
}
