.tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .tabs__label {
    padding: 10px 16px;
    cursor: pointer;
  }
  
  .tabs__radio {
    display: none;
  }
  
  .tabs__content {
    order: 1;
    width: 100%;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
  }
  
  .tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
    transition: all 0.3s ease;
  }
  
  // .tabs__radio:checked:before{
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   height: 3px;
  //   width: 100%;
  //   background: var(--primary-color);
  //   border-radius: 12px;
  //   transition: all 0.4s ease;
  // }
  
  .tabs__radio:checked + .tabs__label + .tabs__content {
    display: block;
    width: 100%;
  }
  
  .table-filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.7rem;
  
    .filter-field {
      display: flex;
      width: calc(25% / 2 - 4px);
      flex-direction: column;
      margin: 8px 0;
  
      label {
        font-size: 14px;
        font-weight: 500;
        color: var(--dark-grey);
        margin: 0 4px;
      }
  
      input,
      select {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        border-radius: 0.45rem;
        border: 1px solid #aaa;
        padding: 0 10px;
        height: 36px;
        margin: 8px 4px 0;
      }
    }
  }
  
  /* Table */
  .table-container {
    margin: auto;
    width: 100%;
  }
  .table-content {
    width: 100%;
    margin: 20px 0;
    font-size: 0.9rem;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
  }
  .table-content thead th {
    position: sticky;
    background-color: var(--primary-color);
    color: var(--panel-color);
    text-align: left;
    font-weight: bold;
  }
  .table-content th,
  .table-content td {
    text-align: left;
    padding: 12px 15px;
  }
  .table-content thead th:nth-last-of-type(2),
  .table-content td:nth-last-of-type(2) {
    text-align: right;
  }
  .table-content th,
  .table-content td {
    border-right: 1px solid var(--border-color);
  }
  .table-content tbody tr {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--panel-color);
  }
  
  tr:hover td {
    color: var(--primary-color);
    cursor: pointer;
    background-color: var(--panel-color);
  }
  
  .table-content tbody {
    .status {
      width: 1rem;
      font-weight: 600;
    }
    .overdue {
      padding: 0.5rem 1.25rem;
      background: var(--overdue-bg);
      color: var(--overdue-font);
      border-radius: 0.45rem;
      width: fit-content;
    }
    .pending {
      padding: 0.5rem 1.25rem;
      background: var(--pending-bg);
      color: var(--pending-font);
      border-radius: 0.45rem;
      width: fit-content;
    }
    .paid {
      padding: 0.5rem 2.15rem;
      background: var(--paid-bg);
      color: var(--paid-font);
      border-radius: 0.45rem;
      width: fit-content;
    }
  }
  
  .buttonedit {
    width: 100%;
  
    .Edit {
      position: absolute;
      right: 0;
      margin-top: 1rem;
      margin-right: 20px;
      margin-left: 20px;
      height: 40px;
      width: 80px;
      outline: 2px solid var(--primary-color);
      font-family: "Poppins", sans-serif;
      background-color: var(--panel-color);
      color: var(--primary-color);
      border-radius: 5px;
      outline: 4px var(--primary-color);
      font-weight: 600;
  
      :hover {
        cursor: pointer;
      }
    }
  }
  
  .member_information {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin: 20px 100px;
  
    .information_row {
      display: flex;
      width: calc(100% / 2);
      flex-direction: column;
      text-align: left;
      margin: 8px 0px;
      padding: 0px 20px;
  
      .fields {
        padding: 6px 10px;
        border-bottom: 1px solid var(--border-color);
        margin: 0px 6%;
        color: var(--primary-color);
      }
      .fieldsdata {
        border-bottom: 1px solid var(--border-color);
        font-weight: 600;
        font-size: 14px;
      }
    }
  }