main {
  width: 100%;
  animation: transitionIn 0.75s;

  .title {
    color: var(--title-color);
  }
}

.griddy {
  width: auto;
  height: auto;
  place-items: center;
  text-align: left;
  // padding: 20px;
  // margin: 40px;
  // margin-left: 70px;
}

section.info-cards {
  padding: 100px;
}
.info-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px));
  grid-template-columns: auto auto;
  grid-gap: 50px;

  .card {
    padding: 1.5rem;
    background: var(--panel-color);
    border-radius: 0.625rem;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    grid-gap: 24px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--border-color);
    height: 10rem;
    cursor: pointer;

    .card-icon {
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      padding: 1rem;
      color: var(--secondary-color);
      background: var(--secondary-alt);
    }

    .text {
      margin-top: 0.5rem;
      margin-left: -0.5rem;
      h2 {
        font-size: 60px;
        font-weight: 600;
        margin-top: -1px;
        color: var(--title-color);
      }

      .card-topic {
        font-size: 20px;
        font-weight: 500;
        color: var(--text-color-3);
      }
    }
  }
}
