<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <img
      src="assets/image/coop-logo.png"
      class="logo"
      (click)="toggleCollapse()"
      alt=""
    />
    <div class="logo-text" @fadeInOut *ngIf="collapsed">Wahffle</div>
    <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
      <i class="ti ti-x close-icon"></i>
    </button>
  </div>

  <ul class="sidenav-nav">
    <li class="nav-item" *ngFor="let data of saNavData">
      <a class="nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="link-icon" [class]="data.icon"></i>
        <span class="link-text" @fadeInOut *ngIf="collapsed">
          {{ data.label }}
        </span>
      </a>
      <span class="tooltip">{{ data.label }}</span>
    </li>

    <li class="nav-profile" >
      <div class="profile-details">
        <img src="assets/image/user-icon.png" alt="profile-img" />
        <div class="admin-name">
          <div class="role">SuperAdmin</div>
        </div>
      </div>

      <div class="dropdown" *ngIf="hide" (click)="disappearContext()">
        <ul class="menu-nav">
          <li class="menu-item">
            <a class="menu-link" (click)="show(1)">
              <i class="ti ti-edit link-icon"></i>
              <label class="link-text">Change Password</label>
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" (click)="logout($event)">
              <i class="ti ti-logout link-icon"></i>
              <label class="link-text">Logout</label>
            </a>
          </li>
        </ul>
      </div>
      <i class="btn-down" [ngClass]="chevron?'ti ti-chevron-down':'ti ti-chevron-up'" (click)="contextMenu($event)"></i>
    </li>
    
    <li class="nav-mode">
      <div class="mode-details" @fadeInOut *ngIf="collapsed">
        <i class="mode-icon" [ngClass]="mode?'ti ti-moon':'ti ti-sun'"></i>
        <span class="mode-text" *ngIf="modeState">Light mode</span>
        <span class="mode-text" *ngIf="!modeState">Dark mode</span>
      </div>
      <div class="mode-switch">
        <input class="switch" type="checkbox" [(ngModel)]="modeState" (click)="toggleDarkTheme()">
      </div>
    </li>
    
  </ul>
</div>

<section>
  <form ngNativeValidate [formGroup]="navChange" name="form" (ngSubmit)="navChangePass()" #navbarChange="ngForm">
    <div class="pass-modal" *ngIf="showModal === 1">
      <div class="modal-wrapper">
        <div class="modal-header">
          <span class="header-title">Change Password</span>
          <i class="ti ti-x" (click)="show(2)"></i>
        </div>

        <div class="modal-body">
          <div class="input-box">
            <label class="input-label" for="password">Current Password</label>
            <input class="input-field" [type]="chcurrent ?'password':'text'" type="password" formControlName="current_pass"  [(ngModel)]="passForm.current_pass" #currentpassword required/>
            <span class="eyecurrent" (click)="ccurrent()"><i [ngClass]="current?'ti ti-eye-closed':'ti ti-eye'"></i></span><br>
          </div>
          
          <div class="input-box">
            <label class="input-label" for="password">New Password</label>
            <input class="input-field" [type]="changetype?'password':'text'" type="password"  formControlName="new_pass"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Password must be at least 8 characters, one letter, one number and one special character:" 
            name="new_pass" id= "new_pass" [(ngModel)]="passForm.new_pass" #password required minlength="8" />
            <span class="eye" (click)="viewpass()"><i [ngClass]="visible?'ti ti-eye-closed':'ti ti-eye'"></i></span><br>
          </div>

          <div class="meter">
            <strength-meter [value]="navChange.value.new_pass" (measure)="onStrengthChange($event)"></strength-meter>
          </div>

          <div class="input-box">
            <label class="input-label" for="confirm_pass">Confirm Password</label>
            <input class="input-field" [type]="cchangetype?'password':'text'" type="password" formControlName="confirm_pass"
            name="confirm_pass" id= "confirm_pass" [(ngModel)]="passForm.confirm_pass" #confirm_pass required   minlength="8"/>
            <span class="eye2" (click)="cviewpass()"><i [ngClass]="cvisible?'ti ti-eye-closed':'ti ti-eye'"></i></span><br>
          </div>

          <div class="text-danger1" *ngIf="navChange.get('confirm_pass')!.touched && navChange.get('confirm_pass')!.invalid && navChange.controls['confirm_pass'].errors!['passwordMatch']">
            <small>Password not match</small>
          </div>
        </div>
        
        <div class="modal-footer">
          <button class="btn btn-close" (click)="show(2)">Close</button>
          <button class="btn btn-save" >Change</button>
        </div>

      </div>
    </div>
  </form>
</section>