<main>



  <div class="container">
    <div class="tabs">
      <input
        type="radio"
        class="tabs__radio"
        name="tabs-coop"
        id="Transactions"
        checked
      />
      <label for="Transactions" class="tabs__label">Transactions</label>

      <div class="tabs__content">
        <div class="table-filter">
          <div class="filter-field">
            <label>Type</label>
            <select [(ngModel)]="type" name="journal-type">
              <option [ngValue]="undefined" selected>All</option>
              <option *ngFor="let type of types" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>

          <div class="filter-field">
            <label>Start Date</label>
            <input
              class="form-control"
              type="date"
              [(ngModel)]="startDate"
              name="sDate"
            />
          </div>
          <!-- DATE End -->
          <div class="filter-field">
            <label>End Date</label>
            <input
              class="form-control"
              type="date"
              [(ngModel)]="endDate"
              name="eDate"
            />
          </div>
        </div>

        <table class="table-content">
          <thead>
            <th>Date</th>
            <th>Type</th>
            <th>No.</th>

            <th>Due Date</th>
            <th>Balance</th>
            <th>Payment</th>
            <th>Status</th>
          </thead>
          <tbody *ngFor="let acc of account.reverse() | filter: type | filterInfoDate: startDate: endDate | paginate: {itemsPerPage: 10, currentPage: p}">
            <tr *ngIf="id==acc.debit.cred.transac.member.id" >
            <td >{{ acc.debit.cred.transac.transaction_date | date:'mediumDate' }}</td>
            <td >{{ acc.debit.cred.entries.entry_name }}</td>
            <td >{{ acc.debit.cred.transac.transaction_number }}</td>
            <td>{{ acc.debit.cred.due_date }}</td>
            <td>{{ acc.open_balance }}</td>
            <td>{{ acc.payment }}</td>
            <td class="status">
              <span [ngClass]="{'pending': acc.status== 'Pending',
                                'overdue': acc.status == 'Overdue',
                                'paid': acc.status == 'Paid',
                                'closed': acc.status == 'Closed'}">
              {{ acc.status }}</span></td>
          </tr>
          </tbody>
        </table>

        <div class="pagination-controls">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

      </div>



      <input
        type="radio"
        class="tabs__radio"
        name="tabs-coop"
        id="Member Details"
      />
      <label for="Member Details" class="tabs__label">Member Details</label>
      <div class="tabs__content">
        <div class="member_information">
          <div class="information_row">
            <table *ngFor="let info of item">
              <div *ngIf="id == info.id">
                <tr>
                  <th class="fields" width="30%">Member</th>

                  <td class="fieldsdata">
                    {{ info.first_name }} {{ info.middle_name }}
                    {{ info.last_name }} {{ info.suffix }}
                  </td>
                </tr>
                <tr>
                  <th class="fields" width="30%">Email</th>

                  <td class="fieldsdata">{{ info.email }}</td>
                </tr>
                <tr>
                  <th class="fields" width="30%">Mobile Number</th>

                <td class="fieldsdata">(+63) {{ [info.mobile_number.slice(0, 3), "-", info.mobile_number.slice(3,6), "-", info.mobile_number.slice(6)].join('') }}</td>
              </tr>
              <tr>
                <th class="fields" width="30%">Birthdate</th>

                <td class="fieldsdata">{{ info.birthdate | date: 'MM/dd/yyyy'}}</td>
              </tr>
              <tr>
                <th class="fields" width="30%">Gender</th>

                <td class="fieldsdata">{{ info.gender }}</td>
              </tr>
              <tr>
                <th class="fields" width="30%">Civil Status</th>

                <td class="fieldsdata">{{ info.civil_status }}</td>
              </tr>
              <tr *ngIf='info.civil_status!="Single"'>
                <th class="fields" width="30%">Spouse</th>

                  <td class="fieldsdata">{{ info.spouse }}</td>
                </tr>
                <tr>
                  <th class="fields" width="30%">Curent Address</th>

                  <td class="fieldsdata">{{ info.address }}</td>
                </tr>
              </div>
            </table>
          </div>

          <div class="information_row">
            <table *ngFor="let info of item">
              <div *ngIf="id == info.id">
                <tr>
                  <th class="fields" width="30%">Employement Status</th>
                  <td class="fieldsdata">{{ info.employment_status }}</td>
                </tr>
                <tr>
                  <th class="fields" width="30%">Occupation</th>

                  <td class="fieldsdata">{{ info.occupation }}</td>
                </tr>
                <tr>
                  <th class="fields" width="30%">Department</th>

                  <td class="fieldsdata">{{ info.department }}</td>
                </tr>
                <tr>
                  <th class="fields" width="30%">Company</th>

                  <td class="fieldsdata">{{ info.company_name }}</td>
                </tr>
                <tr>
                  <th class="fields" width="30%">Company Address</th>

                  <td class="fieldsdata">{{ info.company_address }}</td>
                </tr>
                <!-- <tr>
                <th class="fields" width="30%">Beneficiaries</th>

                <td class="fieldsdata"></td>
              </tr> -->
              </div>
            </table>
          </div>
          <div class="information_row">
            <th class="fields">Beneficiaries</th>

            <thead>
              <th width="30%">Name</th>
              <th width="30%">Date of Birth</th>
              <th width="30%">Relationship</th>
            </thead>
            <tbody>
              <table *ngFor="let b of ben">
                <div *ngIf="id == b.benificiary_id">
                  <td class="fieldsdata" width="30%">
                    {{ b.benificiary_name }}
                  </td>
                  <td class="fieldsdata" width="30%">
                    {{ b.benificiary_birthdate }}
                  </td>
                  <td class="fieldsdata" width="30%">
                    {{ b.benificiary_relation }}
                  </td>
                  <br />
                </div>
              </table>
            </tbody>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
