<head><title>Sign Up</title></head>
<main> 
    <div class="layout" >
        <div class ="inner-box">
            <div class="reg-wrap">
                <form (ngSubmit)="submitReg()" #registrationForm="ngForm" [formGroup]="registerForm" class="register-form" *ngIf="isDisplayed" @slideright2>
                    <div class="whlogo"> 
                        <img src="assets/image/coop-logo.png" alt="WAH Logo"> 
                        <p>WAHIE <br> Cooperative</p>
                    </div>

                    <div class="heading">
                        <h1>Get Started</h1>
                        <p>Create an account to login</p>
                    </div>
                    
                    <div class="text_field" >
                        <div class="text-wrap" >
                            <input type="text" name="name" formControlName="name" id="reg-name" placeholder="Name"
                           [(ngModel)]="form.name" [ngClass]="{error : getControl('name')?.errors && getControl('name')?.touched}"> <br>
                        </div>
                        <div>
                            <div class="text-danger" *ngIf="submitted && getControl('name')?.errors || getControl('name')?.errors && getControl('name')?.touched">
                                <small *ngIf="getControl('name')?.errors?.['required']">Name is required</small>
                            </div>
                        </div>

                        <div class="text-wrap">
                            <input type="email" name="email" formControlName="email" id="reg-email" placeholder="Email"
                            [(ngModel)]="form.email" [ngClass]="{error : getControl('email')?.errors && getControl('email')?.touched}"> <br>
                        </div>
                        <div>
                            <div class="text-danger" *ngIf="submitted && getControl('email')?.errors || getControl('email')?.errors && getControl('email')?.touched">
                                <small *ngIf="getControl('email')?.errors?.['required']">Email is required</small>
                            </div>
                        </div>

                        <div class="text-wrap" >
                            <input [type]="changetype?'password':'text'" name="password" formControlName="password" id="reg-pass" placeholder="Password" 
                            [(ngModel)]="form.password" [ngClass]="{error : getControl('password')?.errors && getControl('password')?.touched}">
                            <span class="eye" (click)="viewpass()"><i [ngClass]="visible?'ti ti-eye-closed':'ti ti-eye'"></i></span><br>
                        </div>
                        <div>
                            <div class="text-danger1" *ngIf="submitted && getControl('password')?.errors || getControl('password')?.errors && getControl('password')?.touched">
                                <small *ngIf="getControl('password')?.errors?.['required']">Password field is required</small>
                            </div>
                        </div>
                        
                        <div class="text-wrap">
                            <input [type]="cchangetype?'password':'text'" name="confirm_pass" formControlName="confirm_pass" id= "con-pass" placeholder="Confirm Password" 
                            [(ngModel)]="form.confirm_pass"   [ngClass]="{error : (getControl('confirm_pass')?.errors && getControl('confirm_pass')?.touched) || (registerForm.errors?.['passwordMismatchError'] && getControl('confirm_pass')?.touched) }">
                            <span class="eye2" (click)="cviewpass()"><i [ngClass]="cvisible?'ti ti-eye-closed':'ti ti-eye'"></i></span>
                        </div>
                        <div>
                            <div class="text-danger2" *ngIf="submitted && getControl('confirm_pass')?.errors || getControl('confirm_pass')?.errors && getControl('confirm_pass')?.touched">
                                <small *ngIf="getControl('confirm_pass')?.errors?.['required']">Confirm Password field is required</small>
                            </div>
                        </div>
                        <div>
                          <div class="text-danger2" *ngIf="registerForm.errors?.['passwordMismatchError'] && getControl('confirm_pass')?.touched">
                            <small >Password Not Match</small>
                          </div>
                        </div>

                    </div>
                    <div >
                        
                    </div>

                        <div class="terms">
                            <span class="check" (click)="checkBox()" required><i [ngClass]="checkvisible?'ti ti-square':'ti ti-square-check-filled'"></i></span>  
                            <p>I agree to the <a href="#" class="condition"> Terms & Condition</a></p>
                        </div>
                            <button type="submit" class="submit"> Sign Up </button>
                            <p class="account">Already have an account? <a href="login">Login</a></p>
                </form>
            </div>    
                <!-- VECTOR BACKGROUND -->
                <div class="reg-vector" *ngIf="isDisplayed" @slideleft2 >
                    <img src="assets/image/login.png " class="register"  >
                </div>
        </div>
    </div>
</main>