main {
  width: 100%;
  animation: transitionIn 0.75s;

  .title {
    color: var(--primary-color);
  }
}

/* Filtering */
.table-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0.7rem;

  .filter-field1 {
    display: flex;
    width: calc(40% - 10px);
    flex-direction: column;
    margin: 8px 0;

    label {
      font-size: 14px;
      font-weight: 500;
      color: var(--dark-grey);
    }

    input,
    select {
      outline: none;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #333;
      border-radius: 0.45rem;
      border: 1.6px solid #d1cccc;
      padding: 0 10px;
      height: 40px;
      margin: 8px 0 0;
    }
  }

  .filter-field2 {
    display: flex;
    width: calc(30% - 10px);
    flex-direction: column;
    margin: 8px 0;

    label {
      font-size: 14px;
      font-weight: 500;
      color: var(--dark-grey);
    }

    input,
    select {
      outline: none;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #333;
      border-radius: 0.45rem;
      border: 1.6px solid #d1cccc;
      padding: 0 10px;
      height: 40px;
      margin: 8px 0 0;
    }
  }
  .filter-field3 {
    display: flex;
    width: calc(30% - 10px);
    flex-direction: column;
    margin: 8px 0;

    label {
      font-size: 14px;
      font-weight: 500;
      color: var(--dark-grey);
    }

    input,
    select {
      outline: none;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #333;
      border-radius: 0.45rem;
      border: 1.6px solid #d1cccc;
      padding: 0 10px;
      height: 40px;
      margin: 8px 0 0;
    }
  }
}

/* Table */
.table-container {
  margin: auto;
  width: 100%;

  .table-content {
    width: 100%;
    margin: 20px 0;
    font-size: 0.9rem;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 0.625rem;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--border-color);

    thead {
      th {
        position: sticky;
        background-color: var(--primary-color);
        color: var(--panel-color);
        text-align: left;
        font-weight: bold;
        padding: 12px 16px;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--border-color);
        background-color: var(--panel-color);

        td {
          text-align: left;
          font-weight: 500;
          padding: 16px 16px;
          border-right: 1px solid var(--border-color);
          width: 20%;
        }

        td:last-child {
          width: 40%;
        }
      }

      tr:hover {
        td {
          cursor: pointer;
          color: var(--primary-color);
          background-color: var(--panel-color);
        }
      }
    }
  }
}

/* Pagination */
.pagination-controls {
  text-align: end;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 10px 20px;
  padding: 4px 0px;
}

