
<main>
  <h1 class="title">Activity Logs</h1>

  <div class="table-filter">
    <!-- Search -->
    <div class="filter-field1">
      <label for="search" placeholder="Search item">Search</label>

      <input class="form-control" type="text" placeholder="Search" [(ngModel)]= "term" (ngModelChange)="startDate">
    </div>
    <!-- Type -->
    <div class="filter-field2">
      <label>Start Date</label>
      <input class="form-control" type="date" [(ngModel)]="startDate" name="sDate">
    </div>
    <!-- Status -->
    <div class="filter-field3">
      <label>End Date</label>
      <input class="form-control" type="date" [(ngModel)]="endDate" name="eDate">
    </div>
  </div>

  <div class="table-container">
    <table class="table-content">
      <thead>
        <tr>
          <th>Date and Time</th>
          <th>Name</th>
          <th>Department</th>
          <th>Activity</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let e of item.slice().reverse()  | filter: term| filterlogDate: startDate: endDate | paginate: {itemsPerPage: 10, currentPage: p} ">
          <td>{{e.created_at | date: 'MMM d, y, hh:mm:ss a'  }}</td>
          <td>{{e.name}}</td>
          <td>{{e.department}}</td>
          <td>{{e.activity}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-controls">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</main>
